/*-------------------------------------------------------------------------------*/
/*----------------------------------- COLOURS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

//GRAYSCALE
$brand-white:		#ffffff;
$brand-lightgray:	#c2c2c2;
$brand-gray:		#adadad;
$brand-ash:			#2f2b2c;
$brand-charcoal:	#221f1f;
$brand-black: 		#000000;

//HUES
$brand-crimson:		#b41225;
$brand-carmine: 	#d41633;
$brand-vermillion: 	#ff342e;
$brand-royal:		#2268ab;
$brand-cerulean: 	#5296d7;
$brand-skyblue: 	#e2eff8;
$brand-paleblue:	#f1f7fb;