// $fallback-stack-serif: Georgia, "Times New Roman", Times, serif ;
// $fallback-stack-san-serif: Georgia, "Times New Roman", Times, serif ;

/*-------------------------------------------------------------------------------*/
/*----------------------------------- COLOURS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Gotham-Book';
    src: url('../static/fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../static/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../static/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('../static/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('../static/fonts/LeagueSpartan-Bold.otf') format('opentype');
}

// @mixin Font-Name {
//     font-family: 'Font-Name', $fallback-stack-serif;
//     font-weight: 400;
//     font-style: normal;
// }
