body {
	padding-top: 62px;
	margin: 0px;

	@media (min-width: $screen-md-min) {
		padding-top: 0;
	}
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

#app {
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1200px;
}

.fullbleed-background-wrap + .container {
	margin-top: 60px;
}

.standard_transition {
	transition: all 0.2s;
}

.slow_transition {
	transition: all 0.6s;
}

.clearfix {
	content: '';
	height: 0px;
	display: table;
	clear: both;
}

.centered {
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translate(0, -50%);
}

.centered-cleanup_tablet {

	@media (max-width: 991px) {
		position: relative;
		top: auto;
		margin: auto;
		transform: none;
	}
}

.centered-cleanup_mobile {

	@media (max-width: 767px) {
		position: relative;
		top: auto;
		margin: auto;
		transform: none;
	}
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.access-hidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.lead-text {
	@include gotham_black_leadtext();
	display: block;
	margin-bottom: 10px;
}

.header_style-1 {
	@include league_bold_header1();
}

.header_style-2 {
	@include league_bold_header2();
}

.header_style-3 {
	@include league_bold_header3();

	margin-bottom: 20px;
}

.header_cutoff {
	@include league_bold_cutoff();

	margin-top: 20px;
}

.paragraph_style-1 + .header_style-3 {
	margin-top: 40px;
}

.text-blue {
    color: $brand-royal;
    text-decoration: none;

    a {
		color: $brand-royal;
		text-decoration: none;

		@extend .standard_transition;

		&:hover {
	        color: $brand-crimson;
	    }
    }
}

.content_excerpt {
	margin-left: 20px;
	border-left: 2px solid $brand-carmine;
	padding-left: 16px;
	font-family: 'Gotham-Bold' !important;
}

.paragraph_style-1,
.content_excerpt {
	@include gotham_paragraph();

	margin-bottom: 20px;

	strong {
		font-family: 'Gotham-Bold';
	}

	em {
		font-style: italic;
	}
}

.callout_style-1 {
	@include gotham_book_callout();

	margin-bottom: 10px;
}

.list_style-1 {

	> li {
		@include gotham_paragraph();

		position: relative;
		padding-left: 30px;
		margin-bottom: 20px;

		&::before {
			position: absolute;
			top: 6px;
			left: 0;
			content: '';
			width: 7px;
			height: 7px;
			background-image: url('../static/images/icon_dots.svg');
			background-repeat: no-repeat;
			background-size: 7px;
		}

		> ul {
			margin-top: 20px;
			margin-left: 30px;

			> li {
				margin-bottom: 10px;

				&::before {
					content: "\2014 ";
				}
			}
		}
	}
}

.ordered-list_style-1 {

	li {
		position: relative;
		padding-left: 55px;
		margin-bottom: 30px;
		counter-increment: step-counter;

		&::before {
			font-family: 'Gotham-Bold';
			font-size: 48px;
			color: $brand-carmine;
			position: absolute;
			left: 0;
			top: 0;
			content: counter(step-counter);
		}
	}

	p {
		@include gotham_paragraph();

		margin-bottom: 10px;
	}
}

.ordered-list_aside {
	@include gotham_book_callout();

	margin-left: 20px;
	border-left: 2px solid $brand-carmine;
	padding-left: 16px;
	margin-bottom: 16px;
}

.content_wysiwyg {
	margin-bottom: 60px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 80px;
	}

	h2 {
		@extend .header_style-2;
		margin-bottom: 20px;
	}

	h3 {
		@extend .header_style-3;
		margin-bottom: 10px;
	}

	p {
		@extend .paragraph_style-1;
	}

	> ul {
		@extend .list_style-1;
	}

	> ol {
		@extend .ordered-list_style-1;
	}

	.video-container {
		margin-bottom: 20px;
	}
}

.btn-global {
	display: block;
	font-family: 'Gotham-Medium';
    font-size: 16px;
    line-height: (26 / 16);
    text-align: center;
    text-decoration: none;

    @media (min-width: $screen-sm-min) {
		display: table;
		text-align: left;
    }

    @extend .standard_transition;

    &.mini {
    	font-size: 14px;
    }

    &.solid {
    	padding: 14px 50px;
    	color: $brand-white;
    	background-color: $brand-charcoal;
    	background-repeat: repeat-x;
    	background-position: center bottom 2px;
    	border: none;

    	&:hover {
    		background-color: $brand-carmine;
    		background-image: url('../static/images/button_dots.png');
    	}
    }

    &.hollow, &.hollow--white {
    	padding: 12px 48px;
    	border: 2px solid;
    }

    &.hollow {
    	color: $brand-black;

    	&:hover {
    		color: $brand-carmine;
    	}
    }

    &.hollow--white {
    	color: $brand-white;
    	border-color: $brand-white;

    	&:hover {
    		color: $brand-crimson;
    		background-color: $brand-white;
    	}
    }

    &.auto-width {
    	display: table;
    	width: auto;
    }

    &.align-center {
		margin: 0 auto 60px;
	}
}

.btn-gallery_wrap {
	font-size: 0px;
}

.btn-close {
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
}

.btn-close_icon {
    width: 30px;
    height: 30px;
    fill: $brand-carmine;

    @extend .standard_transition;
}

.btn-gallery {
	width: 41px;
	height: 47px;
	padding: 0px;
	background-color: $brand-cerulean;
	display: inline-block;
	appearance: none;
	border: none;
	cursor: pointer;

	&.left .btn-gallery_img {
		transform: rotate(180deg);
	}

	&:hover .btn-gallery_img {
		opacity: 0.6;
	}
}

.btn-gallery_img {
	width: 8px;
	height: 14px;
	fill: $brand-white;

	@extend .standard_transition;
}

.btn-play_wrap {
	display: table;

	.btn-play {
		position: relative;
		margin: 0 auto;
	}
}

.btn-play {
	display: block;
	padding: 0;
	background-color: $brand-white;
	border-radius: 40px;
	appearance: none;
	border: none;
	cursor: pointer;

	@extend .standard_transition;

	&::before {
		position: absolute;
		content: '';
		border-radius: inherit;
		background-color: transparent;
		animation: rotate 3s linear infinite;
		border: 2px dotted white;
		transition: opacity 0.4s, top 0.2s, left 0.2s;
	}

	&.large {
		width: 66px;
		height: 66px;

		&::before {
			width: 66px;
			height: 66px;
			top: 0px;
			left: 0px;
			opacity: 0;
		}

		&:hover {
			width: 78px;
			height: 78px;

			&::before {
				top: 6px;
				left: 6px;
				opacity: 1;
			}
		}
	}

	&.small {
		width: 50px;
		height: 50px;

		&::before {
			width: 50px;
			height: 50px;
			top: 0px;
			left: 0px;
			opacity: 0;
		}

		&:hover {
			width: 60px;
			height: 60px;

			&::before {
				top: 5px;
				left: 5px;
				opacity: 1;
			}
		}
	}

	&:hover {
		background-color: $brand-carmine;

		.btn-play_icon {
			fill: $brand-white;
		}
	}
}

.btn-play_icon {
	width: 17px;
	height: 27px;
	fill: $brand-carmine;
	margin-left: 4px;

	@extend .standard_transition;

	&.small {
		width: 13px;
		height: 20px;
	}
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
    }
}

.table-global {
	width: 100%;
}

.table-global + p {
	margin-top: 30px;
}

.table-global_head,
.table-global_item {
	font-size: 15px;
	text-align: right;
	padding: 20px;

	@media (min-width: $screen-sm-min) {
		text-align: left;
		padding: 25px 15px 25px 40px;
	}
}

.table-global_head {
	font-family: 'Gotham-Bold';
	color: $brand-white;
	background-color: $brand-cerulean;
	display: none;

	@media (min-width: $screen-sm-min) {
		display: table-cell;
	}
}

.table-global_item {
	font-family: 'Gotham-Book';
	font-size: 15px;
	color: $brand-charcoal;
	display: block;

	@media (min-width: $screen-sm-min) {
		display: table-cell;
	}

	&:nth-of-type(odd) {
		background-color: $brand-skyblue;

		@media (min-width: $screen-sm-min) {
			background-color: transparent;
		}
	}

	&:nth-of-type(even) {
		background-color: $brand-paleblue;

		@media (min-width: $screen-sm-min) {
			background-color: transparent;
		}
	}

	&:before {
		content: attr(data-th);
		font-family: 'Gotham-Bold';
		text-align: left;
		display: inline;
		float: left;

		@media (min-width: $screen-sm-min) {
			display: none;
		}
    }

	&.bold {

		@media (min-width: $screen-sm-min) {
			font-family: 'Gotham-Bold';
		}
	}
}

.table-global_row {
	display: block;
	margin-bottom: 20px;

	@media (min-width: $screen-sm-min) {
		display: table-row;
		margin-bottom: 0;
	}

	&:nth-of-type(odd) {
		@media (min-width: $screen-sm-min) {
			background-color: $brand-paleblue;
		}
	}

	&:nth-of-type(even) {
		@media (min-width: $screen-sm-min) {
			background-color: $brand-skyblue;
		}
	}

	&:first-child {
		background-color: $brand-cerulean;
	}
}

.big-number {
	font-family: 'LeagueSpartan-Bold';
    font-size: 50px;
    line-height: (60 / 50);
    color: $brand-charcoal;
}

.circle-image {
	position: relative;
	width: 200px;
    height: 200px;

	&::before,
    &::after {
        position: absolute;
    }

    &::before {
    	top: -8px;
        right: -20px;
        z-index: -2;
        display: block;
        width: inherit;
        height: inherit;
        content: '';
        background-image: url('../static/images/pattern_dots2.svg');
        background-size: 12px;
        border-radius: 100px;
        opacity: 0.5;
    }

    &::after {
    	top: -40px;
        right: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 1px;
        height: 280px;
        margin: 0 auto;
        content: '';
        background-color: $brand-carmine;
        transform: rotate(45deg);
    }

    &.small {

    	img {
    		border-radius: 100px;
    	}
    }

    &.large {

    	@media (min-width: $screen-sm-min) {
    		width: 315px;
    		height: 315px;
    	}

    	&::before {

    		@media (min-width: $screen-sm-min) {
    			top: -17px;
        		right: -20px;
    			border-radius: 157.5px;
    		}
    	}

    	&::after {

    		@media (min-width: $screen-sm-min) {
    			top: -40px;
				width: 1px;
				height: 395px;
			}
    	}

    	img {
    		border-radius: 157.5px;
    	}
    }

    &.reverse-line {

    	&::after {
    		transform: rotate(-45deg);
    	}
    }
}

.red_content {
    padding: 40px 20px;
    background-color: $brand-crimson;

    @media (min-width: $screen-md-min) {
        padding: 0 40px;
    }

    .lead-text,
    .header_style-2,
    .paragraph_style-1,
    .callout_style-1 {
        color: $brand-white;
    }

    .lead-text {
        margin-bottom: 10px;
    }

    .header_style-2 {
        margin-bottom: 26px;
    }

    .callout_style-1 + .btn-global {
        margin-top: 40px;
    }

    .btn-global {
        width: auto;
        margin-bottom: 0;
    }

    .centered {

        @extend .centered-cleanup_tablet;
    }
}

@mixin floating-divider($color, $spacing-top, $spacing-left) {
	display: block;
    width: 50px;
    height: 2px;
    margin: $spacing-top $spacing-left 0;
    content: '';
    background-color: $color;
}

.black_full-bleed {
	padding: 80px 0;
	background-color: $brand-charcoal;

	.lead-text {
        color: $brand-cerulean;
    }

    .header_style-2,
    .header_style-3,
    .paragraph_style-1,
    .callout_style-1 {
        color: $brand-white;
    }

    .header_style-2 {
        margin-bottom: 20px;
    }
}

.fullbleed-background-wrap {
	padding: 60px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.red_content, .slider_outer-content {
		margin-bottom: 0;
	}
}

.global-form {
	position: relative;
	padding: 60px 15px;
	margin-bottom: 60px;
	border: 10px solid #efefef;

	@media (min-width: $screen-sm-min) {
		padding: 96px 140px;
		border: 27px solid #efefef;
	}

	.btn-global:last-child {
		margin-bottom: 0;
	}
}

.global-form_label-wrap:last-child {

	.global-form_text {
		margin-bottom: 0 !important;
	}
}

.global-form_label {

	@extend .callout_style-1;
}

.global-form_title {
	position: absolute;
	top: -27px;
	right: 0;
	left: 0;
	display: table;
	width: 270px;
	padding: 10px 5px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
	color: $brand-white;
	background-color: $brand-crimson;

	@extend .header_style-3;

	@media (min-width: $screen-sm-min) {
		width: 332px;
		padding: 20px 30px;
		font-size: 20px;
	}
}

.global-form_text,
.global-form_dropdown {
	width: 100%;
	padding: 6px 5px;
	margin-bottom: 40px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $brand-gray;
	appearance: none;

	@extend .paragraph_style-1;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $brand-charcoal;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $brand-charcoal;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $brand-charcoal;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $brand-charcoal;
    }
}

.global-form_dropdown {
    background-image: url(../static/images/icon_dot-arrow2.png);
    background-repeat: no-repeat;
    background-position: center right 13px;
}
