//Mixins Only
@mixin gotham_bold_styleguide_header() {
	font-family: 'Gotham-Bold';
    font-size: 22px;
    font-weight: 400;
    line-height: (26 / 30);
	color: $brand-gray;

	@media (min-width: $screen-md-min) {
		font-size: 30px;
	}
}

@mixin gotham_bold_styleguide_subhead() {
	font-family: 'Gotham-Medium';
    font-size: 18px;
    font-weight: 400;
    line-height: (26 / 20);
	color: $brand-gray;

	@media (min-width: $screen-md-min) {
		font-size: 20px;
	}
}

@mixin gotham_book_nav() {
    font-family: 'Gotham-Book';
    font-size: 12px;
    font-weight: 400;
    line-height: (16 / 12);
	color: $brand-lightgray;
}

@mixin gotham_md_nav() {
	font-family: 'Gotham-Medium';
    font-size: 12px;
    font-weight: 400;
    line-height: (15 / 15);
	color: $brand-white;

	@media (min-width: $screen-md-min) {
		font-size: 13px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 15px;
	}
}

@mixin gotham_book_dropdown() {
	font-family: 'Gotham-Book';
    font-size: 12px;
    font-weight: 400;
    line-height: (20 / 14);
	color: $brand-white;

	@media (min-width: $screen-lg-min) {
		font-size: 14px;
	}
}

@mixin gotham_bold_search() {
	font-family: 'Gotham-Bold';
	font-size: 20px;
	font-weight: 400;
	line-height: (28 / 28);
	color: $brand-charcoal;

	@media (min-width: $screen-sm-min) {
		font-size: 28px;
	}
}

@mixin gotham_black_leadtext() {
	font-family: 'Gotham-Black';
	font-size: 12px;
	font-weight: 400;
	line-height: (18 / 12);
	letter-spacing: 0.100em;
	color: $brand-crimson;
	text-transform: uppercase;
}

@mixin league_bold_header1() {
	font-family: 'LeagueSpartan-Bold';
	font-size: 38px;
	line-height: (50 / 38);
	letter-spacing: 0.040em;
	color: $brand-charcoal;
}

@mixin league_bold_header2() {
	font-family: 'LeagueSpartan-Bold';
	font-size: 24px;
	line-height: (36 / 28);
	color: $brand-charcoal;

	@media (min-width: $screen-sm-min) {
		font-size: 28px;
	}
}

@mixin league_bold_header3() {
	font-family: 'LeagueSpartan-Bold';
	font-size: 20px;
	line-height: (30 / 20);
	color: $brand-charcoal;
}

@mixin league_bold_cutoff() {
	font-family: 'LeagueSpartan-Bold';
	font-size: 50px;
	line-height: (100 / 100);
	letter-spacing: 0.040em;
	color: $brand-charcoal;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 75px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 100px;
	}
}

@mixin gotham_paragraph() {
	font-family: 'Gotham-Book';
    font-size: 16px;
    line-height: (26 / 16);
	color: $brand-charcoal;

	strong {
		font-family: 'Gotham-Bold';
	}

	a {
		text-decoration: none;
		color: $brand-carmine;
		border-bottom: 2px dotted;

		&:hover {
			border-bottom: 2px solid;
		}
	}
}

@mixin gotham_book_callout() {
	font-family: 'Gotham-Book';
    font-size: 14px;
    line-height: (22 / 14);
	color: $brand-charcoal;
}

@mixin gotham_md_mobile_nav() {
	font-family: 'Gotham-Medium';
	font-size: 19px;
	color: $brand-white;
}

@mixin gotham_book_mobile_nav() {
	font-family: 'Gotham-Book';
	font-size: 17px;
	color: $brand-white;
}
