<template>
	<div id="slider">
	  <slider animation="fade" indicators="hidden" :control-btn="false">
	    <p style="line-height: 280px; font-size: 5rem; text-align: center;" v-if="!images.length">Loading...</p>
	    <slider-item v-for="(i, index) in images" :key="index" :on-click="test">
	      <div :style="i"></div>
	    </slider-item>
	  </slider>
	</div>
</template>

<script>
    import { Slider, SliderItem } from 'vue-easy-slider'
    export default {
      name: 'about-carousel',
      data () {
        return {
          images: [],
        }
      },

      methods: {
        test () {console.log(1)}
      },

      components: {
        'slider': Slider,
        'slider-item': SliderItem
      },

      mounted () {
        setTimeout(() => {
          this.images = [
            { backgroundColor: '#3f51b5', width: '200px', height: '100%' },
            { backgroundColor: '#eee', width: '300px', height: '100%' },
            { backgroundColor: '#f44336', width: '100px', height: '100%' },
          ]
        }, 1000)
      },
    }
</script>

<style lang="scss">
    #slider {
        width: 100%;
    }
</style>