<template>
    <div class="col-md-8 col-sm-12">
        <swiper class="home__about--gallery-wrapper" :options="swiperOption">
            <swiper-slide class="gallery__wrapper">
                <div class="home__gallery-image--container" style="background-image: url('../static/images/carousel_test-img.jpg')">
                    <img class="gallery__image" src="../static/images/video_testbackground3.jpg" />
                </div>
            </swiper-slide>
            <swiper-slide class="gallery__wrapper">
                <div class="home__gallery-image--container" style="background-image: url('../static/images/carousel_test-img.jpg')">
                    <img class="gallery__image" src="../static/images/video_testbackground3.jpg" />
                </div>
            </swiper-slide>
            <swiper-slide class="gallery__wrapper">
                <div class="home__gallery-image--container" style="background-image: url('../static/images/carousel_test-img.jpg')">
                    <img class="gallery__image" src="../static/images/video_testbackground3.jpg" />
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
    import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
        name: 'about-test',

        components: {
            swiper,
            swiperSlide
        },

        data() {
            return {
                swiperOption: {
                    // autoplay: 200,
                    effect: 'fade',
                    noSwiping: true,
                    fade: {
                        crossFade: true
                    }
                }
            }
        }
    }
</script>

<style lang="scss">

</style>
