<template>
	<div class="big-quote">
        <div class="big-quote_image-container circle-image small">
            <img :src="headshot" :alt="name">
        </div>
        <div class="big-quote_content">
            <p class="paragraph_style-1"><em v-text="quote"></em></p>
            <div class="big-quote_name" v-text="name"></div>
            <div class="callout_style-1" v-text="title"></div>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-quote',
        props: {
            name: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            quote: {
                type: String,
                required: true
            },
            headshot: {
                type: String,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .big-quote {
        position: relative;
        display: table;
        margin: 170px auto 60px;

        @media (min-width: $screen-sm-min) {
            margin: 170px auto;
        }

        &::before {
            position: absolute;
            top: -170px;
            right: 0;
            left: 0;
            display: block;
            width: 49px;
            height: 49px;
            padding-top: 8px;
            margin: 0 auto;
            font-family: 'Gotham-Medium';
            font-size: 56px;
            color: $brand-lightgray;
            text-align: center;
            content: '"';
            border: 2px solid;
            border-radius: 25px;
        }

        &::after {
            position: absolute;
            top: -110px;
            right: 0;
            left: 0;
            display: block;
            width: 1px;
            height: 70px;
            margin: 0 auto;
            content: '';
            background-color: $brand-lightgray;
        }
    }

    .big-quote_image-container,
    .big-quote_content {

        @media (min-width: $screen-sm-min) {
            float: left;
        }
    }

    .big-quote_image-container {
        margin: 0 auto 20px;

        @media (min-width: $screen-sm-min) {
            margin: auto;
        }
    }

    .big-quote_content {
        text-align: center;

        @media (min-width: $screen-sm-min) {
            max-width: 410px;
            margin-left: 50px;
            text-align: left;
        }
    }

    .big-quote_name {
        margin-bottom: 0;
        font-family: 'Gotham-Bold';
        color: $brand-crimson;

        @extend .paragraph_style-1;
    }
</style>
