<template>
<div class="hero" v-bind:class="{ black: alternatecolor === true }" :style="'background-image: url(' + backgroundimage + ')'">
    <div v-if="decorativeheaders" v-for="header in decorativeheaders" class="hero_big-head" v-bind:class="{ [header.position]: true }" v-text="header.title"></div>
    <div v-if="mainheader" class="hero_header_faux spaced" v-text="mainheader"></div>
    
    <!-- BEYOND THIS POINT, HERO STRUCTURE CHANGES IN CLUSTERS -->

    <!-- HERO VERSION 1 -->
    <div v-if="version == 1" class="container hero_full-height-adjust">
        <div class="row hero_full-height-adjust">
            <div class="col-md-4 hero_centered-columnm">
                <div class="hero_portrait">
                    <img class="hero_portrait_img" :src="secondaryimage.src" :alt="secondaryimage.alt">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 hero_centered-columnm">
                <div class="hero_main-img-right no_max-width">
                    <div class="hero_main-img">
                        <img :src="mainimage.src" :alt="mainimage.alt">
                    </div>
                    <div class="hero_content-positioner max-widthed">
                        <h1 v-if="mainheader" class="hero_header" v-text="mainheader"></h1>
                        <div class="hero_content-box iconed">
                            <p class="hero_content-box_p accented" v-text="contentparagraph"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO VERSION 2 -->
    <div v-if="version == 2" class="container hero_full-height-adjust">
        <div class="row hero_row-bottom">
            <div class="col-md-7">
                <div class="hero_main-img-left">
                    <div class="hero_main-img">
                        <img :src="mainimage.src" :alt="mainimage.alt">
                    </div>
                    <div class="hero_content-positioner max-widthed">
                        <div class="hero_content-box bordered iconed">
                            <p class="hero_content-box_p" v-text="contentparagraph"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-lg-offset-1">
                <div class="hero_row-bottom_centered">
                    <h1 v-if="mainheader" class="hero_header spaced" v-text="mainheader"></h1>
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO VERSION 3 -->
    <div v-if="version == 3" class="container hero_full-height-adjust">
        <div class="row hero_full-height-adjust">
            <div class="col-md-7 hero_centered-columnm">
                <div class="hero_main-img-left">
                    <div class="hero_main-img">
                        <img :src="mainimage.src" :alt="mainimage.alt">
                    </div>
                </div>
            </div>
            <div class="col-md-5 hero_centered-columnm">
                <h1 v-if="mainheader" class="hero_header spaced" v-text="mainheader"></h1>
                <div class="hero_content-positioner dropped no-image_margin">
                    <div class="hero_content-box">
                        <h3 class="hero_content-box_header" v-text="contentheader"></h3>
                        <p class="hero_content-box_p accented" v-text="contentparagraph"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HERO VERSION 4 -->
    <div v-if="version == 4" class="container hero_full-height-adjust">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="hero_header news">News <span class="special-ampersand">&</span> Events</h1>
            </div>
        </div>
        <div class="row hero_news-height-adjust">
            <div class="col-md-7 hero_centered-columnm">
                <div class="hero_main-img-left">
                    <div class="hero_main-img">
                        <img :src="mainimage.src" :alt="mainimage.alt">
                    </div>
                </div>
            </div>
            <div class="col-md-5 hero_centered-columnm">
                <h3 v-if="contentheader" class="hero_header normal-margin"><span class="mini" v-text="contentheader"></span></h3>
                <div class="hero_content-positioner no-image_margin">
                    <div class="hero_content-box">
                        <p class="hero_content-box_p accented" v-text="contentparagraph"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
	export default {
		name: 'global-hero',
        props: {
            version: {
                type: Number
            },
            backgroundimage: {
                type: String,
                required: true,
            },
            alternatecolor: {
                type: Boolean
            },
            decorativeheaders: {
                type: Array
            },
            mainheader: {
                type: String,
            },
            mainimage: {
                type: Object,
                required: true
            },
            secondaryimage: {
                type: Object
            },
            contentheader: {
                type: String
            },
            contentparagraph: {
                type: String,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    /* ------------------------ */

    /* HERO STRUCTURE MODIFIERS */

    /* ------------------------ */

    .hero {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 0 70px;
        margin-bottom: 80px;
        overflow: hidden;
        background-color: $brand-carmine;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-md-min) {
            height: 630px;
            padding: 0;
        }

        @media (min-width: $screen-lg-min) {
            height: 690px;
        }

        &.black {

            .hero_big-head {
                color: #333030;
            }
        }

        .video-container {
            margin-top: 20px;

            @media (min-width: $screen-md-min) {
                margin-top: 0;
            }
        }
    }

    .hero_full-height-adjust {

        @media (min-width: $screen-md-min) {
            position: relative;
            height: 100%;
        }
    }

    .hero_news-height-adjust {

        @media (min-width: $screen-md-min) {
            position: relative;
            height: calc(100% - 91px);
        }
    }

    .hero_centered-columnm {

        @media (min-width: $screen-md-min) {
            position: relative;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
    }

    .hero_row-bottom {

        @media (min-width: $screen-md-min) {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
        }

        .hero_row-bottom_centered {

            @media (min-width: $screen-md-min) {
                position: relative;
                top: 50%;
                margin: 0 auto;
                transform: translate(0, -50%);
            }
        }
    }

    /* ---------------------------------- */

    /* HERO UTILITY AND AESTHETIC HEADERS */

    /* ---------------------------------- */

    .hero_big-head {
        position: absolute;
        color: $brand-vermillion;
        text-align: center;

        @extend .header_cutoff;

        &.top-right {
            top: -30px;
            right: 0;
            left: 0;

            @media (min-width: $screen-md-min) {
                top: -40px;
                right: 20px;
                left: auto;
            }
        }

        &.top-left {
            top: -30px;
            right: 0;
            left: 0;

            @media (min-width: $screen-md-min) {
                top: -40px;
                right: auto;
                left: 310px;
            }
        }

        &.bottom-right {
            right: 0;
            bottom: -20px;
            left: 0;

            @media (min-width: $screen-md-min) {
                right: -20px;
                bottom: -40px;
                left: auto;
            }
        }

        &.bottom-left {
            right: 0;
            bottom: -20px;
            left: 0;

            @media (min-width: $screen-md-min) {
                right: auto;
                bottom: -40px;
                left: -20px;
            }
        }

        &.left-border {
            bottom: -50px;
            left: 40px;
            transform: rotate(-90deg);
            transform-origin: 0% 50%;
        }

        &.right-border {
            right: -20px;
            bottom: 0;
            transform: rotate(90deg);
            transform-origin: 100% 0%;
        }
    }

    .hero_header,
    .hero_header_faux {
        position: relative;
        color: $brand-white;

        @extend .header_style-1;

        &.spaced {
            margin-bottom: 90px;
            text-align: center;

            &::after {
                position: absolute;
                bottom: -80px;
                left: 50%;
                width: 1px;
                height: 80px;
                content: '';
                background-color: $brand-white;
            }
        }

        &.normal-margin {
            margin-bottom: 20px;
        }

        &.news {
            margin-top: 40px;
            text-align: center;
        }

        .mini {
            display: block;
            color: $brand-white;

            @extend .header_style-2;
        }

        .special-ampersand {
            display: inline-block;
            width: 51px;
            height: 51px;
            padding-top: 11px;
            font-size: 24px;
            text-align: center;
            vertical-align: bottom;
            border: 2px solid $brand-white;
            border-radius: 26px;
        }
    }

    .hero_header {
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
        }
    }

    .hero_header_faux {
        z-index: 1;
        display: block;
        margin-bottom: 50px !important;

        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    /* ------------------------------ */

    /* HERO IMAGE TYPES AND MODIFIERS */

    /* ------------------------------ */

    .hero_portrait {
        position: relative;
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
        }

        &::after {
            position: absolute;
            bottom: -20px;
            left: 20px;
            z-index: 2;
            display: block;
            width: 370px;
            height: 40px;
            content: '';
            background-image: url('../static/images/background-dotpattern2.svg');
            background-position: top center;
        }
    }

    .hero_landscape {
        position: relative;
    }

    .hero_portrait_img,
    .hero_landscape_img {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .hero_main-img-left,
    .hero_main-img-right {
        position: relative;
        min-width: 100%;
        margin-right: -15px;
        margin-left: -15px;
        font-size: 0;

        @media (min-width: $screen-md-min) {
            width: auto;
            margin-right: 0;
            margin-left: 0;
        }

        &.no_max-width img {

            @media (min-width: $screen-md-min) {
                max-width: none;
            }
        }
    }

    .hero_main-img {
        height: 314px;
        overflow: hidden;

        @media (min-width: $screen-md-min) {
            width: auto;
            height: auto;
        }

        img {
            min-width: 100%;

            @media (max-width: 768px) {
                position: relative;
                top: 50%;
                max-width: none;
                transform: translateY(-50%);
            }

            @media (min-width: $screen-md-min) {
                width: auto;
            }
        }
    }

    .hero_main-img-right {

        .hero_content-positioner {

            @media (min-width: $screen-md-min) {
                bottom: -60px;
                left: -55px;
            }
        }
    }

    .hero_main-img-left {

        .hero_content-positioner {
            bottom: 0;
            left: 0;
        }
    }

    /* ---------------- */

    /* HERO CONTENT BOX */

    /* ---------------- */

    .hero_content-positioner {
        position: relative;
        z-index: 2;
        margin: -20px 15px 0 15px;

        @media (min-width: $screen-md-min) {
            position: relative;
            margin: auto;
        }

        &.no-image_margin {
            margin: -20px 0 0 0;

            @media (min-width: $screen-md-min) {
                margin: auto;
            }
        }

        &.max-widthed {

            @media (min-width: $screen-md-min) {
                position: absolute;
                max-width: 370px;
            }
        }

        &.dropped {

            @media (min-width: $screen-md-min) {
                margin: 0 0 -180px 0;
            }
        }

        .hero_header {
            margin-bottom: 20px;
        }
    }

    .hero_content-box {
        padding: 30px;
        background-color: $brand-white;

        @media (min-width: $screen-md-min) {
            position: relative;
            padding: 35px 40px;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
        }

        &.iconed {

            &::before {

                @media (min-width: $screen-md-min) {
                    top: calc(50% - 0.5px);
                    right: -109px;
                    width: 92px;
                    height: 1px;
                    background-color: $brand-white;
                }
            }

            &::after {
                top: -284px;
                right: 0;
                width: 51px;
                height: 51px;
                background-image: url('../static/images/icon_hero-emblem1.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
                border: 2px solid $brand-white;
                border-radius: 26px;

                @media (min-width: $screen-md-min) {
                    top: calc(50% - 25.5px);
                    right: -180px;
                }
            }
        }

        &.bordered {

            @media (min-width: $screen-md-min) {
                border-bottom: 8px solid $brand-carmine;
            }
        }
    }

    .hero_content-box_header {
        color: $brand-charcoal;

        @extend .lead-text;
    }

    .hero_content-box_p {
        @include gotham_book_callout();

        &.accented {
            position: relative;
            padding-bottom: 24px;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 2px;
                content: "";
                background-color: $brand-carmine;
            }
        }
    }
</style>
