<template>
	<div class="container circle-image-content">
		<div class="row">
			<div class="col-md-5 col-lg-4 col-lg-offset-1">
                <div class="circle-image large">
                    <img :src="image.src" :alt="image.alt" />
                </div>
			</div>
			<div class="col-md-7 col-lg-6">
				<div v-if="leadtext" class="lead-text" v-text="leadtext"></div>
				<h2 v-if="title" class="header_style-2" v-text="title"></h2>
                <div class="content_wysiwyg" v-html="content"></div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-circle-image-content',
        props: {
            image: {
                type: Object,
                required: true
            },
            leadtext: {
                type: String,
                required: false
            },
            title: {
                type: String,
                required: false
            },
            content: {
                type: String,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .circle-image-content {

        .circle-image {
            margin: 0 auto 40px;

            @media (min-width: $screen-md-min) {
                margin: 0 auto;
            }
        }

        .header_style-2 {
            margin-bottom: 22px;

            &::after {
                @include floating-divider($brand-crimson, 18px, 0);
            }
        }
    }
</style>
