<template>
    <div v-if="youtubeid" class='video-container' v-bind:class="{ 'full-screen': version == 2, 'red-border': version == 3 }">
        <div class="video-overlay" v-bind:class="{ off: videoScreen == false }" :style="'background-image: url(' + videoimage + ')'">
            <button class="btn-play centered" v-bind:class="{ [videosize]: true }" v-on:click="videoPlay()" ref="componentBtn">
                <svg class="btn-play_icon small"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                <span class="access-hidden">Play Button</span>
            </button>
            <div v-if="btnsubhead" class="video_subhead centered" v-bind:class="{ [videosize]: true }" v-text="btnsubhead"></div>
        </div>
        <iframe ref="componentVideo" :src="'https://www.youtube.com/embed/' + youtubeid + '?enablejsapi=1'" frameborder='0' allowfullscreen></iframe>
    </div>
</template>

<script>
    export default {
        name: 'global-video',
        data() {
            return {
                videoScreen: true,
            }
        },
        props: {
            youtubeid: {
                type: String,
                required: true
            },
            videoimage: {
                type: String,
                required: true
            },
            videosize: {
                type: String,
                default: "large"
            },
            version: {
                type: Number,
                default: 1
            },
            btnsubhead: {
                type: String,
                required: false
            }
		},
		methods: {
			videoPlay: function() {
                this.videoScreen = false;
                // window.readyYoutubeVids[this.mounted.position].playVideo();
            }
		},
		mounted() {
            var player;
            var iframe = this.$refs.componentVideo;
            var playBtn = this.$refs.componentBtn;
            var position;

            window.addEventListener("load", function() {
            	window.videoList.push(iframe);
            	position = window.videoList.lastIndexOf(iframe);
            });

            playBtn.addEventListener("click", function() {
                window.readyYoutubeVids[position].playVideo();
            });
        }
	}
</script>

<style lang="scss">
    /* ------------------------------------------------ */

    /* BASE RESPONSIVE VIDEO STYLES (REUSABLE ANYWHERE) */

    /* ------------------------------------------------ */

    .video-container {
        position: relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        visibility: visible;
        background-position: center;
        background-size: cover;
        opacity: 1;

        @extend .slow_transition;

        &.off {
            visibility: hidden;
            opacity: 0;
        }
    }

    /* ----------------------------------------- */

    /* RESPONSIVE VIDEO AMENDMENTS AND MODIFIERS */

    /* ----------------------------------------- */

    .video-container {

        @media (max-width: $screen-sm-min) {
            max-width: none;
            margin: 0 -15px 40px;
        }

        &.full-screen {
            overflow: visible;

            @media (min-width: $screen-sm-min) {
                margin: 70px 0;
            }

            @media (min-width: $screen-md-min) {
                margin: 130px 0;
            }

            &::after {
                content: '';

                @media (min-width: $screen-sm-min) {
                    position: absolute;
                    top: -10%;
                    right: 0;
                    left: 0;
                    z-index: -1;
                    display: table;
                    width: 50%;
                    height: 120%;
                    margin: 0 auto;
                    border: 30px solid $brand-skyblue;
                }

                @media (min-width: $screen-md-min) {
                    border: 40px solid $brand-skyblue;
                }
            }
        }

        &.red-border {
            overflow: visible;

            @media (min-width: $screen-sm-min) {
                margin-bottom: 60px;
            }

            &::before {
                content: '';

                @media (min-width: $screen-sm-min) {
                    position: absolute;
                    top: -10px;
                    right: 0;
                    left: -10px;
                    width: calc(100% + 20px);
                    height: 47px;
                    background-color: $brand-carmine;
                }
            }

            .video-overlay {

                &::after {
                    display: none;
                    content: 'Student Perspective';

                    @media (min-width: $screen-sm-min) {
                        @include league_bold_header1();

                        position: absolute;
                        right: 0;
                        bottom: -30px;
                        left: 0;
                        z-index: 1;
                        display: block;
                        color: $brand-carmine;
                        text-align: center;
                    }
                }
            }
        }
    }

    .video_subhead {
        display: table;
        margin: 0 auto;
        font-family: 'LeagueSpartan-Bold';
        line-height: (30 / 20);
        color: $brand-white;
        text-transform: uppercase;

        &::before,
        &::after {
            display: inline-block;
            width: 28px;
            height: 1px;
            vertical-align: middle;
            content: '';
            background-color: $brand-white;
        }

        &::before {
            margin-right: 15px;
        }

        &::after {
            margin-left: 15px;
        }

        &.large {
            font-size: 14px;

            @media (min-width: $screen-sm-min) {
                font-size: 18px;
            }
        }

        &.small {
            font-size: 14px;
        }
    }
</style>
