<template>
    <div class="post-index">
        <div v-for="post in posts" class="post-index_block">
            <div class="post-index_block_image" v-bind:class="{[post.modifier]:true}">
                <a :href="post.url">
                    <img :src="post.image.src" :alt="post.image.alt" />
                </a>
            </div>
            <div class="post-index_content">
                <div class="lead-text" v-text="post.leadtext"></div>
                <h3 class="header_style-3"><a class="post-index_header_link" :href="post.url" v-text="post.title"></a></h3>
                <p class="paragraph_style-1" v-text="post.excerpt"></p>
            </div>
        </div>
        <a v-if="button" class="btn-global mini hollow auto-width" :href="button.url" v-text="button.name"></a>
    </div>
</template>

<script>
    export default {
        name: 'global-post-index',
        props: {
            posts: {
                type: Array,
                required: true
            },
            button: {
                type: Object
            }
        }
    }
</script>

<style lang="scss">
    .post-index {
        margin-bottom: 60px;
        font-size: 0;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 30px;
        }

        .btn-global {
            margin: 60px auto;

            @media (min-width: $screen-sm-min) {
                margin: 20px auto 60px;
            }
        }
    }

    .post-index_block {
        margin-bottom: 30px;

        @media (min-width: $screen-sm-min) {
            display: inline-flex;
            flex-direction: column;
            width: 33.3333%;
        }
    }

    .post-index_block_image {
        position: relative;
        display: block;
        margin-bottom: 30px;

        &:hover::after {
            width: 100%;
        }

        &.royal_accent::after {
            background-color: $brand-royal;
        }

        &.skyblue_accent::after {
            background-color: $brand-skyblue;
        }

        &::after {
            position: absolute;
            bottom: -5px;
            left: 0;
            display: block;
            width: 40%;
            height: 10px;
            content: '';
            background-color: $brand-crimson;

            @extend .standard_transition;
        }

        img {
            width: 100%;
        }
    }

    .post-index_content {

        @media (min-width: $screen-sm-min) {
            padding-right: 15px;
        }
    }

    .post-index_header_link {
        color: $brand-charcoal;
        text-decoration: none;

        @extend .standard_transition;

        &:hover {
            color: $brand-crimson;
        }
    }
</style>
