<template>
	<div class="fade-carousel" v-on:mouseover="focusMode = true" v-on:mouseleave="focusMode = false">
		<div v-for="slide in slides" class="fade-carousel_slide" v-bind:class="{ active: activeSlide == slide }">
            <img class="home__widget--aside-image" :src="slide.image" :alt="slide.alt">
		</div>
        <a class="long__arrow--link" v-on:click="changeSlide()">
            <svg class="widget__long-arrow">
                <use xlink:href="../static/images/app.svg#icon_long-arrow"></use>
            </svg>
        </a>
	</div>
</template>

<script>
	export default {
		name: 'global-fade-carousel',
		data() {
            return {
                activeSlide: undefined,
                focusMode: false
            }
        },
		props: {
			slides: {
				type: Array,
				required: true
			}
		},
        methods: {
            changeSlide: function() {
                var currentSlideNum = this.slides.indexOf(this.activeSlide);

                if (currentSlideNum + 1 === this.slides.length) {
                    this.activeSlide = this.slides[0];
                } else {
                    this.activeSlide = this.slides[currentSlideNum + 1];
                }
            },
            autoChangeSlide: function() {
                var slider = this;
                setInterval(function(){
                    if (slider.focusMode == false) {
                        slider.changeSlide();
                    } else {
                        // Do nothing.
                    }
                }, 6000);
            },
        },
        mounted() {
            this.activeSlide = this.slides[0];
            this.autoChangeSlide();
        }
	}
</script>

<style lang="scss">
    .fade-carousel {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .fade-carousel_slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.6s 0.5s ease;

        &.active {
            opacity: 1;
            transition: all 0.6s 0.05s ease;
        }
    }

    .long__arrow--link {
        position: absolute;
        right: 25px;
        bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: $brand-white;
        border-radius: 50%;
    }
</style>
