<template>
	<div class="featured-section">
        <h2 class="header_cutoff">Happening<br />Right<br />Now</h2>
        <div class="container">
            <div v-for="post in posts" class="row featured-section_row">
                <div class="col-sm-6 col-md-5 col-md-offset-1" v-bind:class="{'col-sm-push-6': post.inverse == true, 'col-md-push-5': post.inverse == true}">
                    <div class="featured-section_image-wrap" v-bind:class="{'right-aligned': post.inverse == true, 'left-aligned': post.inverse == false || post.inverse == undefined }">
                        <img class="featured-section_image" :src="post.image.src" :alt="post.image.alt" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-5" v-bind:class="{'col-sm-pull-6': post.inverse == true, 'col-md-pull-5': post.inverse == true}">
                    <div class="featured-section_content" v-bind:class="{'left-aligned': post.inverse == true, 'right-aligned': post.inverse == false || post.inverse == undefined }">
                        <h3 class="header_style-3 text-blue"><a :href="post.url" v-text="post.title"></a></h3>
                        <div class="tag-text">{{ post.date }} / {{ post.category }}</div>
                        <p class="paragraph_style-1" v-text="post.content"></p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-featured',
        props: {
            posts: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .featured-section {
        position: relative;
        padding: 60px 0;
        margin-bottom: 60px;
        background-color: $brand-skyblue;

        @media (min-width: $screen-sm-min) {
            padding: 105px 0;
        }

        .header_cutoff {
            display: none;

            @media (min-width: $screen-sm-min) {
                position: absolute;
                top: 500px;
                left: 50px;
                display: block;
                color: $brand-paleblue;
            }
        }
    }

    .featured-section_row {
        margin-bottom: 60px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .featured-section_image-wrap {
        position: relative;
        margin-bottom: 40px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        &.right-aligned {

            &::before {
                bottom: -20px;
                left: -20px;

                @media (min-width: $screen-sm-min) {
                    bottom: -30px;
                    left: -30px;
                }
            }

            &::after {
                bottom: -10px;
                left: -10px;

                @media (min-width: $screen-sm-min) {
                    bottom: -15px;
                    left: -15px;
                }
            }
        }

        &.left-aligned {

            &::before {
                top: -20px;
                right: -20px;

                @media (min-width: $screen-sm-min) {
                    top: -30px;
                    right: -30px;
                }
            }

            &::after {
                top: -10px;
                right: -10px;

                @media (min-width: $screen-sm-min) {
                    top: -15px;
                    right: -15px;
                }
            }
        }

        &::before,
        &::after {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
        }

        &::before {
            z-index: 0;
            background-image: url('../static/images/pattern_dots_filter.svg');
            background-size: 12px;
            opacity: 0.6;
        }

        &::after {
            z-index: 2;
            border: 5px solid $brand-white;
        }
    }

    .featured-section_image {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .featured-section_content {
        position: relative;
        z-index: 3;

        @media (min-width: $screen-sm-min) {
            margin-top: 130px;
        }

        @media (min-width: $screen-md-min) {
            margin-top: 190px;
        }

        &.right-aligned {

            @media (min-width: $screen-sm-min) {
                padding-left: 30px;
            }
        }

        &.left-aligned {

            @media (min-width: $screen-sm-min) {
                padding-right: 30px;
            }

            .header_style-3::after {
                right: -100px;
                left: auto;
            }
        }

        .header_style-3 {
            position: relative;
            margin-bottom: 40px;

            &::after {
                content: '';

                @media (min-width: $screen-sm-min) {
                    position: absolute;
                    bottom: -15px;
                    left: -100px;
                    display: block;
                    width: 142px;
                    height: 1px;
                    background-color: $brand-crimson;
                }
            }
        }
    }

    .tag-text {
        display: table;
        padding: 10px;
        margin-bottom: 20px;
        font-family: 'Gotham-Book';
        font-size: 12px;
        line-height: (22 / 14);
        color: $brand-ash;
        background-color: $brand-white;
    }
</style>
