<template>
	<div class="sidebar" role="complementary">
		<a v-if="mainlink" class="btn-global solid" :href="mainlink.url" v-text="mainlink.text"></a>
        <div v-if="numberfact || contentitems" class="sidebar_content">
            <div v-if="numberfact" class="sidebar_number-fact">
                <div class="lead-text" v-text="numberfact.title"></div>
                <div class="sidebar_number-fact_number" v-text="numberfact.number"></div>
                <div class="callout_style-1" v-text="numberfact.description"></div>
            </div>
            <div v-if="contentitems" v-for="item in contentitems" class="sidebar_content_item">
                <h5 class="sidebar_content_item-header" v-text="item.title"></h5>
                <p v-text="item.description"></p>
            </div>
        </div>
        <ul v-if="mainnavigation" class="sidebar_navigation">
            <li v-for="item in mainnavigation" class="sidebar_navigation_item"><a class="sidebar_navigation_link" v-text="item.name" :href="item.url"></a></li>
        </ul>
		<a v-for="item in actionmenu" class="btn-global hollow mini" v-text="item.name" :href="item.url"></a>
        <div v-if="address" class="paragraph_style-1"><strong>Department Name</strong></div>
        <div v-if="address" class="paragraph_style-1" v-html="address"></div>
	</div>
</template>

<script>
	export default {
		name: 'global-sidebar',
        props: {
            mainlink: {
                type: Object
            },
            numberfact: {
                type: Object
            },
            contentitems: {
                type: Array
            },
            mainnavigation: {
                type: Array
            },
            actionmenu: {
                type: Array
            },
            address: {
                type: String
            }
        }
	}
</script>

<style lang="scss">
    .sidebar {
        margin-bottom: 80px;
    }

    .btn-global,
    .sidebar_navigation,
    .sidebar_content {
        margin-bottom: 20px;
    }

    .btn-global {
        width: 100%;
        text-align: center !important;
    }

    .sidebar_navigation,
    .sidebar_content {
        background-color: $brand-skyblue;
    }

    .sidebar_navigation_item {
        font-family: 'Gotham-Medium';
        font-size: 15px;
        line-height: (15 / 15);
        color: $brand-charcoal;

        &.active .sidebar_navigation_link {
            color: $brand-royal;
            border-color: $brand-royal;
        }
    }

    .sidebar_navigation_link {
        display: block;
        padding: 18.5px 30px;
        color: $brand-charcoal;
        text-decoration: none;
        border-left: 6px solid $brand-skyblue;

        @extend .standard_transition;

        &:hover {
            color: $brand-royal;
        }
    }

    .sidebar_content {
        padding: 30px;
    }

    .sidebar_number-fact {
        text-align: center;

        .lead-text {
            margin-bottom: 20px;
        }
    }

    .sidebar_number-fact_number {
        margin-bottom: 20px;

        @extend .big-number;

        &::after {
            display: block;
            width: 50px;
            height: 2px;
            margin: 0 auto;
            content: '';
            background-color: $brand-carmine;
        }
    }

    .sidebar_content_item {
        position: relative;
        margin-bottom: 50px;

        @extend .callout_style-1;

        &:nth-child(2) {

            &::before {
                position: absolute;
                top: -27px;
                left: 0;
                z-index: 0;
                display: block;
                width: 69px;
                height: 65px;
                content: '';
                background-image: url(../static/images/carousel_dots.svg);
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        p {
            position: relative;
        }
    }

    .sidebar_number-fact + .sidebar_content_item {
        margin-top: 50px;
    }

    .sidebar_content_item-header {
        position: relative;
        font-family: 'Gotham-Bold';
    }

    .btn-global + .paragraph_style-1 {
        margin-top: 40px;
    }
</style>
