<template>
	<div class="container highlights">
        <div class="row">
            <div v-for="item in highlights" class="col-sm-4">
                <div class="highlights-image circle-image small" v-bind:class="{ 'reverse-line': item.reverseaccent == true}">
                    <img :src="item.src" :alt="item.alt" />
                </div>
                <div class="highlights-header" v-text="item.title"></div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'global-highlights',
        props: {
            highlights: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .highlights {
        margin: 30px auto;

        @media (min-width: $screen-sm-min) {
            margin: 30px auto 60px;
        }
    }

    .highlights-header {
        margin: 0 0 40px;
        font-family: 'Gotham-Bold';
        text-align: center;

        @extend .paragraph_style-1;

        @media (min-width: $screen-sm-min) {
            margin: 0;
        }
    }

    .highlights-image {
        margin: 0 auto 30px;
    }
</style>
