<template>
    <div class="box-list_container">
        <h2 class="header_style-2" v-text="title"></h2>
    	<ul class="box-list">
    		<li v-for="item in list" class="box-list_item">
    			<div class="box-list_lead" v-text="item.lead"></div>
    			<div class="paragraph_style-1" v-text="item.name"></div>
    		</li>
    	</ul>
        <p v-if="link" class="paragraph_style-1"><a :href="link.url" v-text="link.name"></a></p>
    </div>
</template>

<script>
	export default {
		name: 'global-box-list',
		props: {
            title: {
                type: String,
                required: true
            },
			list: {
				type: Array,
				required: true
			},
            link: {
                type: Object,
                required: false
            }
		}
	}
</script>

<style lang="scss">
    .box-list_container {
        margin-bottom: 60px;

        .header_style-2 {
            margin-bottom: 24px;
        }
    }

    .box-list {
        font-size: 0;

        .paragraph_style-1 {
            font-family: 'Gotham-Bold';
        }
    }

    .box-list_item {
        height: 150px;
        padding: 20px;
        margin-bottom: 30px;
        border: 1px solid $brand-gray;

        @media (min-width: $screen-sm-min) {
            display: inline-flex;
            flex-direction: column;
            width: calc(50% - 15px);
            margin-right: 30px;
        }

        @media (min-width: $screen-md-min) {
            width: calc(33.3333% - 20px);
        }

        @media (min-width: $screen-lg-min) {
            width: calc(25% - 22.5px);
        }

        &:nth-child(2n) {

            @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
                margin-right: 0;
            }
        }

        &:nth-child(3n) {

            @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
                margin-right: 0;
            }
        }

        &:nth-child(4n) {

            @media (min-width: $screen-lg-min) {
                margin-right: 0;
            }
        }
    }

    .box-list_lead {
        font-family: 'Gotham-Medium';
        color: $brand-royal;

        @extend .lead-text;
    }
</style>
