<template>
	<div class="page-ender">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
                    <h2 v-if="title" class="lead-text" v-text="title"></h2>
                    <div class="page-ender_content" v-bind:class="{'column-style': version == 1, 'node-style': version == 2}">
                        <div v-for="block in blocks" class="page-ender_content_item">
                            <h3 v-if="version == 1" class="header_style-3" v-text="block.title"></h3>
                            <h3 v-if="version == 2" class="header_style-3 text-blue"><a :href="block.url" v-text="block.title"></a></h3>
                            <div v-if="version == 1" class="content_wysiwyg" v-html="block.content"></div>
                            <p v-if="version == 2" class="callout_style-1" v-text="block.content"></p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-page-ender',
        props: {
            version: {
                type: Number,
                required: true
            },
            title: {
                type: String,
                required: false
            },
            blocks: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .page-ender {
        padding: 80px 0;
        background-color: $brand-skyblue;

        .lead-text {
            margin-bottom: 30px;
            color: $brand-charcoal;
            text-align: center;

            &::after {

                @include floating-divider($brand-crimson, 20px, auto);
            }
        }
    }

    .page-ender_content {

        &.column-style {

            @media (min-width: $screen-sm-min) {
                display: flex;
            }
        }

        &.node-style {
            font-size: 0;

            .page-ender_content_item {

                @media (min-width: $screen-sm-min) {
                    display: inline-flex;
                    flex-direction: column;
                }
            }
        }
    }

    .page-ender_content_item {
        padding: 34px 30px;
        margin-bottom: 1px;
        background-color: $brand-white;

        @media (min-width: $screen-sm-min) {
            width: calc(33.3333% - 0.7px);
            margin-right: 1px;
        }

        @media (min-width: $screen-md-min) {
            padding: 34px 40px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        .content_wysiwyg {
            margin-bottom: 0;
        }
    }
</style>
