<template>
    <div class="global-filter">
        <div class="container global-filter_container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="global-filter_input_wrap">
                        <label>
                            <input ref="inputSearch" class="global-filter_input" type="text" placeholder="Find by Title" @keyup.enter="inputSearch" v-on:focus="searchFocus = true" v-on:blur="searchFocus = false" />
                            <span class="access-hidden">Filter Field</span>
                        </label>
                        <button class="global-filter_go" v-bind:class="{ active: searchFocus }" v-on:click="inputSearch()">
                            <svg class="global-filter_go_img">
                                <use xlink:href="../static/images/app.svg#icon_long-arrow"></use>
                            </svg>
                            <span class="access-hidden">Filter Button</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="global-filter_nav">
                        <li class="global-filter_nav_item">
                            <button class="global-filter_nav_btn" :data-number="activeInList1.length" v-bind:class="{ 'active': activeDropdown == 1 }" v-on:click="toggleFilter(1)">School</button>
                            <ul v-if="filterlist1" class="global-filter_nav_list">
                                <li v-for="item in filterlist1" class="global-filter_nav_list_item"><button class="global-filter_nav_list_btn" v-bind:class="{ 'active': activeInList1.includes(item) }" v-on:click="toggleFilterList(item)" v-text="item"></button></li>
                            </ul>
                        </li>
                        <li class="global-filter_nav_item">
                            <button class="global-filter_nav_btn" :data-number="activeInList2.length" v-bind:class="{ 'active': activeDropdown == 2 }" v-on:click="toggleFilter(2)">Format</button>
                            <ul v-if="filterlist2" class="global-filter_nav_list">
                                <li v-for="item in filterlist2" class="global-filter_nav_list_item"><button class="global-filter_nav_list_btn" v-bind:class="{ 'active': activeInList2.includes(item) }" v-on:click="toggleFilterList(item)" v-text="item"></button></li>
                            </ul>
                        </li>
                        <li class="global-filter_nav_item">
                            <button class="global-filter_nav_btn" :data-number="activeInList3.length" v-bind:class="{ 'active': activeDropdown == 3 }" v-on:click="toggleFilter(3)">Subject</button>
                            <ul v-if="filterlist3" class="global-filter_nav_list">
                                <li v-for="item in filterlist3" class="global-filter_nav_list_item"><button class="global-filter_nav_list_btn" v-bind:class="{ 'active': activeInList3.includes(item) }" v-on:click="toggleFilterList(item)" v-text="item"></button></li>
                            </ul>
                        </li>
                        <li class="global-filter_nav_item">
                            <button class="global-filter_nav_btn" :data-number="activeInList4.length" v-bind:class="{ 'active': activeDropdown == 4 }" v-on:click="toggleFilter(4)">Program Type</button>
                            <ul v-if="filterlist4" class="global-filter_nav_list">
                                <li v-for="item in filterlist4" class="global-filter_nav_list_item"><button class="global-filter_nav_list_btn" v-bind:class="{ 'active': activeInList4.includes(item) }" v-on:click="toggleFilterList(item)" v-text="item"></button></li>
                            </ul>
                        </li>
                        <li class="global-filter_nav_item">
                            <button class="global-filter_nav_btn" v-on:click="clearAllFilters()">Clear Filter</button>
                        </li>
                    </ul>
                    <ul class="global-filter_results" ref="theFilterList">
                        <li v-for="major in visibleMajors" class="global-filter_results_item" v-bind:class="{ 'active': activeMajor == visibleMajors.indexOf(major) }">
                            <a class="global-filter_results_btn" v-on:click="toggleDrawer(visibleMajors.indexOf(major), $event)">
                                <h3 class="global-filter_header" v-text="major.name"></h3>
                                <div class="global-filter_lead-text" v-text="major.school"></div>
                            </a>
                            <div class="global-filter_drawer">
                                <p class="global-filter_drawer_description" v-text="major.description"></p>
                                <div class="global-filter_drawer-sidebar">
                                    <h4 v-if="major.links" class="global-filter_drawer-sidebar_head">Degrees & Certificates</h4>
                                    <ul v-if="major.links">
                                        <li v-for="link in major.links" class="global-filter_drawer-sidebar_item"><a class="global-filter_drawer-sidebar_link" :href="link.url" v-text="link.name"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="global-filter_load-more hollow mini" v-bind:class="{'inactive' : queuedMajors.length == 0 }" v-on:click="loadMore()">Load More</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'global-filter',
        data() {
            return {
                activeDropdown: null,
                activeInList1: [],
                activeInList2: [],
                activeInList3: [],
                activeInList4: [],
                filteredMajors: [],
                visibleMajors: [],
                queuedMajors: [],
                activeMajor: null,
                searchFocus: false
            }
        },
        props: {
            filterlist1: {
                type: Array,
                required: true
            },
            filterlist2: {
                type: Array,
                required: false
            },
            filterlist3: {
                type: Array,
                required: false
            },
            filterlist4: {
                type: Array,
                required: false
            },
            majorslist: {
                type: Array,
                required: true,
            }
        },
        methods: {
            inputSearch: function() {
                var component = this;
                var searchTerm = this.$refs.inputSearch.value;

                this.visibleMajors = [];
                this.filteredMajors = [];
                this.queuedMajors = [];

                for (var item in this.majorslist) {

                    var major = this.majorslist[item];
                    var isMajorValid = false;

                    for (var property in major) {

                        // This if statement distinguishes base javascript properties from my own
                        if (major.hasOwnProperty(property)) {

                            if (typeof major[property] == "string") {

                                var propertyString = major[property].toUpperCase();

                                if (propertyString.match(searchTerm.toUpperCase())) {
                                    isMajorValid = true;
                                }
                            }
                        }
                    }

                    if (isMajorValid == true) {
                        this.filteredMajors.push(major);
                    }
                }

                for (var i = 0; i < 6; i++) {
                    if (this.filteredMajors[i]) {
                        this.visibleMajors.push(this.filteredMajors[i]);
                    }
                }

                for (var item in this.filteredMajors) {
                    this.queuedMajors.push(this.filteredMajors[item]);
                }

                this.crossCheckQueue();
            },
            toggleFilter: function(i) {
                if (this.activeDropdown == i) {
                    this.activeDropdown = null;

                    if (this.activeInList1.length == 0 && this.activeInList2.length == 0 && this.activeInList3.length == 0 && this.activeInList4.length == 0) {
                        this.clearAllFilters();
                    } else {
                        this.filterVisible();
                    }

                } else {
                    this.activeDropdown = i;
                }
            },
            toggleFilterList: function(item) {
                var changingList;
                var fullList;

                if (this.filterlist1.includes(item)) {
                    changingList = this.activeInList1;
                    fullList = this.filterlist1;
                } else if (this.filterlist2.includes(item)) {
                    changingList = this.activeInList2;
                    fullList = this.filterlist2;
                } else if (this.filterlist3.includes(item)) {
                    changingList = this.activeInList3;
                    fullList = this.filterlist3;
                } else if (this.filterlist4.includes(item)) {
                    changingList = this.activeInList4;
                    fullList = this.filterlist4;
                }

                if (changingList.includes(item)) {
                    var itemPosition = changingList.indexOf(item);
                    changingList.splice(itemPosition, 1);

                } else {
                    changingList.push(item);
                }
            },
            filterVisible: function() {
                var component = this;
                this.visibleMajors = [];
                this.filteredMajors = [];
                this.queuedMajors = [];

                for (var item in this.majorslist) {

                    if (this.activeInList1.includes(this.majorslist[item].school) ||
                        this.activeInList2.includes(this.majorslist[item].format) ||
                        this.crossCheckArray(this.activeInList3, this.majorslist[item].subjects) ||
                        this.crossCheckArray(this.activeInList4, this.majorslist[item].types) ) {
                            this.filteredMajors.push(this.majorslist[item]);
                    }
                }

                for (var i = 0; i < 6; i++) {
                    if (this.filteredMajors[i]) {
                        this.visibleMajors.push(this.filteredMajors[i]);
                    }
                }

                // var resultElements = this.$refs.theFilterList.childNodes;
                // Velocity(resultElements, 'transition.slideUpIn', { duration: 1200 });

                for (var item in this.filteredMajors) {
                    this.queuedMajors.push(this.filteredMajors[item]);
                }

                this.crossCheckQueue();

                console.log(this.queuedMajors);
            },
            toggleDrawer: function(i, event) {
                var clickedBtn = event.currentTarget;
                var coorespondingDrawer = event.target

                if (this.activeMajor == i) {
                    this.activeMajor = null;
                } else {
                    this.activeMajor = i;

                    // Rediculously long expression to set the bottom margin of the currently clicked button
                    // to the height of it's sibling drawer.

                    var siblingDrawer = clickedBtn.nextElementSibling;

                    console.log(siblingDrawer);

                    // coorespondingDrawer.addEventListener("transitionend", function() {
                    //     clickedBtn.style.marginBottom = siblingDrawer.offsetHeight;

                    //     console.log(siblingDrawer.offsetHeight);
                    // });

                    // setTimeout(function(){ console.log(siblingDrawer.offsetHeight); }, 3000);
                    console.log(siblingDrawer.offsetHeight);
                }
            },
            crossCheckQueue: function() {
                var k = this.queuedMajors.length;
                while (k--) {
                    if (this.visibleMajors.includes(this.queuedMajors[k])) {
                        this.queuedMajors.splice(k, 1);
                    }
                }
            },
            crossCheckArray: function (haystack, arr) {
                return arr.some(function (v) {
                    return haystack.indexOf(v) >= 0;
                });
            },
            resetQueue: function() {
                this.queuedMajors = [];

                for (var item in this.majorslist) {
                    this.queuedMajors.push(this.majorslist[item]);
                }
            },
            loadMore: function() {
                for (var i = 0; i < 3; i++) {
                    if (this.queuedMajors[i]) {
                        this.visibleMajors.push(this.queuedMajors[i]);
                    }
                }

                this.crossCheckQueue();
            },
            clearAllFilters: function() {

                this.$refs.inputSearch.value = "";

                this.activeInList1 =  [];
                this.activeInList2 =  [];
                this.activeInList3 =  [];
                this.activeInList4 =  [];
                this.filteredMajors = [];
                this.visibleMajors =  [];

                this.resetQueue();

                for (var i = 0; i < 6; i++) {
                    this.visibleMajors.push(this.queuedMajors[i]);
                }

                this.crossCheckQueue();
            }
        },
        mounted() {
            var component = this;

            this.resetQueue();

            for (var i = 0; i < 6; i++) {
                this.visibleMajors.push(this.queuedMajors[i]);
            }

            this.crossCheckQueue();

            console.log('Visible Majors: ');
            console.log(this.visibleMajors);
            console.log('Queued Majors: ');
            console.log(this.queuedMajors);
        }
    }
</script>

<style lang="scss">
    .global-filter {
        position: relative;
        margin-top: 100px;
        background-color: $brand-skyblue;

        &::before {
            position: absolute;
            top: 0;
            width: 100%;
            height: 125px;
            content: '';
            background-image: url('../static/images/pattern_dots_filter.svg');
            background-size: 12px;
            opacity: 0.6;
        }
    }

    .global-filter_container {
        position: relative;
        top: -100px;
    }

    .global-filter_input_wrap {
        position: relative;
        overflow: hidden;
    }

    .global-filter_input {
        width: 100%;
        height: 46px;
        padding: 0 15px;
        margin-bottom: 27px;
        border: 1px solid $brand-charcoal;
        border-bottom: 3px solid;

        @extend .callout_style-1;
    }

    .global-filter_go {
        position: absolute;
        top: 12px;
        right: 0;
        appearance: none;
        cursor: pointer;
        visibility: hidden;
        background-color: transparent;
        border: none;
        opacity: 0;
        transform: translate(0, 0);

        @extend .standard_transition;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate(-5px, 0);
        }

        &:hover .search-bar_btn-go_img {
            fill: $brand-vermillion;
        }
    }

    .global-filter_go_img {
        display: block;
        width: 37px;
        height: 16px;
        fill: $brand-carmine;

        @extend .standard_transition;
    }

    .global-filter_nav {
        position: relative;
        width: 100%;
        font-size: 0;
    }

    .global-filter_nav_item {
        display: inline-block;
        width: 50%;

        @media (min-width: $screen-md-min) {
            width: 21%;
        }

        &:last-child {
            width: 100%;

            @media (min-width: $screen-md-min) {
                width: 16%;
            }

            .global-filter_nav_btn {
                padding: 0 15px;
                font-size: 11px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                background-color: $brand-ash;
                background-image: none;
                border-right: 0;

                @media (min-width: $screen-lg-min) {
                    font-size: 12px;
                }

                &::before,
                &::after {
                    display: none;
                }

                &:hover {
                    background-color: $brand-carmine;
                }
            }
        }
    }

    .global-filter_nav_btn {
        @include gotham_md_nav();

        position: relative;
        display: block;
        width: 100%;
        padding: 0 0 0 26px;
        line-height: 60px;
        text-align: left;
        cursor: pointer;
        background-color: $brand-charcoal;
        background-image: url(../static/images/icon_dot-arrow.png);
        background-repeat: no-repeat;
        background-position: center right 12px;
        appearance: none;
        border: none;
        border-right: 1px solid $brand-ash;
        border-bottom: 1px solid $brand-ash;

        @extend .slow_transition;

        @media (min-width: $screen-md-min) {
            border-bottom: none;
        }

        &.no-count::after {
            display: none;
        }

        &:hover,
        &.active {

            &::before {
                width: 100%;
            }
        }

        &.active + .global-filter_nav_list {
            visibility: visible;
            opacity: 1;
        }

        &::before {
            position: absolute;
            top: -4px;
            left: 0;
            width: 0;
            height: 4px;
            content: '';
            background-color: $brand-carmine;

            @extend .standard_transition;
        }

        &::after {
            display: none;
            content: attr(data-number);

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: calc(50% - 12.5px);
                right: 37px;
                display: block;
                width: 25px;
                height: 25px;
                font-size: 12px;
                line-height: 25px;
                text-align: center;
                border: 1px solid $brand-white;
                border-radius: 13px;
            }
        }
    }

    .global-filter_nav_list {
        position: absolute;
        left: 0;
        z-index: 3;
        width: 100%;
        padding: 10px;
        visibility: hidden;
        background-color: $brand-skyblue;
        border: 2px solid #bcd7eb;
        border-top: none;
        opacity: 0;

        @extend .slow_transition;

        @media (min-width: $screen-md-min) {
            column-count: 3;
            column-gap: 10px;
        }
    }

    .global-filter_nav_list_item {
        position: relative;
        margin-bottom: 10px;
    }

    .global-filter_nav_list_btn {
        width: 100%;
        height: 50px;
        padding: 0 18px;
        margin-bottom: 0;
        appearance: none;
        font-family: 'Gotham-Medium';
        text-align: left;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &::before {
            display: inline-block;
            width: 0;
            height: 1px;
            margin-right: 0;
            vertical-align: middle;
            content: '';
            background-color: $brand-carmine;

            @extend .standard_transition;
        }

        &.active {
            background-color: $brand-white;

            &::before {
                width: 18px;
                margin-right: 9px;
            }
        }

        @extend .callout_style-1;

        @extend .standard_transition;

        &:hover {
            background-color: $brand-white;
        }

        &:focus {
            outline: none;
        }
    }

    .global-filter_results {
        position: relative;
        width: 100%;
        font-size: 0;
        border-bottom: 4px solid $brand-cerulean;

        &::after {

            @extend .clearfix;
        }
    }

    .global-filter_results_item {
        display: block;

        @extend .standard_transition;

        @media (min-width: $screen-md-min) {
            float: left;
            width: 33.3333%;
        }

        &.active {

            .global-filter_drawer {
                max-height: 3000px;
                padding: 20px 15px;
                border-top: 3px solid $brand-carmine;

                @media (min-width: $screen-md-min) {
                    padding: 34px 39px;
                }
            }
        }

        &:nth-child(3n) {

            .global-filter_results_btn {
                border-right: none;
            }
        }

        &:nth-last-child(-n+3) {

            .global-filter_results_btn {
                border-bottom: 0;
            }
        }
    }

    .global-filter_results_btn {
        position: relative;
        display: block;
        width: 100%;
        height: 170px;
        padding: 36px 39px;
        margin-bottom: 0;
        text-align: left;
        cursor: pointer;
        background-color: $brand-white;
        appearance: none;
        border: none;
        border-right: 1px solid $brand-skyblue;
        border-bottom: 1px solid $brand-skyblue;

        @extend .standard_transition;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            content: '';
            background-image: url('../static/images/pattern_dots2.svg');
            background-size: 12px;
            opacity: 0;
        }

        &:hover,
        .active & {
            background-color: $brand-carmine;

            &::after {
                opacity: 0.2;
            }

            .global-filter_header,
            .global-filter_lead-text {
                color: $brand-white !important;
            }
        }
    }

    .global-filter_header,
    .global-filter_lead-text {

        @extend .standard_transition;
    }

    .global-filter_header {
        margin-bottom: 5px;

        @extend .header_style-3;
    }

    .global-filter_lead-text {
        font-family: 'Gotham-Medium';
        font-size: 12px;
        line-height: (14 / 12);
        color: $brand-cerulean;
        text-transform: uppercase;

        &::after {
            @include floating-divider($brand-crimson, 18px, 0);
        }
    }

    .global-filter_drawer {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 100%;
        max-height: 0;
        padding: 0 15px;
        overflow: hidden;
        background-color: $brand-white;
        border-top: 0 solid $brand-carmine;

        @media (min-width: $screen-md-min) {
            padding: 0 39px;
        }

        @extend .standard_transition;
    }

    .global-filter_drawer_description,
    .global-filter_drawer-sidebar {

        @media (min-width: $screen-md-min) {
            float: left;
        }
    }

    .global-filter_drawer_description {

        @extend .paragraph_style-1;

        @media (min-width: $screen-md-min) {
            width: 68%;
            padding-right: 40px;
        }
    }

    .global-filter_drawer-sidebar {

        @media (min-width: $screen-md-min) {
            width: 26%;
        }
    }

    .global-filter_drawer-sidebar_head {
        color: $brand-charcoal;

        @extend .lead-text;
    }

    .global-filter_drawer-sidebar_item {
        margin-bottom: 5px;

        @extend .paragraph_style-1;
    }

    .global-filter_drawer-sidebar_link {
        display: block;
        width: 100%;
    }

    .global-filter_load-more {
        display: table;
        margin: 0 auto;
        color: $brand-carmine !important;
        cursor: pointer;
        background-color: transparent;

        @extend .btn-global;

        &:hover {
            color: $brand-charcoal !important;
        }

        &.inactive {
            color: $brand-gray !important;
            cursor: auto;
        }
    }

    .global-filter_results + .global-filter_load-more {
        margin-top: 30px;
    }
</style>
