<template>
	<div class="intro-content-block" v-bind:class="{ 'video-included': hasSlotData() }">
        <div class="lead-text" v-text="leadtext"></div>
        <p class="paragraph_style-1" v-text="paragraph"></p>
        <div v-if="hasSlotData()" class="intro-content-block_video">
            <slot></slot>
            <a v-if="link" class="btn-global solid auto-width" :href="link.url" v-text="link.name"></a>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-intro-content-block',
        props: {
            leadtext: {
                type: String,
                required: false
            },
            paragraph: {
                type: String,
                required: true
            },
            link: {
                type: Object,
                required: false
            }
        },
        methods: {
            hasSlotData: function() {
                return this.$slots.default;
            }
        }
	}
</script>

<style lang="scss">
    .intro-content-block {
        position: relative;
        padding: 20px;
        margin-bottom: 60px;
        text-align: center;
        border: 13px solid $brand-skyblue;

        @media (min-width: $screen-sm-min) {
            padding: 39px 74px;
            border: 27px solid $brand-skyblue;
        }

        &.video-included {
            padding-bottom: 100px;
            margin-bottom: 250px;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60px;
                content: '';
                background-image: url('../static/images/pattern_dots2.svg');
                background-size: 12px;
                opacity: 0.3;
            }

            .paragraph_style-1 {

                &::after {
                    display: block;
                    width: 1px;
                    height: 40px;
                    margin: 0 auto;
                    background-color: $brand-crimson;
                }
            }
        }

        .paragraph_style-1 {
            margin-bottom: 0;

            @media (min-width: $screen-sm-min) {
                font-size: 24px;
            }

            &::after {
                content: '';
            }
        }

        .btn-global {
            margin: 24px auto 30px;
        }
    }

    .intro-content-block_video {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        max-width: 370px;
        margin: 0 auto;

        .video-container {

            @media (min-width: $screen-sm-min) {
                border: 10px solid $brand-white;
            }
        }
    }
</style>
