<template>
	<footer>
        <div class="footer_top" role="navigation" aria-label="Footer Navigation">
    		<div class="container">
    			<div class="row">
                    <div class="col-md-3 col-md-push-9">
                        <div class="footer-contact">
                            <div class="top" role="contentinfo" aria-label="Contact Information">
                                <div class="centered">
                                    <a href="/"><svg class="footer-logo"><use xlink:href="../static/images/app.svg#logo"></use></svg><span class="access-hidden">Logo</span></a>
                                    <ul class="footer-list mobile-amend">
                                        <li class="footer-list_item" v-for="item in infomenu"><a class="footer-list_link" v-text="item.name" :href="item.url"></a></li>
                                    </ul>
                                    <a class="footer-contact_phone" href="/">1-800-OK-BIOLA</a>
                                </div>
                            </div>
                            <ul class="footer-social">
                                <li class="footer-social_item">
                                    <a class="footer-social_link" href="/">
                                        <svg class="footer-social_icon"><use xlink:href="../static/images/app.svg#icon-social_facebook"></use></svg>
                                        <span class="access-hidden">Facebook Link</span>
                                    </a>
                                </li>
                                <li class="footer-social_item">
                                    <a class="footer-social_link" href="/">
                                        <svg class="footer-social_icon"><use xlink:href="../static/images/app.svg#icon-social_twitter"></use></svg>
                                        <span class="access-hidden">Twitter Link</span>
                                    </a>
                                </li>
                                <li class="footer-social_item">
                                    <a class="footer-social_link" href="/">
                                        <svg class="footer-social_icon"><use xlink:href="../static/images/app.svg#icon-social_youtube"></use></svg>
                                        <span class="access-hidden">Youtube Link</span>
                                    </a>
                                </li>
                                <li class="footer-social_item">
                                    <a class="footer-social_link" href="/">
                                        <svg class="footer-social_icon"><use xlink:href="../static/images/app.svg#icon-social_instagram"></use></svg>
                                        <span class="access-hidden">Instagram Link</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="footer-list desktop-amend">
                            <li class="footer-list_item" v-for="item in infomenu"><a class="footer-list_link" v-text="item.name" :href="item.url"></a></li>
                        </ul>
                    </div>
    				<div class="col-md-3 col-md-pull-3">
    					<h6 class="footer-header" v-if="footermenu01"><span v-text="footermenu01.title"></span></h6>
    					<ul class="footer-list" v-if="footermenu01">
    						<li class="footer-list_item" v-for="item in footermenu01.navigation"><a class="footer-list_link" v-text="item.name" :href="item.url">Open Biola</a></li>
    					</ul>
    				</div>
    				<div class="col-md-3 col-md-pull-3">
                        <h6 class="footer-header" v-if="footermenu02"><span v-text="footermenu01.title"></span></h6>
                        <ul class="footer-list" v-if="footermenu02">
                            <li class="footer-list_item" v-for="item in footermenu02.navigation"><a class="footer-list_link" v-text="item.name" :href="item.url">Open Biola</a></li>
                        </ul>
    				</div>
    				<div class="col-md-3 col-md-pull-3">
                        <h6 class="footer-header" v-if="footermenu03"><span v-text="footermenu01.title"></span></h6>
                        <ul class="footer-list" v-if="footermenu03">
                            <li class="footer-list_item" v-for="item in footermenu03.navigation"><a class="footer-list_link" v-text="item.name" :href="item.url">Open Biola</a></li>
                        </ul>
    				</div>
    			</div>
    		</div>
        </div>
        <div class="footer_bottom" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/"><svg class="footer-logo"><use xlink:href="../static/images/app.svg#logo"></use></svg><span class="access-hidden">Logo</span></a>
                        <div class="footer_copyright">13800 Biola Ave,<br /> La Mirada CA 90639 <span class="footer_copyright_dash">—</span> <span class="footer_copyright_rights">© Biola University, Inc. All Rights Reserved.</span></div>
                    </div>
                </div>
            </div>
        </div>
	</footer>
</template>

<script>
	export default {
		name: 'global-footer',
        props: {
            footermenu01: {
                type: Object
            },
            footermenu02: {
                type: Object
            },
            footermenu03: {
                type: Object
            },
            infomenu: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    footer {
        position: relative;
        background-color: $brand-charcoal;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 20px;
            content: '';
            background-image: url('../static/images/background-dotpattern2.svg');
            background-repeat: repeat-x;
            background-position: top center;
        }
    }

    .footer_top {
        padding-bottom: 30px;

        @media (min-width: $screen-md-min) {
            padding-bottom: 60px;
        }
    }

    .footer_bottom {
        padding: 24px 0;
        text-align: center;
        background-color: $brand-black;

        .footer-logo {
            display: block;
            margin-bottom: 30px;

            @media (min-width: $screen-md-min) {
                display: none;
            }
        }
    }

    .footer-header {
        @include gotham_md_nav();

        position: relative;
        margin: 0 0 30px;
        font-size: 19px;
        background-color: $brand-charcoal;

        @media (min-width: $screen-md-min) {
            margin: 90px 0 30px;
            font-size: 15px;
        }

        &::after {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: calc(100% - 20px);
            height: 1px;
            content: '';
            background-color: $brand-crimson;
        }

        span {
            position: relative;
            z-index: 1;
            padding-right: 30px;
            padding-left: 15px;
            background-color: $brand-charcoal;

            @media (min-width: $screen-md-min) {
                padding-left: 0;
            }
        }
    }

    /* ---------------------- */

    /* FOOTER NAVIGATION LIST */

    /* ---------------------- */

    .footer-list {
        padding: 0 15px;
        margin-bottom: 60px;
        font-size: 0;

        @media (min-width: $screen-md-min) {
            padding: 0;
            margin-bottom: 0;
        }

        &.desktop-amend {
            display: none;

            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        &.mobile-amend {
            display: block;

            @media (min-width: $screen-md-min) {
                display: none;
            }
        }

        &.margin-less {
            margin-bottom: 0;
        }
    }

    .footer-list_item,
    .footer_copyright {
        @include gotham_book_nav();

        font-size: 16px;
        color: $brand-lightgray;

        @media (min-width: $screen-md-min) {
            font-size: 12px;
        }
    }

    .footer-list_item {
        margin-bottom: 20px;
    }

    .footer-list_link {
        color: $brand-lightgray;
        text-decoration: none;

        @extend .standard_transition;

        &:hover {
            color: $brand-white;
        }
    }

    /* ------------------ */

    /* FOOTER CONTACT BOX */

    /* ------------------ */

    .footer-contact {
        position: relative;
        top: -10px;
        margin-bottom: 30px;
        background-color: $brand-black;
        border-top: 10px solid $brand-crimson;

        @media (min-width: $screen-md-min) {
            margin-bottom: 20px;
        }

        .top {
            height: 180px;
            text-align: center;

            @media (min-width: $screen-md-min) {
                height: 200px;
            }
        }

        .footer-logo {
            display: none;

            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        .footer-list {
            padding: 0;
            margin: 0 20px 10px;
        }

        .footer-list_item {
            display: inline-block;
            width: 50%;
            text-align: left;

            @media (max-width: 320px) {
                font-size: 12px;
            }
        }
    }

    .footer-contact_phone {
        font-family: 'Gotham-Book';
        font-size: 18px;
        line-height: (18 / 18);
        color: $brand-gray;
        text-align: center;
        text-decoration: none;

        @extend .standard_transition;

        &:hover {
            color: $brand-white;
        }
    }

    .footer-logo {
        width: 162px;
        height: 44px;
        margin: 0 auto 15px;
        fill: $brand-white;
    }

    .footer-social {
        padding: 14px;
        text-align: center;
        border-top: 1px solid $brand-ash;
    }

    .footer-social_item {
        display: inline-block;
        margin-right: 30px;

        @media (min-width: $screen-lg-min) {
            margin-right: 40px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .footer-social_link {
        text-align: center;
    }

    .footer-social_icon {
        max-width: 22px;
        max-height: 22px;
        fill: $brand-gray;

        @extend .standard_transition;

        &:hover {
            fill: $brand-carmine;
        }
    }

    /* ---------------- */

    /* FOOTER COPYRIGHT */

    /* ---------------- */

    .footer_copyright {

        br {
            display: none;

            @media (max-width: $screen-md-min) {
                display: inline;
            }
        }
    }

    .footer_copyright_dash {
        display: none;

        @media (min-width: $screen-md-min) {
            display: inline;
        }
    }

    .footer_copyright_rights {

        @media (max-width: $screen-md-min) {
            display: block;
            margin-top: 30px;
            font-size: 12px;
        }
    }
</style>
