<template>
	<div class="container" role="banner" aria-label="Subpage Hero">
		<div class="row">
			<div class="col-sm-12">
				<div class="subhero" :style="'background-image: url(' + backgroundimage + ')'">
                    <svg class="subhero_badge"><use xlink:href="../static/images/app.svg#badge_est"></use></svg>
                    <div class="subhero_content-box">
                        <h1 class="header_style-2" v-text="mainheader"></h1>
                        <div v-if="subheader" class="lead-text" v-text="subheader"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-subhero',
        props: {
            backgroundimage: {
                type: String,
                required: true,
            },
            mainheader: {
                type: String,
                required: true,
            },
            subheader: {
                type: String,
            }
        }
	}
</script>

<style lang="scss">
    .subhero {
        position: relative;
        height: 500px;
        margin: 0 -15px 40px -15px;
        font-size: 0;
        background-position: top 150px center;
        background-size: auto 350px;

        @media (min-width: $screen-md-min) {
            height: 400px;
            margin: 0 0 80px;
            background-position: center;
            background-size: cover;
        }
    }

    .subhero_badge {
        position: absolute;
        top: 100px;
        right: -30px;
        width: 94px;
        height: 94px;
        opacity: 0.4;

        @media (min-width: $screen-md-min) {
            top: 15px;
            right: -45px;
        }
    }

    .subhero_content-box {
        padding: 50px 36px;
        background-color: $brand-crimson;

        @media (min-width: $screen-md-min) {
            position: absolute;
            right: auto;
            bottom: -30px;
            left: 20px;
            max-width: 500px;
        }

        .header_style-2,
        .lead-text {
            color: $brand-white;
        }

        .header_style-2 {
            margin-bottom: 10px;
        }

        .lead-text {
            margin: 0;
        }
    }
</style>
