<template>
    <div class="facts-divider">
        <div class="container">
            <div class="row">
                <div v-for="fact in facts" class="col-md-4 facts-divider_item">
                    <div class="facts-divider_big-number" v-text="fact.number"></div>
                    <div class="facts-divider_lead-text" v-text="fact.leadtext"></div>
                    <p class="facts-divider_description" v-text="fact.description"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'global-facts-divider',
        props: {
            facts: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style lang="scss">
    .facts-divider {
        position: relative;
        padding: 80px 0;
        margin-bottom: 80px;
        text-align: center;
        background-color: $brand-charcoal;

        &::after {
            position: absolute;
            right: 0;
            bottom: -27px;
            left: 0;
            width: 100%;
            max-width: 1170px;
            height: 27px;
            margin: 0 auto;
            content: '';
            background-image: url('../static/images/pattern_dots2.svg');
            background-size: 12px;
            opacity: 0.5;
        }
    }

    .facts-divider_item {
        margin-bottom: 50px;

        @media (min-width: $screen-md-min) {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .facts-divider_big-number,
    .facts-divider_lead-text,
    .facts-divider_description {
        color: $brand-white;
    }

    .facts-divider_big-number {
        margin-bottom: 20px;

        @extend .big-number;
    }

    .facts-divider_lead-text {
        width: 60%;
        margin: 0 auto 40px;

        @extend .lead-text;

        &::after {
            @include floating-divider($brand-cerulean, 20px, auto);
        }
    }

    .facts-divider_description {
        width: 90%;
        margin: 0 auto;

        @extend .callout_style-1;
    }
</style>
