<template>
    <div class="slider_container" v-bind:class="{ 'full-width': version == 1, 'accented': version == 5 }">
        <h2 v-if="version == 2" class="slider_header" v-text="title"></h2>

    	<div ref="slider" class="slider" v-bind:class="{ 'roster': version == 1, 'two-col': version == 2, 'single-context': version == 3, 'gallery': version == 4, 'box-style': version == 5, 'wrapped': wrapped == true }" v-resize="slideResize">
    		<div ref="rail" class="slider_rail" v-bind:class="{ 'e-break': transitioning == false }" v-on:transitionend="slideTransitionEnd()">

                <!-- SLIDES FOR SLIDER VERSION 1 AND 2 -->
    			<div v-if="version == 1 || version == 2" v-for="slide in slides" class="slide">
                    <!-- CONTENT STRUCTURE FOR VERSION 1 -->
                    <div v-if="version == 1" class="slide_twocol-layout">
                        <div class="slide_twocol-layout_image" :style="'background-image: url(' + slide.image + ')'"></div>
                        <div class="centered">
                            <h3 class="header_style-3" v-text="slide.name"></h3>
                            <div class="callout_style-1" v-text="slide.title"></div>
                            <p class="paragraph_style-1" v-text="slide.excerpt"></p>
                            <p class="paragraph_style-1">
                                <span v-for="item in slide.education" class="education" v-text="item"></span>
                            </p>
                            <p class="paragraph_style-1"><a :href="slide.url">View Full Profile</a></p>
                        </div>
                    </div>

                    <!-- CONTENT STRUCTURE FOR VERSION 2 -->
                    <div v-if="version == 2" class="slide_content">
                        <div class="centered">
                            <h3 class="header_style-3" v-text="slide.title"></h3>
                            <p class="paragraph_style-1" v-text="slide.content"></p>
                            <p v-if="slide.url" class="paragraph_style-1"><a :href="slide.url">Read Full Story</a></p>
                        </div>
                    </div>
                    <div v-if="version == 2" class="slide_image" :style="'background-image: url(' + slide.image + ')'"></div>
                </div>

                <!-- SLIDES FOR SLIDER VERSION 3 AND 4 -->
                <div v-if="version == 3 || version == 4 || version == 5" v-for="slide in slides" class="slide" :style="'background-image: url(' + slide.image + ')'">
                    <h3 v-if="version == 4" class="slide_headline" v-text="slide.title"></h3>
                    <div v-if="version == 4 || version == 5" class="slide_caption" v-html="slide.description"></div>
                </div>

    		</div>
    	</div>
        <div v-if="version != 1" class="btn-gallery_wrap" v-bind:class="{ 'center-anchor': version == 2, 'bottom-right-anchor': version == 3, 'top-right-anchor': version == 5 }" role="navigation" aria-label="Carousel Navigator">
            <button class="btn-gallery left" v-on:click="slideMove('left')"><svg class="btn-gallery_img"><use xlink:href="../static/images/app.svg#icon_gallery-arrow"></use></svg><span class="access-hidden">Slider Button Navigate Left</span></button>
            <button class="btn-gallery right" v-on:click="slideMove('right')"><svg class="btn-gallery_img"><use xlink:href="../static/images/app.svg#icon_gallery-arrow"></use></svg><span class="access-hidden">Slider Button Navigate Right</span></button>
        </div>
        <div v-if="version == 3" class="slider_outer-content">
            <div class="centered">
                <div v-if="lead" class="lead-text" v-text="lead"></div>
                <h2 v-if="title" class="header_style-2" v-text="title"></h2>
                <p v-if="description" class="callout_style-1" v-text="description"></p>
                <a v-if="linktext && url" class="btn-global hollow--white mini" :href="url" v-text="linktext"></a>
            </div>
        </div>
        <ul v-if="version == 1" class="slider_roster-dots" role="navigation" aria-label="Carousel Item List">
            <li v-for="slide in slides" class="slider_roster-dots_item">
                <button class="slider_roster-dots_button" v-bind:class="{ active: activeSlide === slides.indexOf(slide) + 1 }" :style="'background-image: url(' + slide.image + ')'" v-on:click="slideDotTrigger(slide)"><span class="access-hidden">Carousel Navigation Item</span></button>
                <div class="callout_style-1" v-text="slide.name"></div>
            </li>
        </ul>
    </div>
</template>

<script>
    // Against my better judgement, I've installed a package to detect module resizing because using window.resize
    // Only seems to trigger on the last slider on the page as opposed to all of them.

    import resize from 'vue-resize-directive'

	export default {
		name: 'global-carousel',
        directives: {
            resize,
        },
        data() {
            return {
                activeSlide: 1,
                slideCount: null,
                transitioning: false,
                stop: false
            }
        },
        props: {
            version: {
                type: Number,
            },
            lead: {
                type: String
            },
            title: {
                type: String
            },
            description: {
                type: String
            },
            linktext: {
                type: String
            },
            url: {
                type: String
            },
            slides: {
                type: Array,
                required: true
            },
            wrapped: {
                type: Boolean
            }
        },
		methods: {
            slideDuplicate: function() {
                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };

                this.slideCount = slideList.length;

                // Need to clone the first and last slides and append and prepend them to the end and beginning of our slide list

                var firstSlideClone = slideList[0].cloneNode(true);
                var lastSlideClone = slideList[slideList.length - 1].cloneNode(true);

                this.$refs.rail.insertBefore(lastSlideClone, this.$refs.rail.childNodes[0]);
                this.$refs.rail.appendChild(firstSlideClone);
            },
            slideResize: function() {
                // This snippet turns an HTMLCOLLECTION into a true javascript array because getElementByClassName is a useless method sometimes

                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };
                // End snippet

                // Get current height and width of the slider container
                var currentHeight = this.$refs.slider.offsetHeight;
                var currentWidth = this.$refs.slider.offsetWidth;

                // Apply that height and width to every slide in your slider
                for (var slide in slideList) {
                    slideList[slide].style.height = currentHeight + "px";
                    slideList[slide].style.width = currentWidth + "px";
                }

                // Set the slider rail width to facilitate the correct number of slides. Not neccesary for this example.
                // this.$refs.rail.style.width = (currentWidth * slideList.length) + "px";

                //Initialize the starting position of the slider

                Velocity(this.$refs.rail, { translateX: -currentWidth }, 0);
                // this.$refs.rail.style.transform = "translateX(-" + sliderWidth + "px)";
            },
            slideMove: function(i) {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var styleList = window.getComputedStyle(theRail);
                var currentPosition = styleList.getPropertyValue('left');
                var direction = i;
                var moveToSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts
                if (this.transitioning === false) {

                    // Set the afformentioned flag to true so the button can't be clicked again until the transition is done.
                    this.transitioning = true;

                    if (direction == "right") {
                        if (this.activeSlide == this.slideCount) {
                            moveToSlide = this.activeSlide + 1;
                            this.activeSlide = 1;

                        } else {
                            this.activeSlide += 1;
                            moveToSlide = this.activeSlide;
                        }
                    } else if (direction == "left") {
                        if (this.activeSlide == 1) {
                            moveToSlide = this.activeSlide -1;
                            this.activeSlide = this.slideCount;

                        } else {
                            this.activeSlide -= 1;
                            moveToSlide = this.activeSlide;
                        }
                    }

                    var newPosition = sliderWidth * moveToSlide;
                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });

                    // theRail.style.transform = "translateX(-" + newPosition + "px)";
                }
            },
            slideDotTrigger: function(i) {
                // This method is being used for explicit slide changes using the dots. Some of what is here is a duplicate
                // of the stuff going on up to in slideMove. This will be cleaned later

                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var newSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts

                if (this.transitioning === false) {

                    this.transitioning = true;
                    this.activeSlide = this.slides.indexOf(i) + 1;

                    newSlide = this.activeSlide;

                    var newPosition = sliderWidth * newSlide;

                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });
                }
            },
            slideTransitionEnd: function() {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;

                component.transitioning = false;

                if (component.activeSlide == 1) {
                    Velocity(theRail, { translateX: -sliderWidth }, 0);
                    // theRail.style.transform = "translateX(-" + sliderWidth + "px)";
                } else if (component.activeSlide == component.slideCount) {
                    Velocity(theRail, { translateX: -(sliderWidth * component.slideCount) }, 0);
                    // theRail.style.transform = "translateX(-" + (sliderWidth * component.slideCount) + "px)";
                }
            }
		},
        mounted() {
            var component = this;
            this.slideDuplicate();
            this.slideResize();
        }
	}
</script>

<style lang="scss">

    /* ----------------------------- */

    /* SLIDER BASE STYLES (REUSABLE) */

    /* ----------------------------- */

    .slider {
        position: relative;
        height: 440px;
        margin-bottom: 60px;
        overflow: hidden;
    }

    .slider_rail {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 0;
        white-space: nowrap;

        /* transition: transform 0.2s ease; */
    }

    .slide {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* ---------------------------- */

    /* BIOLA SPECIFIC SLIDER STYLES */

    /* ---------------------------- */

    .slider_container {
        position: relative;
        margin-right: -15px;
        margin-left: -15px;

        @media (min-width: $screen-sm-min) {
            margin-right: 0;
            margin-left: 0;
        }

        &.full-width {
            margin-right: 0;
            margin-left: 0;
        }

        &.accented {

            &::before {
                display: none;
                content: '';

                @media (min-width: $screen-sm-min) {
                    position: absolute;
                    top: -10px;
                    right: 0;
                    left: -10px;
                    display: block;
                    width: calc(100% + 20px);
                    height: 47px;
                    background-color: $brand-carmine;
                }
            }
        }

        .btn-gallery_wrap {
            position: absolute;
            right: 0;
            bottom: 0;
            display: table;
            width: 82px;

            &.center-anchor {
                left: 0;
                margin: 0 auto;
            }

            &.bottom-right-anchor {

                @media (min-width: $screen-lg-min) {
                    right: -20px;
                    bottom: 22px;
                }
            }

            &.top-right-anchor {
                top: 0;
                right: 0;

                @media (min-width: $screen-lg-min) {
                    top: 22px;
                    right: -20px;
                }
            }
        }
    }

    .slider {

        &.wrapped {
            margin-bottom: 0;
        }

        &.roster {
            height: 600px;
            margin-bottom: 30px;

            @media (min-width: $screen-sm-min) {
                height: 410px;
                margin-bottom: 60px;
            }
        }

        &.two-col {
            height: 600px;

            @media (min-width: $screen-sm-min) {
                height: 400px;
            }
        }

        &.two-col + .btn-gallery_wrap {

            @media (max-width: 767px) {
                top: 253px;
            }
        }

        &.single-context {
            height: 300px;

            @media (min-width: $screen-sm-min) {
                height: 512px;
            }

            @media (max-width: 991px) {
                margin-bottom: 0;
            }
        }

        &.single-context + .btn-gallery_wrap {

            @media (max-width: 991px) {
                top: 0;
                bottom: auto;
            }
        }

        &.gallery {
            height: 300px;

            @media (min-width: $screen-sm-min) {
                height: 512px;
            }

            @media (min-width: $screen-md-min) {
                height: 650px;
            }
        }

        &.box-style {
            height: 300px;

            @media (min-width: $screen-sm-min) {
                height: 400px;
            }

            .slide_caption {
                display: block !important;
            }
        }

        .paragraph_style-1 {

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    .slide_twocol-layout {
        max-width: 885px;
        height: 100%;
        margin: 0 auto;

        .header_style-3,
        .callout_style-1,
        .paragraph_style-1 {
            white-space: normal;
        }

        .header_style-3 {
            margin-bottom: 0;
        }

        .education {
            display: block;
        }

        .centered {

            @media (max-width: 767px) {
                height: 375px;
                padding: 20px 15px 0;
            }

            @extend .centered-cleanup_mobile;
        }
    }

    .slide_twocol-layout_image {
        position: relative;
        width: 100%;
        height: 300px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
            float: left;
            width: 380px;
            height: 100%;
        }

        @media (min-width: $screen-md-min) {
            width: 474px;
            margin-right: 60px;
        }

        &::before {
            content: '';

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 0;
                left: -20px;
                width: 1px;
                height: 264px;
                background-color: $brand-carmine;
            }
        }
    }

    .slider_roster-dots {
        position: relative;
        display: block;
        margin-bottom: 60px;
        font-size: 0;
        text-align: center;

        &::before {
            content: '';

            @media (min-width: $screen-sm-min) {
                position: absolute;
                top: 14px;
                left: 0;
                width: 100%;
                height: 50px;
                background-image: url('../static/images/pattern_dots2.svg');
                background-size: 8px;
                opacity: 0.5;
            }

            @media (min-width: $screen-md-min) {
                top: 28px;
            }
        }
    }

    .slider_roster-dots_item {
        display: inline-block;
        margin-right: 20px;

        @media (min-width: $screen-sm-min) {
            margin-right: 56px;
        }

        &:last-of-type {
            margin-right: 0;
        }

        .callout_style-1 {
            display: none;

            @media (min-width: $screen-sm-min) {
                display: block;
            }
        }
    }

    .slider_roster-dots_button {
        position: relative;
        width: 60px;
        height: 45px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: $brand-carmine;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
        appearance: none;

        @media (min-width: $screen-sm-min) {
            width: 100px;
            height: 74px;
        }

        @media (min-width: $screen-md-min) {
            width: 144px;
            height: 107px;
        }

        &.active {

            &::before {
                width: 100%;
            }
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            content: '';
            background-color: $brand-carmine;

            @extend .standard_transition;
        }
    }

    .slider_header {
        position: absolute;
        top: -13px;
        left: 20px;
        z-index: 1;
        color: $brand-cerulean;

        @extend .header_style-2;
    }

    .slider_outer-content {
        position: relative;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        padding: 40px 20px;
        margin: -60px 15px 60px;
        background-color: $brand-crimson;

        @media (min-width: $screen-md-min) {
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: -20.7%;
            width: 38.145%;
            height: calc(100% - 40px);
            padding: 0 40px;
            margin: 20px 0;
        }

        @media (min-width: $screen-lg-min) {
            left: -200px;
        }

        .lead-text,
        .header_style-2,
        .callout_style-1 {
            color: $brand-white;
        }

        .lead-text {
            margin-bottom: 10px;
        }

        .header_style-2 {
            margin-bottom: 26px;
        }

        .callout_style-1 + .btn-global {
            margin-top: 40px;
        }

        .btn-global {
            width: auto;
            margin-bottom: 0;
        }

        .centered {

            @extend .centered-cleanup_tablet;
        }
    }

    .slide_content,
    .slide_image {
        position: absolute;
        display: block;
        width: 100%;
        height: 300px;

        @media (min-width: $screen-sm-min) {
            position: static;
            display: inline-block;
            float: left;
            width: 50%;
            height: 100%;
        }
    }

    .slide_content {
        bottom: 0;
        padding: 0 20px;
        white-space: normal;
        background-color: $brand-skyblue;

        @media (min-width: $screen-sm-min) {
            padding: 0 40px;
        }

        @media (min-width: $screen-md-min) {
            bottom: auto;
            padding: 0 70px;
        }

        .header_style-3 {
            position: relative;

            &::before {
                position: absolute;
                top: -27px;
                left: -35px;
                z-index: -1;
                display: block;
                width: 69px;
                height: 65px;
                content: '';
                background-image: url(../static/images/carousel_dots.svg);
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }

    .slide_image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slide_headline {
        position: absolute;
        top: -14px;
        right: 0;
        left: 0;
        display: block;
        margin: 0 auto;
        color: $brand-white;
        text-align: center;
        opacity: 0.1;

        @extend .header_cutoff;
    }

    .slide_caption {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: none;
        max-width: 519px;
        padding: 18px 26px;
        white-space: normal;
        background-color: $brand-white;

        @media (min-width: $screen-sm-min) {
            display: block;
        }

        p {
            font-size: 12px;

            @extend .callout_style-1;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
</style>
