<template>
	<ul class="event-list">
		<li v-for="event in eventlist" class="event-list_item" v-bind:class="{'inlined': inline == true }">
			<a class="event-list_link" :href="event.url">
				<div class="event-list_date">
					<div class="callout_style-1" v-text="event.month"></div>
					<div class="event-list_number" v-text="event.day"></div>
				</div>
                <div class="event-list_content">
                    <div class="event-list_header" v-text="event.title"></div>
                    <p class="paragraph_style-1" v-text="event.description"></p>
                </div>
			</a>
		</li>
	</ul>
</template>

<script>
	export default {
		name: 'global-event-list',
        props: {
            inline: {
                type: Boolean
            },
            eventlist: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .event-list {
        margin-bottom: 60px;
        font-size: 0;
    }

    .event-list_item {
        display: block;
        margin-bottom: 40px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        &.inlined {

            @media (min-width: $screen-sm-min) {
                display: inline-block;
                width: 33.3333%;
            }
        }
    }

    .event-list_link {
        display: block;
        padding: 14px 10px;
        text-decoration: none;

        @media (min-width: $screen-sm-min) {
            padding: 22px 15px;
        }

        @extend .standard_transition;

        &:hover {
            background-color: $brand-crimson;

            .event-list_date,
            .event-list_header,
            .paragraph_style-1,
            .callout_style-1,
            .event-list_number {
                color: $brand-white;
            }
        }
    }

    .event-list_date,
    .event-list_content {
        vertical-align: top;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
        }
    }

    .event-list_date {
        margin-bottom: 10px;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            width: 20%;
            margin-bottom: 0;
        }
	}

    .event-list_number {
        font-size: 44px;
        line-height: 1;
        color: $brand-carmine;

        @extend .big-number;
    }

    .event-list_content {
        text-align: center;

        @media (min-width: $screen-sm-min) {
            width: calc(80% - 30px);
            margin-left: 30px;
            text-align: left;
        }

        .paragraph_style-1 {
            margin-bottom: 0;
        }
    }

    .event-list_header {
        margin-bottom: 5px;
        font-family: 'Gotham-Bold';

        @extend .paragraph_style-1;
    }
</style>
