<template>
    <div class="button-divider black_full-bleed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-1 button-divider_content">
                    <div class="lead-text" v-text="leadtext"></div>
                    <h2 class="header_style-2" v-text="title"></h2>
                    <p class="callout_style-1" v-text="paragraph"></p>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-sm-offset-1 col-md-offset-2">
                    <ul class="button-divider_list">
                        <li v-for="button in buttons"><a class="btn-global hollow--white" :href="button.url" v-text="button.name"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'global-button-divider',
        props: {
            leadtext: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            paragraph: {
                type: String,
                required: true
            },
            buttons: {
                type: Array,
                required: true
            } 
        }
    }
</script>

<style lang="scss">
    .button-divider {
        position: relative;
        margin-bottom: 60px;
        background-color: $brand-charcoal;

        &::after {
            content: '';

            @media (min-width: $screen-lg-min) {
                position: absolute;
                top: 30px;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                width: 24px;
                height: calc(100% - 60px);
                margin: 0 auto;
                background-image: url('../static/images/pattern_dots3.svg');
                background-position: top left;
                background-size: 12px;
                opacity: 0.4;
            }
        }

        .header_style-2 {

            &::after {
                @include floating-divider($brand-cerulean, 20px, 0);
            }
        }

        .btn-global:hover {
            color: $brand-charcoal !important;
        }
    }

    .button-divider_content {
        margin-bottom: 40px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }
    }

    .button-divider_list {
        margin-bottom: -20px;
    }
</style>
