<template>
    <div class="intro-content" v-bind:class="{'no-margin': nomargin == true, 'left-align': alignment == 'left'}">
        <div v-if="leadtext" class="lead-text" v-text="leadtext"></div>
        <h1 class="header_style-2" v-text="title"></h1>
        <p v-if="paragraph" class="paragraph_style-1" v-text="paragraph"></p>
        <a v-if="button" class="btn-global mini hollow auto-width" :href="button.url" v-text="button.name"></a>
    </div>
</template>

<script>
    export default {
        name: 'global-intro-content',
        props: {
            leadtext: {
                type: String
            },
            title: {
                type: String,
                required: true
            },
            paragraph: {
                type: String
            },
            nomargin: {
                type: Boolean
            },
            alignment: {
                type: String
            },
            button: {
                type: Object
            }
        }
    }
</script>

<style lang="scss">
    .intro-content {
        margin-bottom: 60px;
        text-align: center;

        &.left-align {
            text-align: left;

            .header_style-2::after {
                margin: 25px 0 0;
            }

            .btn-global {
                margin: 0;
            }
        }

        &.no-margin {
            margin-bottom: 0;

            .header_style-2 {

                @media (min-width: $screen-sm-min) {
                    margin-bottom: 0;
                }

                &::after {
                    display: none;
                }
            }
        }

        .header_style-2 {
            margin-bottom: 25px;

            &::after {
                display: block;
                width: 50px;
                height: 2px;
                margin: 25px auto 0;
                content: '';
                background-color: $brand-carmine;
            }
        }

        .btn-global {
            margin: 0 auto;
        }
    }
</style>
