<template>
	<div class="content-block">
		<div class="content-block_image-box" :style="'background-image: url(' + background + ')'">
			<img class="content-block_image" :src="image.src" :alt="image.alt">
		</div>
		<div class="content-block_content">
            <div class="content-block_centered-wrap">
                <div v-if="leadtext" class="lead-text" v-text="leadtext"></div>
                <h2 class="header_style-2" v-text="title"></h2>
                <p class="paragraph_style-1" v-text="paragraph"></p>
                <a v-if="button" class="btn-global hollow mini auto-width" :href="button.url" v-text="button.name"></a>
            </div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-content-block',
        props: {
            leadtext: {
                type: String
            },
            title: {
                type: String,
                required: true
            },
            paragraph: {
                type: String,
                required: true
            },
            button: {
                type: Object,
                required: true
            },
            image: {
                type: Object,
                required: true,
            },
            background: {
                type: String
            }
        }
	}
</script>

<style lang="scss">
    .content-block {
        margin: 0 -15px 60px;

        @media (min-width: $screen-md-min) {
            display: flex;
            margin: 0 0 60px;
        }
    }

    .content-block_image-box,
    .content-block_content {

        @media (min-width: $screen-md-min) {
            width: 50%;
        }
    }

    .content-block_image-box {
        padding: 15px;
        background-image: url('../static/images/content-block_test-img2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-md-min) {
            padding: 30px;
        }
    }

    .content-block_image {
        width: 100%;
    }

    .content-block_content {
        padding: 30px;
        background-color: $brand-skyblue;

        @media (min-width: $screen-md-min) {
            display: flex;
            align-items: center;
            padding: 0 60px;
        }

        @media (min-width: $screen-lg-min) {
            padding: 0 94px;
        }

        .header_style-2 {
            margin-bottom: 22px;

            &::after {
                @include floating-divider($brand-crimson, 18px, 0);
            }
        }
    }
</style>
