<template>
    <div class="header-wrap">
        <header role="navigation" aria-label="Main Navigation">
            <a class="access-hidden" href="#main-content">Skip to main content</a>
            <div class="main container">
                <div class="logo-container" role="banner">
                    <a href="/">
                        <svg class="logo"><use xlink:href="../static/images/app.svg#logo"></use></svg>
                        <span class="access-hidden">Home</span>
                    </a>
                </div>
                <button class="btn-search mobile" v-bind:class="{ active: searchMode }" v-on:click="toggleSearchMode()">
                    <svg class="btn-search_img opener">
                        <use xlink:href="../static/images/app.svg#icon_search"></use>
                    </svg>
                    <svg class="btn-search_img closer">
                        <use xlink:href="../static/images/app.svg#icon_close"></use>
                    </svg>
                    <span class="access-hidden">Toggle Search</span>
                </button>
                <a id="btn-mobilenav-toggle" v-on:click="mobileNavOn = !mobileNavOn" v-bind:class="{ active: mobileNavOn }"><span></span></a>
                <div class="navigation">
                    <div class="top">
                        <ul class="header-nav-top">
                            <li class="header-nav-top_item arrowed">
                                <a class="header-nav-top_link">Information for</a>
                                <ul class="header-nav-dropdown mini">
                                    <li class="header-nav-dropdown_item mini" v-for="item in infomenu"><a class="header-nav-dropdown_link" v-text="item.name" :href="item.url"></a></li>
                                </ul>
                            </li>
                            <li class="header-nav-top_item" v-for="item in utilitymenu"><a class="header-nav-top_link" href="/" v-text="item.name" :href="item.url"></a></li>
                        </ul>
                        <ul class="header-nav-top">
                            <li class="header-nav-top_item" v-for="item in actionmenu"><a class="header-nav-top_link" v-text="item.name" :href="item.url"></a></li>
                            <li class="header-nav-top_item special"><a class="header-nav-top_link" href="/">Login</a></li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <ul class="header-nav-bottom">
                            <li class="header-nav-bottom_item" v-for="item in mainmenu">
                                <a class="header-nav-bottom_link" v-text="item.name" :href="item.url"></a>
                                <ul class="header-nav-dropdown" v-if="item.children">
                                    <li class="header-nav-dropdown_item" v-for="child in item.children"><a class="header-nav-dropdown_link" v-text="child.name" :href="child.url"></a></li>
                                </ul>
                            </li>
                        </ul>
                        <button class="btn-search" v-bind:class="{ active: searchMode }" v-on:click="toggleSearchMode()">
                            <svg class="btn-search_img opener">
                                <use xlink:href="../static/images/app.svg#icon_search"></use>
                            </svg>
                            <svg class="btn-search_img closer">
                                <use xlink:href="../static/images/app.svg#icon_close"></use>
                            </svg>
                            <span class="access-hidden">Toggle Search</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="secondary" v-if="isSubpage">
                <div class="container">
                    <ul class="header-nav-breadcrumbs">
                        <li class="header-nav-breadcrumbs_item"><a class="header-nav-breadcrumbs_link" href="/">
                            <svg class="header-nav-breadcrumbs_home">
                                <use xlink:href="../static/images/app.svg#icon_home"></use>
                            </svg>
                            <span class="access-hidden">Home</span>
                        </a></li>
                        <li class="header-nav-breadcrumbs_item" v-for="item in breadcrumbmenu"><a class="header-nav-breadcrumbs_link" v-text="item.name" :href="item.url"></a></li>
                    </ul>
                </div>
            </div>
            <div class="search-bar_container" v-bind:class="{ active: searchMode }" role="search">
                <div class="search-bar">
                    <label class="lead-text">Search Biola.edu</label>
                    <div class="search-bar_input-container">
                        <svg class="search-bar_input-symbol">
                            <use xlink:href="../static/images/app.svg#icon_search"></use>
                        </svg>
                        <label>
                            <input class="search-bar_input" type="text" placeholder="What are you looking for?" v-on:focus="searchFocus = true" v-on:blur="searchFocus = false">
                            <span class="access-hidden">Search Input</span>
                        </label>
                        <button class="search-bar_btn-go" v-bind:class="{ active: searchFocus }">
                            <svg class="search-bar_btn-go_img">
                                <use xlink:href="../static/images/app.svg#icon_long-arrow"></use>
                            </svg>
                            <span class="access-hidden">Search Go</span>
                        </button>
                    </div>
                </div>
                <div class="search-bar_favorites">
                    <ul>
                        <li class="search-bar_favorites_item" v-for="item in searchfavorites"><a class="search-bar_favorites_link" v-text="item.name" :href="item.url"></a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-nav" v-bind:class="{ active: mobileNavOn }">
                <ul class="mobile-nav_primary">
                    <li class="mobile-nav_primary_item" v-for="item in mainmenu" v-bind:class="{ active: mobileNavActiveItem === item }">
                        <a class="mobile-nav_primary_link" v-on:click="toggleMobileNavActive(item)" v-text="item.name" :href="item.url"></a>
                        <ul class="mobile-nav_primary-dropdown">
                            <li class="mobile-nav_primary-dropdown_item"><a class="mobile-nav_primary-dropdown_link" :href="item.url">Overview</a></li>
                            <li class="mobile-nav_primary-dropdown_item" v-for="child in item.children"><a class="mobile-nav_primary-dropdown_link" v-text="child.name" :href="child.url"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="mobile-nav_secondary">
                    <li class="mobile-nav_secondary_item"><a class="mobile-nav_secondary_link" href="/">Login</a></li>
                    <li class="mobile-nav_secondary_item" v-for="item in actionmenu"><a class="mobile-nav_secondary_link" v-text="item.name" :href="item.url"></a></li>
                    <li class="mobile-nav_secondary_item"><a class="mobile-nav_secondary_link arrowed" v-on:click="mobileNavInfo = !mobileNavInfo">Information for</a></li>
                </ul>
                <ul class="mobile-nav_information" v-bind:class="{ active: mobileNavInfo }">
                    <li class="mobile-nav_information_item" v-for="item in actionmenu"><a class="mobile-nav_information_link" v-text="item.name" :href="item.url"></a></li>
                </ul>
            </div>
        </header>
        <div class="overlay-screen" v-bind:class="{ active: searchMode }"></div>
    </div>
</template>

<script>
    export default {
        name: 'global-header',
        data() {
            return {
                searchMode: false,
                searchFocus: false,
                mobileNavOn: false,
                mobileNavActiveItem: null,
                mobileNavInfo: false,
                isSubpage: true
            }
        },
        props: {
            mainmenu: {
                type: Array,
                required: true,
            },
            utilitymenu: {
                type: Array,
                required: true,
            },
            infomenu: {
                type: Array,
                required: true,
            },
            actionmenu: {
                type: Array,
                required: true,
            },
            breadcrumbmenu: {
                type: Array,
                required: true,
            },
            searchfavorites: {
                type: Array,
                required: true
            }
        },
        methods: {
            test: function() {
                console.log('testing one TWO');
            },
            toggleSearchMode: function() {
                this.searchMode = !this.searchMode;
            },
            toggleMobileNavActive: function(index) {
                event.preventDefault();
                if (index === this.mobileNavActiveItem) {
                    this.mobileNavActiveItem = null;
                } else {
                    this.mobileNavActiveItem = index;
                }
            },
        }
    };
</script>

<style lang="scss">
    $header-top-height:                 47px;
    $header-top-height_mobile:           40px;
    $header-bottom-height:              68px;
    $header-bottom-height_mobile:       50px;
    $header-psuedo-padding:             3px;
    $search-bar_placeholder-color:      $brand-charcoal;

    header {
        position: fixed;
        top: 0;
        z-index: 300;
        display: block;
        width: 100%;
        background-color: $brand-charcoal;

        @media (min-width: $screen-md-min) {
            position: relative;
        }

        .main {
            position: relative;
            top: auto;
            z-index: 5;
            display: flex;
            height: 62px;
            padding-left: 15px;

            @media (min-width: $screen-md-min) {
                height: auto;
                padding-left: 0;
            }

            @media (min-width: $screen-lg-min) {
                padding-left: 15px;
            }
        }

        .secondary {
            display: none;
            width: 100%;
            height: 50px;
            background-color: $brand-white;

            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        .logo-container,
        .navigation {
            display: block;
            float: left;
        }

        .navigation .top,
        .navigation .bottom {
            padding-left: 15px;

            @media (min-width: $screen-md-min) {
                padding-left: 30px;
            }
        }

        .logo-container {
            width: 18%;
            height: 62px;
            text-align: center;

            @media (min-width: $screen-md-min) {
                width: 20%;
                height: 115px;
            }

            a {
                display: block;

                @extend .centered;
            }
        }

        .logo {
            width: 130px;
            height: 36px;
            fill: $brand-white;

            /* @media (min-width: $screen-sm-min) {
                width: 105px;
                height: 29px;
            } */

            @media (min-width: $screen-md-min) {
                width: 160px;
                height: 44px;
            }

            @media (min-width: $screen-lg-min) {
                width: 202px;
                height: 54px;
            }

            @extend .standard_transition;

            &:hover {
                fill: $brand-carmine;
            }
        }

        .navigation {
            display: none;

            @media (min-width: $screen-sm-min) {
                width: 82%;
            }

            @media (min-width: $screen-md-min) {
                display: block;
                width: 80%;
            }
        }

        .top {
            @include gotham_book_nav();

            position: relative;
            z-index: 2;
            height: $header-top-height_mobile;
            background-color: $brand-ash;

            @media (min-width: $screen-md-min) {
                height: $header-top-height;
            }

            &::after {
                position: absolute;
                left: 0;
                z-index: -1;
                width: 100vw;
                height: 100%;
                content: '';
                background-color: inherit;
            }
        }

        .bottom {
            height: $header-bottom-height_mobile;
            background-color: $brand-charcoal;

            @media (min-width: $screen-md-min) {
                height: $header-bottom-height;
            }
        }
    }

    /* --------------------- */

    /* HEADER NAVIGATION TOP */

    /* --------------------- */

    .header-nav-top {

        &:nth-of-type(1) {
            float: left;
        }

        &:nth-of-type(2) {
            float: right;

            li {
                margin-right: 15px;

                @media (min-width: $screen-md-min) {
                    margin-right: 20px;
                }
            }
        }
    }

    .header-nav-top_item {
        @include gotham_book_nav();

        position: relative;
        display: inline-block;
        margin-right: 15px;
        line-height: $header-top-height_mobile;

        @media (min-width: $screen-md-min) {
            margin-right: 20px;
            line-height: $header-top-height;
        }

        @media (min-width: $screen-lg-min) {
            margin-right: 30px;
        }

        &.special a {
            color: $brand-white;
        }

        &.arrowed {
            margin-right: 15px;

            .header-nav-top_link {
                padding-right: 35px;
                font-family: 'Gotham-Bold';
                background-image: url(../static/images/icon_dot-arrow.png);
                background-repeat: no-repeat;
                background-position: center right 13px;
                border-right: 1px solid $brand-lightgray;
            }
        }

        &:last-child {
            margin-right: 0 !important;
        }

        &:hover {

            .header-nav-dropdown {
                display: block;
            }
        }
    }

    .header-nav-top_link {
        display: inline;
        color: $brand-lightgray;
        text-decoration: none;

        @extend .standard_transition;

        &:hover {
            color: $brand-white;
        }
    }

    /* ------------------------ */

    /* HEADER NAVIGATION BOTTOM */

    /* ------------------------ */

    .header-nav-bottom {
        float: left;
    }

    .header-nav-bottom_item {
        @include gotham_md_nav();

        position: relative;
        display: inline-block;
        margin-right: 15px;
        line-height: $header-bottom-height_mobile;

        @media (min-width: $screen-md-min) {
            margin-right: 20px;
            line-height: $header-bottom-height;
        }

        @media (min-width: $screen-lg-min) {
            margin-right: 32px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {

            .header-nav-dropdown {
                display: block;
            }
        }
    }

    .header-nav-bottom_link {
        position: relative;
        z-index: 1;
        display: inline;
        color: $brand-white;
        text-decoration: none;

        &::before {
            position: absolute;
            bottom: -2px;
            left: (-$header-psuedo-padding);
            z-index: -1;
            display: block;
            width: 0;
            height: 8px;
            content: '';
            background-color: $brand-carmine;

            @extend .standard_transition;
        }

        &:hover {

            &::before {
                width: calc(100% + 6px);
            }
        }
    }

    /* -------------------------- */

    /* HEADER NAVIGATION DROPDOWN */

    /* -------------------------- */

    .header-nav-dropdown {
        position: absolute;
        left: -30px;
        display: none;
        width: 290px;
        padding: 12px 0;
        background-color: $brand-charcoal;
        border-top: 1px solid $brand-ash;
        border-bottom: 6px solid $brand-carmine;

        &.mini {
            width: 210px;
            background-color: $brand-ash;
            border-top: 1px solid $brand-charcoal;
        }
    }

    .header-nav-dropdown_item {
        @include gotham_book_dropdown();

        &.mini:hover {
            background-color: $brand-charcoal;
        }

        &:hover {
            background-color: $brand-ash;
        }
    }

    .header-nav-dropdown_link {
        display: block;
        padding: 9px 30px;
        color: $brand-lightgray;
        text-decoration: none;

        @extend .standard_transition;
    }

    /* ----------------------------- */

    /* HEADER NAVIGATION BREADCRUMBS */

    /* ----------------------------- */

    .header-nav-breadcrumbs {
        font-size: 0;
    }

    .header-nav-breadcrumbs_home {
        width: 25px;
        height: 22px;
        vertical-align: middle;
        fill: $brand-charcoal;

        @extend .standard_transition;

        &:hover {
            fill: $brand-carmine;
        }
    }

    .header-nav-breadcrumbs_item {
        @include gotham_md_nav();

        display: inline;
        font-size: 12px;
        line-height: 50px;

        @media (min-width: $screen-md-min) {
            font-size: 14px;
        }

        &::before {
            display: inline-block;
            width: 15px;
            height: 1px;
            margin: 0 12px;
            vertical-align: middle;
            content: '';
            background-color: $brand-gray;
        }

        &:first-child::before {
            display: none;
        }
    }

    .header-nav-breadcrumbs_link {
        color: $brand-ash;
        text-decoration: none;

        @extend .standard_transition;

        &:hover {
            color: $brand-carmine;
        }
    }

    /* -------------------- */

    /* SEARCH FUNCTIONALITY */

    /* -------------------- */

    .btn-search {
        position: relative;
        float: right;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
        appearance: none;

        @extend .centered;

        &.mobile {
            position: absolute;
            top: 32px;
            right: 60px;

            @media (min-width: $screen-md-min) {
                display: none;
            }
        }

        &.active {

            .opener {
                opacity: 0;
            }

            .closer {
                opacity: 1;
            }
        }

        &:hover {

            .opener {
                fill: $brand-lightgray;
            }

            .closer {
                fill: $brand-vermillion;
            }
        }
    }

    .btn-search_img {
        width: 20px;
        height: 20px;
        fill: $brand-white;

        @extend .standard_transition;

        &.closer {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            fill: $brand-carmine;
        }
    }

    .search-bar_container {
        position: absolute;
        top: 62px;
        z-index: 5;
        width: 100%;
        visibility: hidden;
        opacity: 0;

        /* @media (min-width: $screen-sm-min) {
            top: 90px;
        } */

        @media (min-width: $screen-md-min) {
            top: 115px;
        }

        @extend .standard_transition;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .search-bar,
    .search-bar_favorites {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .search-bar {
        position: relative;
        padding: 25px 15px;
        background-color: $brand-white;

        @media (min-width: $screen-sm-min) {
            padding: 34px 76px;
        }
    }

    .search-bar_input-symbol {
        display: none;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: 4px;
            left: -44px;
            display: block;
            width: 28px;
            height: 28px;
        }
    }

    .search-bar_input-container {
        position: relative;
    }

    .search-bar_input {
        @include gotham_bold_search();

        width: 100%;
        padding-bottom: 4px;
        border: none;
        border-bottom: 2px solid $brand-charcoal;

        &::-webkit-input-placeholder {
            color: $search-bar_placeholder-color;
        }

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $search-bar_placeholder-color;
        }

        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $search-bar_placeholder-color;
            opacity: 1;
        }

        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $search-bar_placeholder-color;
            opacity: 1;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $search-bar_placeholder-color;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $search-bar_placeholder-color;
        }

        &:focus {
            outline: none;
        }
    }

    .search-bar_btn-go {
        position: absolute;
        top: 5px;
        right: 0;
        appearance: none;
        cursor: pointer;
        visibility: hidden;
        background-color: transparent;
        border: none;
        opacity: 0;
        transform: translate(30px, 0);

        @extend .standard_transition;

        @media (min-width: $screen-sm-min) {
            top: 10px;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0);
        }

        &:hover .search-bar_btn-go_img {
            fill: $brand-vermillion;
        }
    }

    .search-bar_btn-go_img {
        display: block;
        width: 37px;
        height: 16px;
        fill: $brand-carmine;

        @extend .standard_transition;
    }

    .search-bar_favorites {
        padding: 15px;
        background-color: $brand-skyblue;

        @media (min-width: $screen-sm-min) {
            padding: 34px;
        }

        ul {
            margin-bottom: -12px;
            font-size: 0;
        }
    }

    .search-bar_favorites_item {
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    .search-bar_favorites_link {
        @include gotham_md_nav();

        display: block;
        padding: 9px 12px;
        color: $brand-charcoal;
        text-decoration: none;
        background-color: $brand-white;

        @extend .standard_transition;

        &:hover {
            color: $brand-white;
            background-color: $brand-carmine;
        }
    }

    /* ----------------- */

    /* MOBILE NAVIGATION */

    /* ----------------- */

    #btn-mobilenav-toggle {
        position: absolute;
        top: 23px;
        right: 15px;
        padding: 7px 26px 11px 0;
        cursor: pointer;

        @media (min-width: $screen-md-min) {
            display: none;
        }

        span,
        span::before,
        span::after {
            position: absolute;
            display: block;
            width: 26px;
            height: 2px;
            cursor: pointer;
            content: '';
            background: $brand_white;
            border-radius: 1px;
            transition: all 500ms ease-in-out;
        }

        span {

            &::before {
                top: -8px;
            }

            &::after {
                bottom: -8px;
            }
        }
    }

    #btn-mobilenav-toggle.active {

        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                top: 10px;
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }

    .mobile-nav {
        position: fixed;
        top: 62px;
        z-index: 3;
        width: 100vw;
        height: calc(100vh - 62px);
        padding: 30px 15px;
        overflow: scroll;
        background-color: $brand-charcoal;
        border-top: 1px solid $brand-carmine;
        transform: translate(100vw, 0);

        @extend .standard_transition;

        @media (min-width: $screen-md-min) {
            display: none;
        }

        &.active {
            transform: translate(0, 0);
        }
    }

    /* ----------------------------- */

    /* PRIMARY/TOP MOBILE NAVIGATION */

    /* ----------------------------- */

    .mobile-nav_primary {
        margin: 0 20px 50px;
    }

    .mobile-nav_primary_item {
        @include gotham_md_mobile_nav();

        margin-bottom: 40px;
        overflow: hidden;

        &.active .mobile-nav_primary-dropdown {
            max-height: 1000px;
            padding: 30px 0 10px 21px;
            margin-top: 16px;
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .mobile-nav_primary_link,
    .mobile-nav_primary-dropdown_link {
        color: $brand-white;
        text-decoration: none;
    }

    .mobile-nav_primary-dropdown {
        max-height: 0;
        padding: 0 0 0 21px;
        margin-top: 0;
        border-left: 2px solid $brand-carmine;
        opacity: 0;

        @extend .standard_transition;
    }

    .mobile-nav_primary-dropdown_item {
        @include gotham_book_mobile_nav();

        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    /* --------------------------- */

    /* SECONDARY MOBILE NAVIGATION */

    /* --------------------------- */

    .mobile-nav_secondary {
        margin-bottom: 40px;
    }

    .mobile-nav_secondary_item {
        margin-bottom: 20px;

        &:first-child {
            border-bottom: 2px solid $brand-royal;
        }
    }

    .mobile-nav_secondary_link {
        display: block;
        padding: 18px 50px;
        font-family: 'Gotham-Bold';
        font-size: 17px;
        line-height: (26 / 16);
        color: $brand-white;
        text-align: center;
        text-decoration: none;
        background-color: $brand-ash;
        background-repeat: repeat-x;
        background-position: center bottom 2px;

        &.arrowed {

            &::after {
                display: inline-block;
                width: 11px;
                height: 6px;
                margin-left: 15px;
                vertical-align: middle;
                content: '';
                background-image: url(../static/images/icon_dot-arrow.png);
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }

    .mobile-nav_information {
        max-height: 0;
        margin-left: 20px;
        overflow: hidden;

        @extend .standard_transition;

        &.active {
            max-height: 1000px;
        }
    }

    .mobile-nav_information_item {

        @extend .mobile-nav_primary-dropdown_item;
    }

    .mobile-nav_information_link {

        @extend .mobile-nav_primary-dropdown_link;
    }

    .overlay-screen {
        position: fixed;
        top: 62px;
        left: 0;
        z-index: 4;
        width: 100vw;
        height: calc(100vh - 62px);
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;

        @media (min-width: $screen-md-min) {
            top: 0;
            height: 100vh;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
</style>
