<template>
	<div class="large-image-content">
        <img class="large-image-content_img" v-bind:class="{'video-mode': containsvideo == true, 'mirrored': mirrored == true}" :src="image.src" :alt="image.alt" />
		<div class="container">
			<div class="row">
                <div class="large-image-content_wrap col-md-5 col-lg-4 col-lg-offset-1">
                    <div class="large-image-content_video">
                        <slot></slot>
                    </div>
                </div>
				<div class="large-image-content_wrap col-md-5 col-lg-4 col-md-offset-2 col-lg-offset-3" v-bind:class="{'col-lg-pull-8': mirrored == true, 'col-md-pull-7': mirrored == true}">
                    <div class="red_content centered">
                        <div v-if="leadtext" class="lead-text" v-text="leadtext"></div>
                        <h2 class="header_style-2" v-text="title"></h2>
                        <p class="callout_style-1" v-text="paragraph"></p>
                        <a v-if="button" class="btn-global hollow--white mini auto-width" :href="button.url" v-text="button.name"></a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-large-image-content',
        props: {
            image: {
                type: Object,
                required: true
            },
            leadtext: {
                type: String,
            },
            title: {
                type: String,
                required: true
            },
            paragraph: {
                type: String,
                required: true
            },
            button: {
                type: Object
            },
            containsvideo: {
                type: Boolean,
                required: true
            },
            mirrored: {
                type: Boolean,
            }
        }
	}
</script>

<style lang="scss">
    .large-image-content {
        position: relative;
        height: auto;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 70vw auto;

        @media (min-width: $screen-md-min) {
            margin-bottom: 140px;
        }

        &::after {
            content: '';

            @media (min-width: $screen-md-min) {
                display: table;
                height: 0;
                clear: both;
            }
        }

        .container {

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
            }
        }

        .container,
        .row,
        .large-image-content_wrap {

            @media (min-width: $screen-md-min) {
                height: 100%;
            }
        }

        .red_content {
            z-index: 2;
            margin: -30px 0 60px;

            @media (min-width: $screen-xs-min) {
                margin: -60px 0 60px;
            }

            @media (min-width: $screen-sm-min) {
                margin: -60px 15px 60px;
            }

            @media (min-width: $screen-md-min) {
                padding: 60px 40px;
                margin: 0;
            }

            @media (min-width: $screen-lg-min) {
                padding: 100px 40px;
            }
        }

        .video-container {
            margin-bottom: 0;

            @media (min-width: $screen-md-min) {
                border: 10px solid $brand-white;
            }
        }
    }

    .large-image-content_wrap {

        .red_content {

            @extend .centered-cleanup_tablet;
        }
    }

    .large-image-content_video {
        width: auto;

        @media (min-width: $screen-md-min) {
            position: absolute;
            bottom: -80px;
            width: calc(100% - 30px);
        }
    }

    .large-image-content_img {

        &.video-mode {
            display: none;

            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        &.mirrored {

            @media (min-width: $screen-md-min) {
                float: right;
            }
        }

        @media (min-width: $screen-md-min) {
            width: 70vw;
        }
    }
</style>
