<template>
	<div class="full-bleed-section black_full-bleed">
		<div class="container">
			<div v-if="intro" class="row full-bleed-section_intro">
				<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="lead-text" v-text="intro.leadtext"></div>
                    <h2 class="header_style-2" v-text="intro.title"></h2>
                    <p class="paragraph_style-1" v-text="intro.paragraph"></p>
				</div>
			</div>
            <div class="row">
                <div v-for="node in nodes" class="col-md-4 full-bleed-section_node">
                    <h3 v-if="node.title" class="header_style-3" v-text="node.title"></h3>
                    <img v-if="node.icon" class="full-bleed-section_icon" :src="node.icon" alt="icon" />
                    <p v-if="node.description" class="callout_style-1" v-text="node.description"></p>
                </div>
            </div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-full-bleed-section',
        props: {
            intro: {
                type: Object
            },
            nodes: {
                type: Array
            }
        }
	}
</script>

<style lang="scss">
    .full-bleed-section {
        margin-bottom: 90px;
        text-align: center;

        .header_style-2 {

            &::after {
                @include floating-divider($brand-cerulean, 20px, auto);
            }
        }
    }

    .full-bleed-section_intro {
        margin-bottom: 60px;
    }

    .full-bleed-section_node {
        margin-bottom: 50px;

        @media (min-width: $screen-md-min) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .full-bleed-section_icon {
        margin: 0 auto 20px;
    }
</style>
