<template>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-9 col-lg-offset-3">
				<h3 class="styleguide-subhead">4.1 Tabular Data</h3>
				<table class="table-global">
					<tr class="table-global_row">
						<th class="table-global_head">Deadline Type</th>
						<th class="table-global_head">Apply By</th>
						<th class="table-global_head">Notified By</th>
					</tr>
					<tr class="table-global_row">
						<td class="table-global_item bold" data-th="Deadline Type">Early Action 1</td>
						<td class="table-global_item" data-th="Apply By">July 2, 2017</td>
						<td class="table-global_item" data-th="Notified By">August 2, 2017</td>
					</tr>
					<tr class="table-global_row">
						<td class="table-global_item bold" data-th="Deadline Type">Early Action 2</td>
						<td class="table-global_item" data-th="Apply By">July 18, 2017</td>
						<td class="table-global_item" data-th="Notified By">August 18, 2017</td>
					</tr>
					<tr class="table-global_row">
						<td class="table-global_item bold" data-th="Deadline Type">Regular</td>
						<td class="table-global_item" data-th="Apply By">September 12, 2017</td>
						<td class="table-global_item" data-th="Notified By">November 12, 2017</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'guide-tables',
	}
</script>

<style lang="scss">
	
</style>
