<template>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-11 col-md-offset-1">
                <h3 class="styleguide-subhead">1.1 GUI Colors</h3>
				<ul class="styleguide-color-list">
					<li class="styleguide-color-list_item">
						<div class="color-swatch" style="background-color: #b41225"></div>
                        <div class="color-hex">#b41225</div>
					</li>
					<li class="styleguide-color-list_item">
						<div class="color-swatch" style="background-color: #d41633"></div>
                        <div class="color-hex">#d41633</div>
					</li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #221f1f"></div>
                        <div class="color-hex">#221f1f</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #2f2b2c"></div>
                        <div class="color-hex">#2f2b2c</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #5296d7"></div>
                        <div class="color-hex">#5296d7</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #e2eff8"></div>
                        <div class="color-hex">#e2eff8</div>
                    </li>
				</ul>
                <h3 class="styleguide-subhead">1.2 Text Colors</h3>
                <ul class="styleguide-color-list">
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #b41225"></div>
                        <div class="color-hex">#b41225</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #d41633"></div>
                        <div class="color-hex">#d41633</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #ff342e"></div>
                        <div class="color-hex">#ff342e</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #221f1f"></div>
                        <div class="color-hex">#221f1f</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #2268ab"></div>
                        <div class="color-hex">#2268ab</div>
                    </li>
                    <li class="styleguide-color-list_item">
                        <div class="color-swatch" style="background-color: #adadad"></div>
                        <div class="color-hex">#adadad</div>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'guide-colors',
	};
</script>

<style lang="scss">

    .styleguide-color-list {
        margin-bottom: 40px;
        font-size: 0;
    }

    .styleguide-color-list_item {
        display: inline-block;
        margin-right: 16px;

        @media (min-width: $screen-sm-min) {
            margin-right: 40px;
        }
    }

    .color-swatch {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        border-radius: 4px;
    }

    .color-hex {
        font-family: 'Gotham-Medium';
        font-size: 15px;
        line-height: (26 / 15);
        color: $brand-charcoal;
        text-align: center;
    }
</style>
