<template>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-9 col-lg-offset-3">
				<div class="row">
					<div class="col-sm-6">
						<h3 class="styleguide-subhead">3.1 Primary CTA (big)</h3>
						<ul class="styleguide-btn-list">
							<li class="styleguide-btn-list_item">
								<p class="styleguide-type_example_label no-space">Regular</p>
								<a class="btn-global solid" href="/">Button</a>
							</li>
							<li class="styleguide-btn-list_item">
								<p class="styleguide-type_example_label no-space">Hover</p>
								<a class="btn-global solid" style="background-color: #d41633; background-image: url('../static/images/button_dots.png')" href="/">Button</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<h3 class="styleguide-subhead">3.2 Primary CTA (sml)</h3>
                        <ul class="styleguide-btn-list">
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Regular</p>
                                <a class="btn-global solid mini" href="/">Button</a>
                            </li>
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Hover</p>
                                <a class="btn-global solid mini" style="background-color: #d41633; background-image: url('../static/images/button_dots.png')" href="/">Button</a>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3 class="styleguide-subhead">3.3 Secondary CTA (big)</h3>
						<ul class="styleguide-btn-list">
							<li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Regular</p>
                                <a class="btn-global hollow" href="/">Button</a>
                            </li>
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Hover</p>
                                <a class="btn-global hollow" style="color: #d41633" href="/">Button</a>
                            </li>
						</ul>
					</div>
                    <div class="col-sm-6">
                        <h3 class="styleguide-subhead">3.3 Secondary CTA (sml)</h3>
                        <ul class="styleguide-btn-list" style="margin-bottom: 10px;">
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Regular</p>
                                <a class="btn-global hollow mini" href="/">Button</a>
                            </li>
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Hover</p>
                                <a class="btn-global hollow mini" style="color: #d41633" href="/">Button</a>
                            </li>
                        </ul>
                        <ul class="styleguide-btn-list" style="background-color: #b41225; padding: 20px;">
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space" style="color: #ffffff;">Regular</p>
                                <a class="btn-global hollow--white mini" href="/">Button</a>
                            </li>
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space" style="color: #ffffff;">Regular</p>
                                <a class="btn-global hollow--white mini" style="color: #d41633; background-color: #ffffff" href="/">Button</a>
                            </li>
                        </ul>
                    </div>
				</div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="styleguide-subhead">3.5 Link</h3>
                        <ul class="styleguide-btn-list">
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Regular</p>
                                <p class="paragraph_style-1"><a href="/">Department Website</a></p>
                            </li>
                            <li class="styleguide-btn-list_item">
                                <p class="styleguide-type_example_label no-space">Hover</p>
                                <p class="paragraph_style-1"><a href="/" style="border-bottom: 2px solid;">Department Website</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="styleguide-subhead">3.6 Photo Gallery Buttons</h3>
                        <ul class="styleguide-btn-list">
                            <li class="styleguide-btn-list_item">
                                <div class="btn-gallery_wrap">
                                    <button class="btn-gallery left"><svg class="btn-gallery_img"><use xlink:href="../static/images/app.svg#icon_gallery-arrow"></use></svg></button>
                                    <button class="btn-gallery right"><svg class="btn-gallery_img"><use xlink:href="../static/images/app.svg#icon_gallery-arrow"></use></svg></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="styleguide-subhead">3.7 Video play buttons</h3>
                        <div class="styleguide-test-container">
                            <div class="left">
                                <ul class="styleguide-test-container_list">
                                    <li class="styleguide-test-container_item">
                                        <button class="btn-play large">
                                            <svg class="btn-play_icon"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                                        </button>
                                    </li>
                                    <li class="styleguide-test-container_item">
                                        <button class="btn-play large" style="background-color: #d41633; width: 78px; height: 78px;">
                                            <svg class="btn-play_icon" style="fill: #ffffff;"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="right">
                                <ul class="styleguide-test-container_list">
                                    <li class="styleguide-test-container_item">
                                        <button class="btn-play small">
                                            <svg class="btn-play_icon small"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                                        </button>
                                    </li>
                                    <li class="styleguide-test-container_item">
                                        <button class="btn-play small" style="background-color: #d41633; width: 60px; height: 60px;">
                                            <svg class="btn-play_icon small" style="fill: #ffffff;"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'guide-buttons',
	};
</script>

<style lang="scss">
    .styleguide-btn-list {
        margin-bottom: 54px;
        font-size: 0;
    }

    .styleguide-btn-list_item {
        margin-bottom: 10px;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    .styleguide-test-container {
        position: relative;
        width: 100%;
        background-image: url('../static/images/background_test-vid.jpg');
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 226px;
        }

        &::before {
            display: none;
            content: '';

            @extend .centered;

            @media (min-width: $screen-sm-min) {
                display: block;
                width: 1px;
                height: 110px;
                background-color: $brand-white;
            }
        }

        .left,
        .right {
            display: block;
            height: 200px;

            @media (min-width: $screen-sm-min) {
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
            }
        }

        .left {
            left: 0;
            border-bottom: 1px solid $brand-white;

            @media (min-width: $screen-sm-min) {
                border: none;
            }
        }

        .right {
            right: 0;
        }
    }

    .styleguide-test-container_list {
        font-size: 0;
        text-align: center;

        @extend .centered;
    }

    .styleguide-test-container_item {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
</style>
