<template>
    <div class="styleguide-type">
    	<div class="styleguide-type_section container">
    		<div class="row">
    			<div class="col-sm-12 col-md-2 styleguide-type_example_wrap">
    				<div class="styleguide-type_example" style="font-family: 'LeagueSpartan-Bold';">Aa</div>
                    <div class="styleguide-type_example_label no-space">Font Family</div>
                    <div class="styleguide-type_example_label name">League Spartan</div>
    			</div>
    			<div class="col-sm-12 col-md-9 col-md-offset-1">
    				<h1 class="header_style-1">H1 Heading One</h1>
                    <p class="styleguide-type_example_label">Font size: 38px  •  Leading (Line height): 50px  •  Tracking (Letter spacing): 40 (40/1000 = 0.04 em)</p>
                    <h2 class="header_style-2">H2 Heading Two</h2>
                    <p class="styleguide-type_example_label">Font size: 28px  •  Leading (Line height): 36px</p>
                    <h3 class="header_style-3">H3 Heading Three</h3>
                    <p class="styleguide-type_example_label">Font size: 20px  •  Leading (Line height): 30px</p>
                    <h3 class="header_cutoff">Cutoff Text</h3>
                    <p class="styleguide-type_example_label">Font size: 100px  •  Tracking (Letter spacing): 40 (40/1000 = 0.04 em)</p>
    			</div>
    		</div>
    	</div>
        <div class="styleguide-type_section container">
            <div class="row">
                <div class="col-sm-12 col-md-2 styleguide-type_example_wrap">
                    <div class="styleguide-type_example" style="font-family: 'Gotham-Book';">Aa</div>
                    <div class="styleguide-type_example_label no-space">Font Family</div>
                    <div class="styleguide-type_example_label name">Gotham</div>
                </div>
                <div class="col-sm-12 col-md-9 col-md-offset-1">
                    <div class="lead-text">Discover what you’re meant to be.</div>
                    <p class="styleguide-type_example_label">Font size: 12px  •   Tracking (Letter spacing): 40 (40/1000 = 0.04 em)</p>
                    <p class="paragraph_style-1"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> 
Praesent id metus eget ante faucibus molestie quis eget justo. Cras quis eleifend felis. Nulla turpis metus, porttitor sodales commodo nec, tincidunt ut urna. Aenean blandit tellus a augue mollis volutpat. Donec vulputate ante vitae augue vulputate, in finibus ipsum laoreet. Praesent vel ipsum nulla. Duis sodales vestibulum urna at malesuada. Praesent ac egestas odio. Aenean consectetur erat urna, vitae viverra tortor auctor id. Proin elit nibh, aliquam at vehicula in, blandit nec justo. Curabitur sed placerat tortor, sed mattis risus.</p>
                    <p class="styleguide-type_example_label">Font size: 16px  •  Font weight: Book/Bold  •  Leading (Line height): 26px</p>
                    <p class="callout_style-1">Praesent vel ipsum nulla. Duis sodales vestibulum urna at malesuada. Praesent ac egestas odio. Aenean consectetur erat urna, vitae viverra tortor auctor id. Proin elit nibh, aliquam at vehicula in, blandit nec justo. Curabitur sed placerat tortor, sed mattis risus.</p>
                    <p class="styleguide-type_example_label">Font size: 14px  •  Font weight: Book  •  Leading (Line height): 22px</p>
                    <ul class="list_style-1">
                        <li>The student must be an evangelical believer in the Christian faith (the applicant's statement of faith will be articulated in the personal essay section of the application).</li>
                        <li>The student must have at least a 3.0 unweighted high school GPA. Note: The average unweighted high school GPA for incoming freshmen at Biola is 3.54.</li>
                        <li>The student must have at least a 1000 Evidence-Based Reading and Writing+Math score and a 26 Reading Test score on the New SAT, or a Composite 19 score on the ACT.</li>
                        <li>The student must have graduated from high school or earned an equivalent degree (GED). The following is a recommended high school curriculum:
                            <ul>
                                <li>4 years of English</li>
                                <li>3 years of Mathematics</li>
                                <li>2-4 years of Foreign Language</li>
                                <li>2 years of Science</li>
                                <li>2 years of Social Science</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="styleguide-type_example_label">Font size: 16px  •  Font weight: Book/Bold  •  Leading (Line height): 26px</p>
                    <ol class="ordered-list_style-1">
                        <li><p><strong>Complete and submit your official application for admission</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet volutpat porta. Maecenas vel est odio vestibulum ante ipsum.</p>
                            <p><a href="/">Download lorem ipsum form</a></p>
                        </li>
                        <li><p><strong>Submit a non-refundable $45 application fee</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet volutpat porta. Maecenas vel est odio vestibulum ante ipsum.</p>
                            <div class="ordered-list_aside">
                                Office of Admissions<br />Biola University<br />13800 Biola Avenue<br />La Mirada, CA 90639
                            </div>
                            <p><a href="/">Download lorem ipsum form</a></p>
                        </li>
                        <li><p><strong>Complete the required essay</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet volutpat porta. Maecenas vel est odio vestibulum ante ipsum.</p>
                            <p><a href="/">Download lorem ipsum form</a></p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'guide-typography',
	}
</script>

<style lang="scss">
    .styleguide-type_section {
        margin-bottom: 30px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 70px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .styleguide-type_example_wrap {
        text-align: center;

        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }

    .styleguide-type_example {
        font-size: 100px;
        color: $brand-charcoal;
    }

    .styleguide-type_example_label:not(.no-space) {
        margin-bottom: 30px;
    }

    .styleguide-type_example_label {
        font-family: 'Gotham-Book';
        font-size: 15px;
        line-height: (26 / 15);
        color: $brand-gray;

        &.name {
            color: $brand-charcoal;
        }
    }
</style>
