<template>
	<div class="styleguide-block">
		<div class="styleguide-header_wrap">
			<div class="container">
				<h2 class="styleguide-header" v-text="title">TEXT WILL POP UP HERE</h2>
				<button class="styleguide-block_button" v-on:click="drawerOpen = !drawerOpen" v-bind:class="{ active: drawerOpen }">
                    <img src="../static/images/icon_dot-arrow.png">            
                </button>
			</div>
		</div>
        <div class="styleguide-block_drawer" v-bind:class="{ active: drawerOpen }">
		  <slot></slot>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'guide-block',
        data() {
            return {
                drawerOpen: false,
            }
        },
        props: {
            title: {
                type: String,
                required: true,
            }
        }
	};
</script>

<style lang="scss">
    header + .styleguide-block {
        margin-top: 30px;

        @media (min-width: $screen-md-min) {
            margin-top: 70px;
        }
    }

    .styleguide-block {

        @extend .standard_transition;
    }

    .styleguide-header_wrap {
        position: relative;
        margin-bottom: 20px;

        @media (min-width: $screen-md-min) {
            margin-bottom: 40px;
        }

        &::before {
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            z-index: 0;
            display: block;
            width: 100vw;
            height: 2px;
            content: '';
            background-color: $brand-carmine;
        }

        .container {
            position: relative;
        }
    }

    .styleguide-header {
        @include gotham_bold_styleguide_header();

        z-index: 1;
        display: inline-block;
        padding: 8px 12px;
        text-transform: uppercase;
        background-color: $brand-white;

        @media (min-width: $screen-md-min) {
            padding: 0 18px;
        }
    }

    .styleguide-block_button {
        float: right;
        width: 34px;
        height: 34px;
        padding: 0;
        cursor: pointer;
        background-color: $brand-charcoal;
        border: none;
        appearance: none;

        img {
            vertical-align: baseline;

            @extend .standard_transition;
        }

        &.active img {
            transform: rotate(180deg);
        }
    }

    .styleguide-subhead {
        @include gotham_bold_styleguide_subhead();

        margin-bottom: 10px;
    }

    .styleguide-block_drawer {
        max-height: 0;
        overflow: hidden;
        opacity: 0;

        @extend .standard_transition;

        &.active {
            max-height: 4000px;
            margin-bottom: 40px;
            opacity: 1;

            @media (min-width: $screen-md-min) {
                margin-bottom: 90px;
            }
        }
    }
</style>
