<template>
    <div class="home__hero--video-wrapper" v-bind:class="{ playing: videoScreen == false }" v-if="youtubeid">
        <div class="home__hero--play">
            <button class="home-play" v-on:click="videoPlay()" ref="componentPlayBtn">
                <svg class="icon_long-arrow"><use xlink:href="../static/images/app.svg#icon_long-arrow"></use></svg>
                <span class="access-hidden">Watch Video</span>
            </button>
            <span class="home-play--text">Watch Video</span>
        </div>
        <div class="home__hero--video" v-bind:class="{ playing: videoScreen == false }">
            <div class="home__hero--stop">
                <button class="btn-close" v-on:click="videoStop()" ref="componentStopBtn">
                    <svg class="btn-close_icon"><use xlink:href="../static/images/app.svg#icon_close"></use></svg>
                    <span class="access-hidden">Close Button</span>
                </button>
            </div>
            <iframe ref="componentVideo" :src="'https://www.youtube.com/embed/' + youtubeid + '?enablejsapi=1&playsinline=1'" frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'hero-video',
        data() {
            return {
                videoScreen: true,
            }
        },
        props: {
            youtubeid: {
                type: String,
                required: true
            }
        },
        methods: {
            videoPlay: function() {
                this.videoScreen = false;
            },
            videoStop: function() {
                this.videoScreen = true;
            }
        },
        mounted() {
            var player;
            var iframe = this.$refs.componentVideo;
            var playBtn = this.$refs.componentPlayBtn;
            var stopBtn = this.$refs.componentStopBtn;
            var position;
            var type = document.getElementById("all-as-one");
            var heroTitle = document.getElementById("home__hero--title");
            var heroBG = document.getElementById("home__hero--bg");

            window.addEventListener("load", function() {
                window.videoList.push(iframe);
                position = window.videoList.lastIndexOf(iframe);
            });

            playBtn.addEventListener("click", function() {
                var buttonParent  = this.parentElement;
                var videoParent = buttonParent.parentElement;
                var columnParent = videoParent.parentElement;
                var structureParent = columnParent.parentElement;

                type.style.opacity="0";
                type.style.height="0%";

                columnParent.classList.add('video-playing');
                structureParent.classList.add('video-playing');

                var inactiveColumns = document.querySelectorAll( ".home__hero--column:not(.video-playing)" );

                heroTitle.classList.add('go-away');
                heroBG.classList.add('video-playing');

                for (var i = 0; i < inactiveColumns.length; ++i) {
                    inactiveColumns[i].classList.add('go-away');
                }

                window.readyYoutubeVids[position].playVideo();
            });

            stopBtn.addEventListener("click", function() {

                heroTitle.classList.remove('go-away');
                heroBG.classList.remove('video-playing');

                var columnsBg = document.querySelectorAll( ".home__hero--column-bg" );

                for (var i = 0; i < columnsBg.length; ++i) {
                    columnsBg[i].classList.remove('video-playing');
                }

                var columns = document.querySelectorAll( ".home__hero--column" );

                for (var i = 0; i < columns.length; ++i) {
                    columns[i].classList.remove('video-playing');
                    columns[i].classList.remove('go-away');
                }

                window.readyYoutubeVids[position].stopVideo();

                type.style.opacity="1";
                type.style.height="inherit";
            });
        }
    }
</script>

<style lang="scss">

    .home-play--text {
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
        font-family: 'LeagueSpartan-Bold';
        font-size: 18px;
        line-height: (100 / 100);
        color: $brand-white;

        @media (min-width: $screen-lg-min) {
            margin-top: 20px;
            margin-left: -40px;
            font-size: 22px;
        }
    }

    .home-play {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: none;
        background-color: $brand-vermillion;
        border: 0;
        border-radius: 50%;

        .icon_long-arrow {
            height: 13px;
            fill: $brand-white;
        }
    }

    .home__hero--stop {
        position: absolute;
        top: 10px;
        left: 50%;
        z-index: 10;
        width: 36px;
        height: 36px;
        margin-left: -18px;

        @media (min-width: $screen-lg-min) {
            right: 10px;
            left: auto;
            margin-left: 0;
        }
    }

    .home__hero--bg {

        &.video-playing {

            .home-play,
            .home-play--text {
                pointer-events: none;
                user-select: none;
                opacity: 0;
                transition: opacity 0.5s ease;
            }
        }
    }

    .home__hero--play {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba($brand-black, 0.3);

        @media (min-width: $screen-lg-min) {
            right: auto;
            bottom: 0;
            left: 50%;
            display: block;
            width: auto;
            height: auto;
            margin-bottom: 15vh;
            margin-left: -30px;
            background-color: transparent;
            transition: all ease 0.5s 0.1s;
            transform: translate3d(0, 30vh, 0);
        }

        .home-play {
            position: relative;
            transform-origin: 50% 50%;
        }
    }

    .home__hero--column:hover {

        .home__hero--play {
            transform: translate3d(0, 0, 0);
        }
    }

    .home__hero--column {

        &.video-playing {

            .home__hero--play {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .home__hero--video {
        pointer-events: none;
        user-select: none;
        background-color: $brand-black;
        opacity: 0;
        transition: all ease 0.5s;

        &.playing {
            pointer-events: all;
            user-select: all;
            opacity: 1;
            transition: all ease 0.5s;
        }
    }

    .home__hero--video-wrapper {
        position: relative;
        height: 100%;

        &.playing {
            background-color: rgba(0, 0, 0, 0.5);
        }

        @media (min-width: $screen-lg-min) {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .home__hero--video {

        .home__hero--stop {
            opacity: 0;
            will-change: opacity;
        }

        iframe,
        object,
        embed {
            position: absolute;
            top: 50px;
            right: 0;
            bottom: 50px;
            left: 0;
            width: 100%;
            height: calc(100% - 100px);
            opacity: 0;
            will-change: opacity;

            @media (min-width: $screen-lg-min) {
                right: 50px;
                left: 50px;
                width: calc(100% - 100px);
            }
        }

        &.playing {

            iframe,
            object,
            embed,
            .home__hero--stop {
                opacity: 1;
                transition: all 0.5s ease 0.5s;
            }
        }
    }

    .btn-close {
        z-index: 50;
    }
</style>
