<template>
    <div class="home__hero--column">
        <div class="home__hero--column-bg" :style="'background-image: url(' + columnimage + ')'">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'hero-column',
        props: {
            columnimage: {
                type: String
            }
        },
        mounted() {

            function isMobile() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            }

            var heroColumnOne = document.querySelector(".home__hero--column:first-child");
            var heroColumnTwo = document.querySelector(".home__hero--column:nth-child(2)");
            var heroColumnThree = document.querySelector(".home__hero--column:last-child");

            if (!isMobile()) {
                heroColumnOne.addEventListener("mouseover", function(){
                  heroColumnOne.classList.toggle('hero__push--half');
                  heroColumnTwo.classList.toggle('hero__push');
                  heroColumnThree.classList.toggle('hero__push--double');
                });

                heroColumnOne.addEventListener("mouseout", function(){
                  heroColumnOne.classList.toggle('hero__push--half');
                  heroColumnTwo.classList.toggle('hero__push');
                  heroColumnThree.classList.toggle('hero__push--double');
                });

                heroColumnTwo.addEventListener("mouseover", function(){
                  heroColumnOne.classList.toggle('hero__push--negative');
                  heroColumnThree.classList.toggle('hero__push');
                });

                heroColumnTwo.addEventListener("mouseout", function(){
                  heroColumnOne.classList.toggle('hero__push--negative');
                  heroColumnThree.classList.toggle('hero__push');
                });

                heroColumnThree.addEventListener("mouseover", function(){
                  heroColumnOne.classList.toggle('hero__push--double-negative');
                  heroColumnTwo.classList.toggle('hero__push--negative');
                  heroColumnThree.classList.toggle('hero__push--half-negative');
                });

                heroColumnThree.addEventListener("mouseout", function(){
                  heroColumnOne.classList.toggle('hero__push--double-negative');
                  heroColumnTwo.classList.toggle('hero__push--negative');
                  heroColumnThree.classList.toggle('hero__push--half-negative');
                });
            }
        }
    }
</script>

<style lang="scss">
    .home__hero--bg {

        &.video-playing {

            .home__hero--column {
                transform: translate3d(0, 0, 0) !important;
            }

            .hero__push--half,
            .hero__push,
            .hero__push--double,
            .hero__push--half-negative,
            .hero__push--negative,
            .hero__push--double-negative {
                transform: translate3d(0, 0, 0) !important;
            }
        }
    }

    .home__hero--column {
        width: 100%;
        height: 33.333%;

        &.video-playing {
            height: 100%;
        }

        &.go-away {
            height: 0%;
            opacity: 0;
        }

        @media (min-width: $screen-lg-min) {
            position: relative;
            flex: none;
            width: 33.333%;
            height: 100%;
            transition: all ease 0.5s;
            will-change: opacity, transform, width;

            &.video-playing {
                width: 100%;
                height: auto;
            }

            &.go-away {
                width: 0%;
                height: auto;
                opacity: 0;
            }
        }
    }

    .home__hero--column:hover {

        @media (min-width: $screen-lg-min) {
            transition: all ease 0.5s;
        }
    }

    .home__hero--column:first-child {
        transform: translate3d(0, 0, 0);

        @media (min-width: $screen-lg-min) {
            z-index: 30;
            transform: translate3d(-16.6665%, 0, 0);
        }
    }

    .home__hero--column:nth-child(2) {

        @media (min-width: $screen-lg-min) {
            z-index: 20;
        }
    }

    .home__hero--column:last-child {
        transform: translate3d(0, 0, 0);

        @media (min-width: $screen-lg-min) {
            z-index: 30;
            transform: translate3d(16.6665%, 0, 0);
        }
    }

    .home__hero--column-bg {
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        will-change: left, width;

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 0;
            left: -16.6665%;
            width: 133.333%;
            height: 100%;
            transition: all 0.5s ease;

            &.video-playing {
                left: 0;
                width: 100%;
                transform: translate3d(0, 0, 0) !important;
            }
        }
    }

    .hero__push--half {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(16.6665%, 0, 0) !important;
        }
    }

    .hero__push {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(33.333%, 0, 0) !important;
        }
    }

    .hero__push--double {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(49.988%, 0, 0) !important;
        }
    }

    .hero__push--half-negative {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(-16.6665%, 0, 0) !important;
        }
    }

    .hero__push--negative {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(-33.333%, 0, 0) !important;
        }
    }

    .hero__push--double-negative {
        transform: translate3d(0, 0, 0) !important;

        @media (min-width: $screen-lg-min) {
            transform: translate3d(-49.988%, 0, 0) !important;
        }
    }

    .hero__play--container {
        position: relative;

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            background-color: rgba($brand-black, 0.3);
        }
    }

    .hero__play--btn {
        margin-bottom: 0;
        transform: translate3d(0, 0, 0);

        @media (min-width: $screen-lg-min) {
            margin-bottom: 15vh;
            transition: all ease-in-out 0.5s;
            transform: translate3d(0, 40vh, 0);
        }
    }

    .hero__play--container:hover {

        .hero__play--btn {

            @media (min-width: $screen-lg-min) {
                transition: all ease-in-out 0.5s;
                transform: translate3d(0, 0, 0);
            }
        }
    }
</style>
