<template>
  <div class="home__hero">
      <div class="home__hero--intro" :style="'background-image: url(' + herobg + ')'">
      <div id="home__hero--overlay" class="home__hero--overlay"></div>
        <div id="home__hero--bg" class="home__hero--bg">
            <slot></slot>
        </div>
        <div id="home__hero--title" class="home__hero--title">
            <svg id="all-as-one" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.32 110.1">
              <title>All As One</title>
              <defs>
                <clipPath id="mask">
                  <path id="red-mask" d="M1.38,89.27,37.25,1.64H55.88S23.63,89,23.13,89.27,1.38,89.27,1.38,89.27Zm118-87.63h-20V89.38h20ZM215,89.38V72.18H165.13v17.2Zm102.66-17.2L310.17,55H290.63l-6.47,17.2Zm32.67,8.6a58.3,58.3,0,0,0,20.5,8.6c23.79,4.95,39.17-.69,44.83-18.53s-13.17-28-13.17-28L388.9,56.52c6.43,2,8.93,13.67,0,15.66-12.12,2.71-23.4-5-28.74-8.6ZM483.67,45.35c0-26,22-26.17,22-26.17V0c-41.33,4.83-43.83,35.5-44,46ZM584.17,2h-20V90.19h20Zm122,35H657.33V54.19h48.83Z" transform="translate(0 9.96)" fill="#b2162b"/>
                </clipPath>
              </defs>
              <g id="dots">
                <path id="a-dots" class="dots" d="M39.47,14.09a.72.72,0,1,1,.72.72A.72.72,0,0,1,39.47,14.09Zm7.57.72a.72.72,0,1,0-.72-.72A.72.72,0,0,0,47,14.81Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,14.81ZM43.49,18.18a.72.72,0,1,0-.72-.72A.72.72,0,0,0,43.49,18.18Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,50.47,18.18Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,16.75Zm-17.26,4.8a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,21.55Zm6.85,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,47,21.55Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,21.55ZM36.64,23.48a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,23.48Zm6.85,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,43.49,24.92Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,50.47,24.92Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,23.48ZM33.26,26.85a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,26.85Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,28.29Zm6.85,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,47,28.29Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,28.29Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,26.85ZM36.64,30.22a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,30.22Zm6.85,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,43.49,31.66Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,50.47,31.66Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,30.22ZM33.26,33.59a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,33.59ZM40.19,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,35ZM47,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,47,35Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,35Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,33.59ZM29.71,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,37Zm6.85,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,43.49,38.4Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,50.47,38.4Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,37ZM33.26,40.33A.72.72,0,1,0,34,41,.72.72,0,0,0,33.26,40.33Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,41.76Zm13.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,41.76Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,40.33ZM29.71,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,43.7Zm6.85,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,43.49,45.13Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,50.47,45.13Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,43.7ZM26.33,47.07a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,47.07Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,48.5ZM54,48.5a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,48.5Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,47.07Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,47.07ZM29.71,50.44a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,50.44Zm20.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,50.44ZM26.33,53.81a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,53.81Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,40.19,55.24Zm13.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,54,55.24Zm7-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,53.81Zm-45.2,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,57.18Zm20.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,57.18Zm-52,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,60.55Zm27.74,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,60.55ZM22.78,63.92a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,63.92Zm27.79,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,63.92Zm-52,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,67.29Zm6.93,0A.72.72,0,1,0,27,68,.72.72,0,0,0,26.33,67.29Zm6.93,0A.72.72,0,1,0,34,68,.72.72,0,0,0,33.26,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,40.19,67.29Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,47,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,54,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,67.29Zm-59.1,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,15.85,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,70.66Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,43.49,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,50.47,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,70.66Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,78.21,70.66ZM19.4,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,40.19,74ZM47,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,47,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,54,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,74Zm-59.1,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,15.85,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,29.71,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,36.64,77.39Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,43.49,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,50.47,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,57.45,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,64.42,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,77.39Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,78.21,77.39ZM12.62,80.76a.72.72,0,1,0,.72.72A.72.72,0,0,0,12.62,80.76Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,33.26,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,40.19,80.76Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,47,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,54,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,61,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,80.76Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,81.76,80.76ZM15.85,84.13a.72.72,0,1,0,.72.72A.72.72,0,0,0,15.85,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,84.13Zm48.62,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,84.13Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,78.21,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,85.14,84.13ZM12.62,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,12.62,87.5Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,26.33,87.5ZM68,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,68,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,87.5Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,81.76,87.5ZM9.07,90.87a.72.72,0,1,0,.72.72A.72.72,0,0,0,9.07,90.87Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,15.85,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,90.87Zm48.62,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,90.87Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,78.21,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,85.14,90.87ZM5.65,94.24a.72.72,0,1,0,.72.72A.72.72,0,0,0,5.65,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,12.62,94.24Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,19.4,94.24Zm55.55,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,75,94.24Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,81.76,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,88.69,94.24ZM9.07,97.61a.72.72,0,1,0,.72.72A.72.72,0,0,0,9.07,97.61Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,15.85,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,22.78,97.61Zm48.62,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,71.4,97.61Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,78.21,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,85.14,97.61Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="l-dots" class="dots" d="M103.26,14.09a.72.72,0,1,1-.72-.72A.72.72,0,0,1,103.26,14.09Zm6.21-.72a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,13.38Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,13.38Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,16.75Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,16.75Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,16.75Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,20.11Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,23.48Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,23.48Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,23.48Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,26.85Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,30.22Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,33.59ZM105.92,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,37Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,40.33ZM105.92,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,43.7Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,47.07Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,50.44Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,53.81Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,57.18Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,60.55Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,63.92Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,67.29Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,70.66ZM102.54,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,74Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,77.39Zm-17.23,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,80.76Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,84.13Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,126.71,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,133.63,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,140.56,85.57Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,147.39,85.57ZM102.54,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,87.5Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,123.33,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,130.26,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,137.19,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,144.11,88.94Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,150.94,88.94Zm-45,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,90.87Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,126.71,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,133.63,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,140.56,92.3Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,147.39,92.3Zm-44.85,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,102.54,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,109.47,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,116.4,94.24Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,123.33,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,130.26,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,137.19,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,144.11,95.67Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,150.94,95.67Zm-45,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,105.92,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,112.85,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,119.78,97.61ZM126.71,99a.72.72,0,1,0-.72-.72A.72.72,0,0,0,126.71,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,133.63,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,140.56,99Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,147.39,99Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="l-2-dots" class="dots" d="M172.54,14.09a.72.72,0,1,1-.72-.72A.72.72,0,0,1,172.54,14.09Zm6.21-.72a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,13.38Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,13.38Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,16.75Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,16.75Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,16.75Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,20.11Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,23.48Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,23.48Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,23.48Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,26.85Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,30.22Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,33.59ZM168.28,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,37Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,40.33ZM168.28,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,43.7Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,47.07Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,50.44Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,53.81Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,57.18Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,60.55Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,63.92Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,67.29Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,70.66ZM171.83,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,74Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,77.39Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,80.76Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,84.13Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,189.06,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,196,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,202.92,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,209.85,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,216.77,85.57ZM171.83,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,87.5Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,192.61,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,199.54,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,206.47,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,213.4,88.94Zm-45.12,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,90.87Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,189.06,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,196,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,202.92,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,209.85,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,216.77,92.3Zm-44.95,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,171.83,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,178.76,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,185.68,94.24Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,192.61,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,199.54,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,206.47,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,213.4,95.67Zm-45.12,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,168.28,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,175.2,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,182.13,97.61ZM189.06,99a.72.72,0,1,0-.72-.72A.72.72,0,0,0,189.06,99ZM196,99a.72.72,0,1,0-.72-.72A.72.72,0,0,0,196,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,202.92,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,209.85,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,216.77,99Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="a-2-dots" class="dots" d="M296.85,14.09a.72.72,0,1,1,.72.72A.72.72,0,0,1,296.85,14.09Zm7.64.72a.72.72,0,1,0-.72-.72A.72.72,0,0,0,304.49,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,14.81ZM294,18.18a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,300.94,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,307.87,18.18Zm-10.3,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,297.57,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,304.49,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,21.55ZM294,24.92a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,300.94,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,307.87,24.92Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,23.48Zm-24.09,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,26.85Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,297.57,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,304.49,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,28.29Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,26.85ZM294,31.66a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,300.94,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,307.87,31.66Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,30.22Zm-24.09,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,33.59ZM297.57,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,297.57,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,304.49,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,35Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,33.59ZM287.08,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,37ZM294,38.4a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,300.94,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,307.87,38.4ZM314.72,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,37Zm-37.85,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,40.33Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,40.33Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,297.57,41.76Zm13.86,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,41.76Zm6.85-1.43A.72.72,0,1,0,319,41,.72.72,0,0,0,318.28,40.33ZM287.08,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,43.7ZM294,45.13a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,300.94,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,307.87,45.13Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,43.7Zm-37.85,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,47.07Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,47.07Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,297.57,48.5Zm13.86,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,48.5Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,47.07Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,47.07Zm-45,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,50.44Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,50.44ZM294,51.87a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,51.87Zm20.71-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,50.44Zm-37.85,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,53.81Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,53.81Zm20.79,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,311.42,55.24Zm6.85-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,53.81Zm-45,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,57.18Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,57.18ZM294,58.61a.72.72,0,1,0-.72-.72A.72.72,0,0,0,294,58.61Zm20.71-1.43a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,57.18Zm-51.8,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,60.55Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,60.55Zm27.64,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,60.55Zm-45,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,63.92Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,63.92Zm27.64,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,63.92Zm-51.8,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,67.29Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,297.57,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,304.49,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,311.42,67.29Zm6.85,0A.72.72,0,1,0,319,68,.72.72,0,0,0,318.28,67.29Zm7,0A.72.72,0,1,0,326,68,.72.72,0,0,0,325.25,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,332.23,67.29Zm-58.91,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,273.33,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,70.66Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,294,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,300.94,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,307.87,70.66Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,335.66,70.66ZM276.88,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,74Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,297.57,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,304.49,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,311.42,74Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,332.23,74Zm-58.91,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,273.33,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,77.39Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,287.08,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,294,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,300.94,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,307.87,77.39Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,314.72,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,321.7,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,335.66,77.39ZM269.9,80.76a.72.72,0,1,0,.72.72A.72.72,0,0,0,269.9,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,80.76Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,290.64,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,297.57,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,304.49,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,311.42,80.76Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,318.28,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,332.23,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,339.21,80.76Zm-72.86,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,266.35,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,273.33,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,84.13Zm48.38,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,335.66,84.13ZM269.9,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,269.9,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,283.86,87.5Zm41.4,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,325.25,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,332.23,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,339.21,87.5Zm-72.86,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,266.35,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,273.33,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,90.87Zm48.38,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,335.66,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,342.63,90.87Zm-79.71,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,262.92,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,269.9,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,276.88,94.24Zm55.35,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,332.23,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,339.21,94.24Zm-72.86,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,266.35,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,273.33,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,280.3,97.61Zm48.38,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,328.68,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,335.66,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,342.63,97.61Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="s-dots" class="dots" d="M381,13.14a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,13.14Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,13.14Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,13.14Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,13.14ZM377.5,16.51a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,16.51Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,16.51Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,16.51Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,16.51Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,16.51Zm-38,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,19.88Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,19.88Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,19.88Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,19.88Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,19.88Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,19.88Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,19.88Zm-38.2,3.36a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,23.24Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,23.24Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,23.24Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,23.24Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,23.24Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,23.24Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,23.24ZM367.2,26.61a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,26.61Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,26.61Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,26.61Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,26.61Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,26.61Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,26.61Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,26.61ZM363.64,30a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,30Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,30Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,30Zm27.71,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,30Zm-38,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,33.35Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,33.35Zm-10.48,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,36.72Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,36.72Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,36.72Zm-10.3,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,40.09Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,40.09Zm-10.48,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,43.46Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,43.46Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,43.46Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,43.46ZM367.2,46.83a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,46.83Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,46.83Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,46.83Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,46.83ZM370.57,50.2a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,50.2Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,50.2Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,50.2Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,50.2Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,50.2Zm-24.17,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,53.57Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,53.57Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,53.57Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,53.57Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,53.57ZM377.5,56.94a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,56.94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,56.94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,56.94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,56.94Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,56.94ZM381,60.31a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,60.31Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,60.31Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,60.31Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,60.31Zm6.93,0A.72.72,0,1,1,408,61,.72.72,0,0,1,408.77,60.31Zm-17.41,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,63.68Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,63.68Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,63.68Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,63.68Zm-17.23,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,67.05Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,67.05Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,67.05Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,415.69,67.05Zm-17.4,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,70.42Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,70.42Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,70.42Zm-10.3,3.36a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,73.78Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,73.78Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,415.69,73.78Zm-52,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,77.15Zm34.65,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,77.15Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,77.15Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,77.15Zm-51.87,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,360.27,80.52Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,80.52Zm27.71,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,80.52Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,80.52Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,80.52Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,415.69,80.52Zm-59,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,356.72,83.89Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,83.89Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,83.89Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,83.89Zm-51.87,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,360.27,87.26Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,87.26Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,87.26Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,87.26Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,87.26Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,87.26Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,87.26Zm6.93,0A.72.72,0,1,1,408,88,.72.72,0,0,1,408.77,87.26Zm-52.05,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,356.72,90.63Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,363.64,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,90.63Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,405.21,90.63Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,412.14,90.63ZM360.27,94a.72.72,0,1,1-.72.72A.72.72,0,0,1,360.27,94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,367.2,94Zm6.92,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,374.12,94ZM381,94a.72.72,0,1,1-.72.72A.72.72,0,0,1,381,94ZM388,94a.72.72,0,1,1-.72.72A.72.72,0,0,1,388,94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,394.91,94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,401.84,94Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,408.77,94Zm-38.2,3.37a.72.72,0,1,1-.72.72A.72.72,0,0,1,370.57,97.37Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,377.5,97.37Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,384.43,97.37Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,391.36,97.37Zm6.93,0a.72.72,0,1,1-.72.72A.72.72,0,0,1,398.29,97.37Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="o-dots" class="dots" d="M545.27,30.69l-.2-.28A.7.7,0,0,1,545.27,30.69ZM502.13,11.3l-.66.09a.71.71,0,0,0,.25,0A.7.7,0,0,0,502.13,11.3Zm-3.64,3.51a.72.72,0,1,0-.72-.72A.72.72,0,0,0,498.49,14.81Zm6.78,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,505.27,14.81Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,512.25,14.81Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,519.22,14.81ZM488,18.18a.72.72,0,1,0-.72-.72A.72.72,0,0,0,488,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,494.94,18.18Zm6.78,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,501.72,18.18Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,508.69,18.18Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,515.67,18.18Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,522.65,18.18Zm-38,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,20.11Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,491.56,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,498.49,21.55Zm6.78,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,505.27,21.55Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,512.25,21.55Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,519.22,21.55Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,526.2,21.55Zm-45.12,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,23.48ZM488,24.92a.72.72,0,1,0-.72-.72A.72.72,0,0,0,488,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,494.94,24.92Zm6.78,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,501.72,24.92Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,508.69,24.92Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,515.67,24.92Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,522.65,24.92ZM477.7,26.85a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,26.85Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,491.56,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,498.49,28.29Zm6.78,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,505.27,28.29Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,512.25,28.29Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,519.22,28.29Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,526.2,28.29Zm-52.05,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,30.22ZM488,31.66a.72.72,0,1,0-.72-.72A.72.72,0,0,0,488,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,494.94,31.66Zm27.71,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,522.65,31.66Zm-51.87,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,33.59ZM491.56,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,491.56,35Zm34.64,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,526.2,35ZM474.15,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,37ZM488,38.4a.72.72,0,1,0-.72-.72A.72.72,0,0,0,488,38.4Zm-17.23,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,40.33ZM467.22,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,467.22,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,43.7Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,47.07Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,467.22,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,50.44Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,53.81Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,467.22,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,57.18Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,60.55Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,467.22,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,63.92Zm-10.3,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,67.29Zm-17.41,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,467.22,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,70.66ZM470.77,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,470.77,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,74Zm-10.48,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,488,77.39ZM477.7,80.76a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,491.56,80.76Zm27.66,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,519.22,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,526.2,80.76Zm-52.05,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,474.15,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,488,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,494.94,84.13Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,501.72,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,508.69,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,515.67,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,522.65,84.13ZM477.7,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,477.7,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,491.56,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,498.49,87.5Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,505.27,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,512.25,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,519.22,87.5Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,526.2,87.5Zm-45.12,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,481.08,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,488,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,494.94,90.87Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,501.72,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,508.69,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,515.67,90.87Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,522.65,90.87Zm-38,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,484.63,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,491.56,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,498.49,94.24Zm6.78,0A.72.72,0,1,0,506,95,.72.72,0,0,0,505.27,94.24Zm7,0A.72.72,0,1,0,513,95,.72.72,0,0,0,512.25,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,519.22,94.24Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,526.2,94.24Zm-31.27,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,494.94,97.61Zm6.78,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,501.72,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,508.69,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,515.67,97.61Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,522.65,97.61Zm11.55-77.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,20.11Zm-3.55,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,23.48Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,23.48Zm-3.43,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,26.85Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,26.85Zm-10.53,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,30.22Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,30.22Zm6.26.72a.72.72,0,1,0,1.43,0,.71.71,0,0,0-.05-.25l-.2-.28a.71.71,0,0,0-.47-.19A.72.72,0,0,0,543.89,30.94Zm-9.69,2.65a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,33.59Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,33.59ZM530.65,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,37Zm-10.4,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,40.33Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,40.33Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,40.33ZM530.65,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,43.7Zm-10.4,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,47.07Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,47.07Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,47.07Zm-10.53,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,551.58,50.44ZM534.2,53.81a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,53.81Zm-10.53,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,551.58,57.18ZM534.2,60.55a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,60.55Zm-10.53,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,551.58,63.92ZM534.2,67.29a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,67.29Zm-17.51,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,70.66ZM534.2,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,548.15,74Zm-17.51,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,77.39Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,544.6,77.39Zm-10.4,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,80.76Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,541.18,80.76Zm-10.53,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,84.13Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,537.62,84.13ZM534.2,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,534.2,87.5Zm-3.55,3.37a.72.72,0,1,0,.72.72A.72.72,0,0,0,530.65,90.87Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="n-dots" class="dots" d="M588.87,48l.23.36A.7.7,0,0,1,588.87,48Zm-20-34.59a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,13.38Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,13.38Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,13.38Zm41.57,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,14.81Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,16.75Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,16.75Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,16.75Zm41.64,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,18.18Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,20.11Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,20.11Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,589.55,20.11Zm34.72,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,21.55Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,23.48Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,23.48Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,23.48Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,593,23.48Zm34.67,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,24.92Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,26.85Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,26.85Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,589.55,26.85Zm34.72,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,28.29Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,30.22Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,30.22Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,30.22Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,593,30.22Zm34.67,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,31.66Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,33.59Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,33.59Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,589.55,33.59Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,596.53,33.59ZM624.27,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,35ZM572.22,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,37Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,37ZM586,37a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,593,37Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,600,37Zm27.69,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,38.4Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,40.33Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,40.33Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,589.55,40.33Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,596.53,40.33Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,603.51,40.33Zm20.76,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,41.76Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,41.76Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,41.76ZM572.22,43.7a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,43.7Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,43.7Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,593,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,600,43.7Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,606.93,43.7Zm20.71,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,45.13Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,47.07Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,47.07Zm7.57.72a.72.72,0,1,0-1.43,0,.69.69,0,0,0,0,.18l.23.36a.7.7,0,0,0,.45.17A.72.72,0,0,0,590.27,47.79Zm6.26-.72a.72.72,0,1,0,.72.72A.72.72,0,0,0,596.53,47.07Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,603.51,47.07Zm20.76,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,48.5Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,48.5Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,48.5Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,50.44Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,50.44Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,593,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,600,50.44Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,606.93,50.44Zm20.71,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,51.87Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,53.81Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,53.81Zm13.83,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,596.53,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,603.51,53.81Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,610.48,53.81Zm13.78,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,55.24Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,57.18Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,57.18Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,57.18Zm14,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,600,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,606.93,57.18Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,613.91,57.18Zm13.73,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,58.61Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,60.55Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,60.55Zm20.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,603.51,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,610.48,60.55Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,617.46,60.55ZM624.27,62a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,62Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,63.92Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,63.92Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,63.92Zm20.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,606.93,63.92Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,613.91,63.92Zm13.73,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,65.35Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,67.29Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,67.29Zm20.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,603.51,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,610.48,67.29Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,617.46,67.29Zm6.81,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,68.72Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,68.72Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,68.72Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,70.66Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,70.66Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,70.66Zm20.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,606.93,70.66Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,613.91,70.66Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,620.72,70.66Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,72.09Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,72.09Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,72.09ZM568.84,74a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,74Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,74Zm27.79,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,610.48,74Zm7,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,617.46,74Zm6.81,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,75.46Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,75.46Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,75.46Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,77.39Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,77.39Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,77.39Zm27.91,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,613.91,77.39Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,620.72,77.39Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,78.83Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,78.83Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,78.83Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,80.76Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,80.76Zm34.76,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,617.46,80.76Zm6.81,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,82.2Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,82.2Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,82.2Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,84.13Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,84.13Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,84.13Zm27.91,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,613.91,84.13Zm6.81,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,620.72,84.13Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,85.57ZM568.84,87.5a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,87.5Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,87.5Zm34.76,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,617.46,87.5Zm6.81,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,88.94Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,90.87Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,90.87Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,90.87Zm34.72,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,620.72,90.87Zm6.93,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,92.3Zm-72.66,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,568.84,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,575.77,94.24Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,582.7,94.24Zm41.57,1.43a.72.72,0,1,0-.72-.72A.72.72,0,0,0,624.27,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,631.2,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,638.12,95.67Zm-65.91,1.94a.72.72,0,1,0,.72.72A.72.72,0,0,0,572.22,97.61Zm6.93,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,579.15,97.61Zm6.85,0a.72.72,0,1,0,.72.72A.72.72,0,0,0,586,97.61ZM627.64,99a.72.72,0,1,0-.72-.72A.72.72,0,0,0,627.64,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,634.57,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,641.5,99Z" transform="translate(0 9.96)" fill="#fff"/>
                <path id="e-dots" class="dots" d="M665.12,14.09a.72.72,0,1,1,.72.72A.72.72,0,0,1,665.12,14.09Zm7.64.72a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,14.81Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,14.81Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,14.81Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,14.81Zm-45.12,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,18.18Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,18.18Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,18.18Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,710.78,18.18Zm-44.95,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,21.55Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,21.55Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,21.55Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,21.55Zm-45.12,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,24.92Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,24.92Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,24.92Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,710.78,24.92Zm-44.95,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,28.29Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,28.29Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,28.29Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,28.29Zm-45.12,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,31.66Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,31.66ZM665.84,35a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,35ZM662.29,38.4a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,38.4Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,38.4Zm-10.3,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,41.76Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,41.76Zm6.93,0A.72.72,0,1,0,679,41,.72.72,0,0,0,679.69,41.76Zm-17.41,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,45.13Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,45.13Zm-10.3,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,48.5Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,48.5Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,48.5Zm-17.41,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,51.87Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,51.87Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,51.87Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,51.87Zm-38,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,55.24Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,55.24Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,55.24Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,55.24Zm-45.12,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,58.61Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,58.61Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,58.61Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,58.61Zm-38,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,62Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,62Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,62Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,62Zm-45.12,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,65.35Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,65.35Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,65.35Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,65.35Zm-38,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,68.72Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,68.72Zm6.93,0A.72.72,0,1,0,679,68,.72.72,0,0,0,679.69,68.72Zm-17.41,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,72.09Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,72.09Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,72.09Zm-10.3,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,75.46Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,75.46Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,75.46Zm-17.41,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,78.83Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,78.83Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,78.83Zm-10.3,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,82.2Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,82.2Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,82.2Zm-17.41,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,85.57Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,85.57Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,85.57Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,710.78,85.57Zm-44.95,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,679.69,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,88.94Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,88.94Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,88.94Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,88.94ZM662.29,92.3a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,92.3Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,92.3Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,92.3Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,710.78,92.3Zm-44.95,3.37a.72.72,0,1,0-.72-.72A.72.72,0,0,0,665.84,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,672.77,95.67Zm6.93,0A.72.72,0,1,0,679,95,.72.72,0,0,0,679.69,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,686.62,95.67Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,693.45,95.67Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,700.48,95.67Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,707.41,95.67ZM662.29,99a.72.72,0,1,0-.72-.72A.72.72,0,0,0,662.29,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,669.21,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,676.14,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,683.07,99Zm6.83,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,689.9,99Zm7,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,696.93,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,703.86,99Zm6.93,0a.72.72,0,1,0-.72-.72A.72.72,0,0,0,710.78,99Z" transform="translate(0 9.96)" fill="#fff"/>
              </g>
              <g id="red-paths">
                <line clip-path="url(#mask)" class="red-stroke" id="a-stroke" x1="49.59" y1="4.05" x2="10.59" y2="106.05" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <line clip-path="url(#mask)" class="red-stroke" id="l-stroke" x1="110.09" y1="0.55" x2="110.09" y2="109.55" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <line clip-path="url(#mask)" class="red-stroke" id="l-2-stroke" x1="163.59" y1="91.05" x2="217.09" y2="91.05" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <line clip-path="url(#mask)" class="red-stroke" id="a-2-stroke" x1="283.59" y1="74.05" x2="318.59" y2="74.05" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <path clip-path="url(#mask)" class="red-stroke" id="s-stroke" d="M391.09,50.55c3.71,4.5,18.52,22.6,12,33-7.18,11.45-36.52,16.21-50-3a30.78,30.78,0,0,1-4-8" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="25.51"/>
                <path clip-path="url(#mask)" class="red-stroke" id="o-stroke" d="M472.59,56.55s-1-34,34.5-36" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <line clip-path="url(#mask)" class="red-stroke" id="n-stroke" x1="574.59" y1="0.55" x2="574.59" y2="109.55" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
                <line clip-path="url(#mask)" class="red-stroke" id="e-stroke" x1="657.59" y1="56.05" x2="706.59" y2="56.05" fill="none" stroke="#b2162b" stroke-miterlimit="10" stroke-width="22.68"/>
              </g>
              <g id="white-path">
                <path id="a-white-stroke" class="white-stroke" d="M352.84,95.33H331.25l-6.52-17.64H291.16l-6.52,17.64H263l35.6-88.2h18.6ZM308,34.39h-.21L298,60h19.88Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="l-white-stroke" class="white-stroke" d="M126.45,77.69h30.36V95.33H106.36V7.13h20.1Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="l-2-white-stroke" class="white-stroke" d="M192.45,77.69h30.36V95.33H172.36V7.13h20.1Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="a-2-white-stroke" class="white-stroke" d="M97.84,95.33H76.25L69.73,77.69H36.16L29.64,95.33H8l35.6-88.2h18.6ZM53,34.39h-.21L43,60H62.89Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="s-white-stroke" class="white-stroke" d="M419.52,13.87l-8.12,16s-8.77-6.09-17.85-6.09c-6.84,0-10.48,3.1-10.48,7.91s8.34,8.45,18.39,12.72c9.83,4.17,20.63,12.51,20.63,24.05,0,21.06-16,28.44-33.25,28.44-20.63,0-33.14-11.65-33.14-11.65l10-16.89s11.76,9.94,21.59,9.94c4.38,0,12.72-.43,12.72-8.66,0-6.42-9.41-9.3-19.88-14.54s-16.78-13.47-16.78-22.66c0-16.46,14.54-26.94,28.76-26.94A50.14,50.14,0,0,1,419.52,13.87Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="o-white-stroke" class="white-stroke" d="M511.88,5.53c24.48,0,44.36,19.88,44.36,45.65s-19,45.75-44.36,45.75c-26.08,0-44.47-20-44.47-45.75S487.62,5.53,511.88,5.53Zm0,71.95c16,0,22.66-13.15,22.66-26.3s-7.06-26.3-22.66-26.3S489.11,38,489.11,51.18,495.42,77.48,511.88,77.48Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="n-white-stroke" class="white-stroke" d="M590.57,95.33h-20.1V7.13h20.1l35.06,54.73h.21V7.13h20.1v88.2h-20.1L590.78,40.59h-.21Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
                <path id="e-white-stroke" class="white-stroke" d="M713.58,24.77H683.21V42.3h29.08V59.94H683.21V77.69h30.36V95.33H663.12V7.13h50.46Z" transform="translate(0 9.96)" fill="none" stroke="#fff" stroke-width="1.49"/>
              </g>
                </svg>
            <div class="home__hero--title-overlay"></div>
        </div>
      </div>
      <div class="home__hero--content"></div>
  </div>
</template>

<script>
    export default {
        name: 'hero-home',
        props: {
            herobg: {
                type: String
            },
            columnimageone: {
                type: String
            },
            columnimagetwo: {
                type: String
            },
            columnimagethree: {
                type: String
            },
            youtubeidone: {
                type: String
            },
            youtubeidtwo: {
                type: String,
            },
            youtubeidthree: {
                type: String
            }
        },
        mounted() {

            var letters = document.querySelectorAll(".white-stroke");
            var decals = document.querySelectorAll(".red-stroke");
            var dots = document.querySelectorAll(".dots");
            var bg = document.getElementById("home__hero--bg");

            var heroOverlay = document.getElementById("home__hero--overlay");
            var heroColumn = document.querySelectorAll('.home__hero--column')

            function isMobile() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            }

            window.onload = function() {
                if (!isMobile()) {
                    introTl.play();
                }
            }

            if (!isMobile()) {
                var introTl = new TimelineLite({paused:true});

                introTl
                    .fromTo(heroOverlay, 1, {opacity: .3}, {opacity: .7})
                    .fromTo(letters, 1, {drawSVG:"0%", opacity: 0}, {drawSVG:"100%", opacity: 1})
                    .fromTo(decals, 1, {drawSVG:"0%", opacity: 0}, {drawSVG:"100%", opacity: 1}, "-=0.5")
                    .fromTo(dots, 1, {opacity: 0, y:"15%"}, {opacity: 1, y:"10%"}, "-=0.75")
                    .staggerFromTo(heroColumn, 0.25, {y: 100, opacity: 0, delay: 0.5}, {y: 0, opacity: 1}, 0.5)
                    .to(heroOverlay, 1, {opacity: 0, delay: 1})
                    .to(heroOverlay, 0.05, {y: "-100%"})
            }
        }
    }
</script>

<style lang="scss">

    .home__hero--overlay {
        display: none;

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 60;
            display: flex;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            background-color: $brand-black;
            will-change: opacity;
        }
    }

    .home__hero--bg {
        position: relative;
        order: 2;
        width: 100%;
        height: 60%;
        background-position: 50% 50%;
        background-size: cover;

        &.video-playing {
            height: 100%;
        }

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 50;
            display: flex;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;

            &.video-playing {
                height: auto;
            }
        }
    }

    .home__hero {
        position: relative;
        height: 80vh;
        margin-bottom: 100px;
    }

    .home__hero--intro {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        background-position: center center;
        background-size: cover;

        @media (min-width: $screen-lg-min) {
            display: block;
        }
    }

    #all-as-one {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }

    .home__hero--title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        width: 100%;
        height: 40%;
        background-image: url('../static/images/herobg.jpg');
        background-position: 50% 50%;
        background-size: cover;

        &.go-away {
            height: 0%;
        }

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 60;
            width: 70%;
            height: auto;
            background: none;
            transform: translate3d(-50%, -50%, 0);

            &.go-away {
                height: auto;
            }
        }
    }

    .home__hero--title-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($brand-black, 0.5);

        @media (min-width: $screen-lg-min) {
            display: none;
        }
    }
</style>
