<template>
    <div ref="faderWrapper" class="fader__wrapper">
        <svg class="dots-bg">
            <use xlink:href="../static/images/app.svg#dots-bg"></use>
        </svg>
        <div class="fader container" v-on:click="animationRoll()">
            <span ref="aboutWe" class="home-about_header home-about_we">All That</span>
            <span ref="aboutAre" class="home-about_header home-about_are">We Are</span>
            <div ref="imageList" class="home-about_images-list">
                <div ref="vertLine" class="vert_line"></div>
                <slot></slot>
                <p class="paragraph_style-1"><strong>Don’t be surprised if the line between living and learning gets a little blurry. There’s always so much happening here, all at once.</strong></p>
            </div>
        </div>
        <svg class="home_about--zig-zag">
            <use xlink:href="../static/images/app.svg#zig-zag"></use>
        </svg>
    </div>
</template>

<script>
    export default {
        name: 'home-about',
        data() {
            return {
                positionFromTop: undefined,
                animationFlag: false
            }
        },
        methods: {
            animationRoll: function() {
                var component = this;
                var images = this.$refs.imageList.getElementsByClassName("home-about_image");
                console.log(images);

                Velocity(images, 'transition.fadeOut', {
                    stagger: 1200,
                    duration: 1000,
                    complete: function() {
                        // Velocity(component.$refs.aboutWe, { translateX: "200px" });
                        // Velocity(component.$refs.aboutAre, { translateX: "-200px" });
                        // component.$refs.aboutWe.classList.add("closer");
                        // component.$refs.aboutAre.classList.add("closer");
                        // component.$refs.vertLine.classList.add("closer");
                    }
                });
            }
        },
        mounted() {
            // var component = this;
            // var x;
            // component.positionFromTop = component.$refs.faderWrapper.offsetTop;

            // console.log(component.positionFromTop);

            // window.onscroll = function() {
            //     x = window.scrollY;

            //     if (x > component.positionFromTop) {
            //         if (component.animationFlag == false) {
            //             component.animationRoll();
            //             component.animationFlag = true;
            //         }
            //     }
            // };
        }
    }
</script>

<style lang="scss">

    .fader__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        padding: 20px 0;
        margin-bottom: 60px;
        overflow: hidden;

        @media (min-width: $screen-md-min) {
            height: 100%;
            padding: 40px 0;
        }

        @media (min-width: $screen-lg-min) {
            height: 800px;
            padding: 0;
        }
    }

    .fader {
        position: relative;
        z-index: 1;
        padding: 0 !important;
        text-align: center;
        transition: all ease 0.24s;

        @media (min-width: $screen-lg-min) {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: initial;
        }

        .paragraph_style-1 {
            padding: 0 15px;
            text-align: center;

            @media (min-width: $screen-sm-min) {
                padding: 0;
            }
        }

        .fade-carousel + .paragraph_style-1 {
            margin-top: 40px;
        }
    }

    .home-about_header {
        color: $brand-cerulean;

        @extend .header_style-2;
    }

    .home-about_we,
    .home-about_are {
        transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
    }

    .home-about_we {
        margin-right: 2px;

        @media (min-width: $screen-lg-min) {
            order: 1;
        }

        &.closer {

            @media (min-width: $screen-lg-min) {
                transform: translate3d(200px, 0, 0);
            }
        }
    }

    .home-about_are {

        @media (min-width: $screen-lg-min) {
            order: 3;
        }

        &.closer {

            @media (min-width: $screen-lg-min) {
                transform: translate3d(-200px, 0, 0);
            }
        }
    }

    .home-about_images-list {
        position: relative;
        width: 100%;
        min-width: 320px;
        max-width: 768px;
        height: 100%;
        min-height: 252px;
        max-height: 604px;
        margin: 0 auto;
        margin-top: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 235px;

        @media (min-width: $screen-md-min) {
            width: 100%;
            min-width: 768px;
            max-width: 992px;
            height: 100%;
            min-height: 604px;
            max-height: 780px;
            background-size: 290px;
        }

        @media (min-width: $screen-lg-min) {
            order: 2;
            width: 705px;
            min-width: auto;
            max-width: auto;
            height: 555px;
            min-height: auto;
            max-height: auto;
            margin-top: 0;
        }

        .fade-carousel {
            height: 400px;

            @media (min-width: $screen-sm-min) {
                height: 450px;
            }

            @media (min-width: $screen-md-min) {
                height: 555px;
            }
        }
    }

    .home-about_image {
        position: absolute;
        left: 0;
        width: 100%;
        min-width: 320px;
        max-width: 768px;
        height: 100%;
        min-height: 252px;
        max-height: 604px;
        object-fit: contain;
        transition: all ease 0.24s;

        @media (min-width: $screen-md-min) {
            width: 100%;
            min-width: 768px;
            max-width: 992px;
            height: 100%;
            min-height: 604px;
            max-height: 780px;
        }

        @media (min-width: $screen-lg-min) {
            order: 2;
            width: 705px;
            min-width: auto;
            max-width: auto;
            height: 555px;
            min-height: auto;
            max-height: auto;
            object-fit: cover;
        }

        &:nth-child(1) {
            z-index: 3;
        }

        &:nth-child(2) {
            z-index: 2;
        }

        &:nth-child(3) {
            z-index: 1;
        }

        &.icon {
            width: 290px;
            height: 290px;
        }
    }

    .dots-bg {
        position: absolute;
        top: 5vh;
        left: 0;
        z-index: 0;
        width: 800px;
        height: 800px;
        fill: #f2f2f2;
    }

    .vert_line {
        position: absolute;
        top: -70px;
        left: 50%;
        z-index: 30;
        width: 2px;
        height: 150px;
        margin-left: -1px;
        background-color: $brand-carmine;
        transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.24s;
        will-change: height;

        &.closer {
            height: 0;
        }

        @media (min-width: $screen-lg-min) {
            left: 200px;
        }
    }

    .home_about--zig-zag {
        z-index: 30;
        display: block;
        width: 45px;
        height: 30px;
        margin-top: 40px;
        fill: $brand-black;

        @media (min-width: $screen-lg-min) {
            position: absolute;
            right: -2px;
            bottom: 200px;
            display: none;
            margin-top: 0;
        }
    }
</style>
