<template>
    <div class="home__intro">
        <div class="row container home__intro--widget">
            <div class="col-sm-12 col-lg-7 home__intro-widget--main">
                <h1 class="home__widget-head left-border" v-text="widgetheadline"></h1>
                <div class='home__intro-widget--border' v-on:mouseover="focusMode = true">
                    <div v-for="slide in slides" class="centered" v-bind:class="{ active: activeSlide == slide }">
                        <p v-text="slide.caption"></p>
                        <svg class="widget__zig-zag">
                            <use xlink:href="../static/images/app.svg#zig-zag"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-7 home__intro-widget--aside">
                <svg class="logo__badge rotate">
                    <use xlink:href="../static/images/app.svg#badge_est"></use>
                </svg>
                <div class="fade-carousel" v-on:mouseover="focusMode = true" v-on:mouseleave="focusMode = false">
                    <div v-for="slide in slides" class="fade-carousel_slide" v-bind:class="{ active: activeSlide == slide }">
                        <img class="home__widget--aside-image" :src="slide.image">
                    </div>
                    <a class="long__arrow--link" v-on:click="changeSlide()">
                        <svg class="widget__long-arrow">
                            <use xlink:href="../static/images/app.svg#icon_long-arrow"></use>
                        </svg>
                    </a>
                </div>
                <h3 class="home__intro-widget--caption home__intro-widget--caption-mobile">Biola</h3>
            </div>
        </div>
        <h3 class="home__intro-widget--caption home__intro-widget--caption-desktop">Biola</h3>
    </div>
</template>

<script>
    export default {
        name: 'home-widget',
        data() {
            return {
                activeSlide: undefined,
                focusMode: false
            }
        },
        props: {
            widgetheadline: {
                type: String
            },
            widgettext: {
                type: String
            },
            widgetlink: {
                type: String
            },
            slides: {
                type: Array,
                required: true
            }
        },
        methods: {
            changeSlide: function() {
                var currentSlideNum = this.slides.indexOf(this.activeSlide);

                if (currentSlideNum + 1 === this.slides.length) {
                    this.activeSlide = this.slides[0];
                } else {
                    this.activeSlide = this.slides[currentSlideNum + 1];
                }
            },
            autoChangeSlide: function() {
                var slider = this;
                setInterval(function(){
                    if (slider.focusMode == false) {
                        slider.changeSlide();
                    } else {
                        // Do nothing.
                    }
                }, 6000);
            },
        },
        mounted() {
            this.activeSlide = this.slides[0];
            this.autoChangeSlide();
        }
    }
</script>

<style lang="scss">

@keyframes rotation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.home__intro-widget--caption {
    font-family: 'LeagueSpartan-Bold';
    font-size: 18px;
    line-height: (100 / 100);
    color: $brand-white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3em;

    @media (min-width: $screen-lg-min) {
        margin-top: 70px;
        margin-right: -8em;
        letter-spacing: 8em;
    }
}

.home__intro-widget--caption-desktop {
    display: none;

    @media (min-width: $screen-lg-min) {
        display: block;
    }
}

.home__intro-widget--caption-mobile {
    position: absolute;
    top: 35px;
    left: 1.5em;
    display: block;
    width: 100%;

    @media (min-width: $screen-lg-min) {
        display: none;
    }
}

.long__arrow--link {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $brand-white;
    border-radius: 50%;
}

.widget__long-arrow {
    width: 25px;
    height: 25px;
    fill: $brand-crimson;
}

.logo__badge {
    position: absolute;
    top: -150px;
    right: -50px;
    bottom: auto;
    left: auto;
    z-index: 2;
    width: 100px;
    height: 100px;
    fill: $brand-crimson;
    transform-origin: 50% 50%;
    animation: rotation 10s infinite linear;

    @media (min-width: $screen-lg-min) {
        top: -50px;
        right: -30px;
        bottom: auto;
        left: auto;
    }
}

.widget__zig-zag {
    width: 35px;
    height: 20px;
    margin-top: 20px;
    fill: $brand-black;

    @media (min-width: $screen-md-min) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    @media (min-width: $screen-lg-min) {
        margin-top: 75px;
    }
}

.home__intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background: linear-gradient(to bottom, $brand-white 0%, $brand-cerulean 100%);

    @media (min-width: $screen-md-min) {
        padding: 100px 0;
    }
}

.home__intro--widget {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

    @media (min-width: $screen-lg-min) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.home__intro-widget--main {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-color: $brand-crimson;

    @media (min-width: $screen-lg-min) {
        z-index: 1;
    }
}

.home__intro-widget--aside {
    position: relative;
    z-index: 1;
    padding: 0 !important;

    .fade-carousel {
        height: 400px;

        @media (min-width: $screen-lg-min) {
            height: 500px;
        }
    }

    @media (min-width: $screen-lg-min) {
        z-index: 0;
        margin-top: 0;
        margin-left: -16.666667%;
    }
}

.home__widget-head {
    position: absolute;
    font-family: 'LeagueSpartan-Bold';
    font-size: 60px;
    line-height: (100 / 100);
    color: #991228;
    text-align: center;
    letter-spacing: 0.04em;

    @media (min-width: $screen-md-min) {
        font-size: 80px;
    }

    &.left-border {
        bottom: 150px;
        left: 25px;
        transform: rotate(-90deg);
        transform-origin: 0% 50%;

        @media (min-width: $screen-md-min) {
            bottom: -45px;
            left: 15px;
        }
    }
}

.home__intro-widget--border {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-family: 'LeagueSpartan-Bold';
    font-size: 15px;
    line-height: (180 / 100);
    color: $brand-white;
    letter-spacing: 0.04em;
    background-color: #fc3638;

    @media (min-width: $screen-md-min) {
        padding: 150px;
        margin-bottom: 40px;
        margin-left: 40px;
        font-size: 22px;
        line-height: (160 / 100);
    }

    @media (min-width: $screen-lg-min) {
        height: 550px;
        padding: 100px;
    }

    .centered {
        position: absolute;
        width: calc(100% - 100px);
        opacity: 0;

        @extend .slow_transition;

        @media (min-width: $screen-md-min) {
            width: calc(100% - 300px);
        }

        @media (min-width: $screen-lg-min) {
            width: calc(100% - 200px);
        }

        &.active {
            opacity: 1;
        }
    }
}

.home__widget--aside-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- Styles taken directly from Global fade carousel component. ------ */

.fade-carousel {
    position: relative;
}

.fade-carousel_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;

    @extend .slow_transition;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.long__arrow--link {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: $brand-white;
    border-radius: 50%;
}
</style>
