<template>
    <div class="home-carousel_wrap" v-on:mouseover="focusMode = true" v-on:mouseleave="focusMode = false">
        <div class="home-carousel">
            <a v-for="slide in slides" class="home-carousel_slide" v-bind:class="{ active: activeSlide == slide }" :style="'background-image: url(' + slide.image + ')'" :href="slide.url">
                <div class="home-carousel_overlay">
                    <div class="centered">
                        <h2 class="header_style-2" v-text="slide.title"></h2>
                        <div class="lead-text" v-text="slide.leadtext"></div>
                        <img v-if="slide.icon" class="home-carousel_icon" :src="slide.icon" access-hidden="true" :alt="slide.alt">
                    </div>
                </div>
            </a>
        </div>
        <button class="home-carousel_button play" v-on:click="changeSlide()">
            <svg>
                <use xlink:href="../static/images/app.svg#icon_long-arrow"></use>
            </svg>
            <span class="access-hidden">Play Button</span>
        </button>
        <button class="access-hidden" v-on:click="focusMode = !focusMode">
            <span>Accessible Pause / Pause Button</span>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'home-carousel',
        data() {
            return {
                activeSlide: undefined,
                focusMode: false
            }
        },
        props: {
            slides: {
                type: Array,
                required: true
            }
        },
        methods: {
            changeSlide: function() {
                var currentSlideNum = this.slides.indexOf(this.activeSlide);

                if (currentSlideNum + 1 === this.slides.length) {
                    this.activeSlide = this.slides[0];
                } else {
                    this.activeSlide = this.slides[currentSlideNum + 1];
                }
            },
            autoChangeSlide: function() {
                var slider = this;
                setInterval(function(){
                    if (slider.focusMode == false) {
                        slider.changeSlide();
                    } else {
                        // Do nothing.
                    }
                }, 6000);
            },
        },
        mounted() {
            this.activeSlide = this.slides[0];
            this.autoChangeSlide();
        }
    }
</script>

<style lang="scss">
    .home-carousel_wrap {
        position: relative;
    }

    .home-carousel {
        position: relative;
        width: 100vw;
        height: 80vh;
    }

    .home-carousel_slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: all 0.6s 0.5s ease;

        &::before,
        &::after {
            position: absolute;
            top: calc(50% - 1px);
            z-index: 1;
            width: 0;
            height: 1px;
            content: '';
            background-color: $brand-vermillion;
            transition: width 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-delay: 0.6s;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &.active {
            opacity: 1;
            transition: all 0.6s 0.05s ease;

            &::before,
            &::after {
                width: calc(50% - 150px);

                @media (min-width: $screen-sm-min) {
                    width: calc(50% - 220px);
                }
            }

            .centered {
                opacity: 1;
            }
        }

        .centered {
            opacity: 0;
            transition: opacity 0.4s;
            transition-delay: 0.6s;
        }
    }

    .home-carousel_overlay {
        color: $brand-white;

        /* background-color: rgba(0, 0, 0, 0.5); */

        @extend .overlay;

        .centered {
            max-width: 300px;
            padding: 30px 15px;
            text-align: center;
            background-color: rgba(255, 52, 46, 0.9);

            @media (min-width: $screen-sm-min) {
                max-width: 400px;
            }
        }

        .lead-text {
            margin-bottom: 0;
        }

        .header_style-2 {
            margin-bottom: 20px;
        }

        .lead-text,
        .header_style-2 {
            color: $brand-white;
        }
    }

    .home-carousel_icon {
        width: 44px;
        margin-top: 30px;
    }

    .home-carousel_button {
        position: absolute;
        bottom: 25px;
        width: 54px;
        height: 54px;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid $brand-vermillion;
        border-radius: 30px;
        appearance: none;

        @extend .standard_transition;

        @media (min-width: $screen-md-min) {
            bottom: 50px;
        }

        &.play {
            right: 25px;

            @media (min-width: $screen-md-min) {
                right: 50px;
            }

            svg {
                width: 14px;
                height: 9px;
                fill: $brand-vermillion;

                @extend .standard_transition;
            }
        }

        &.pause {
            left: 50px;
        }

        &:hover {
            background-color: $brand-vermillion;

            svg {
                fill: $brand-charcoal;
            }
        }
    }
</style>
