<template>
	<ul class="button-scaffolding" v-bind:class="{'two-col': columns == 2, 'three-col': columns == 3}">
		<li v-for="button in buttons" class="button-scaffolding_item">
            <a class="btn-global mini solid" :href="button.url" v-text="button.name"></a>    
        </li>
	</ul>
</template>

<script>
	export default {
		name: 'button-scaffolding',
        props: {
            buttons: {
                type: Array,
                required: true
            },
            columns: {
                type: Number,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .button-scaffolding {
        margin: 0 auto 60px;
        font-size: 0;
        text-align: center;

        &.two-col {

            @media (min-width: $screen-md-min) {
                width: 520px;
            }
        }

        &.three-col {

            @media (min-width: $screen-md-min) {
                width: 100%;
            }
        }
    }

    .button-scaffolding_item {
        display: block;
        margin: 0 0 20px;

        @media (min-width: $screen-sm-min) {
            display: inline-block;
            width: 230px;
            margin: 0 10px 20px;
        }

        .btn-global {
            padding: 14px 10px !important;
            margin: 0;
        }
    }
</style>
